{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block title %}
<!-- รายละเอียด site -->
{% if searchTitle is defined %}
<title>{{ searchTitle }} - {{ siteTitle }}</title>
{% else %}
<title>{{ siteTitle }}</title>
{% endif %}


<meta name="description" content="{{ siteDesc }}" />
<meta name="keyword" content="{{ siteKeyword }}"/>
<meta name="author" content="{{ siteAuthor }}"/>
<meta name="copyright" content="{{ siteCopyRight }}"/>
<meta name="robot" content="{{ siteRobot }}"/>
<meta name="revisit-after" content="{{ siteRevisitAfter }}"/>
<meta name="distribution" content="{{ siteDistribution }}"/>

<!-- facebook tag -->
<meta property="og:title" content="{{ siteTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ siteUrl }}"/>
<meta property="og:image" content="{{ siteImage }}"/>
<meta property="og:site_name" content="FindTheRoom"/>
<meta property="fb:admins" content="USER_ID"/>
<meta property="og:description" content="{{ siteDesc }}"/>
<!-- #รายละเอียด site -->
{% endblock %}
{% block body %}
<script type="text/javascript">
    $(function() {
        $("#demo5").paginate({
            count 		: {{ countNumPage }},
            start 		: 1,
            display     : 20,
            border					: false,
            text_color  			: '#423C3B',
            text_hover_color  		: '#423C3B',
            images					: false,
            mouse					: 'press'
        });
    });

    //Reload id
    function reloadId(id, url){
        $(id).load(url).fadeOut(timeOut).fadeIn(timeUp);
    }

    function switchDisplay(pageName){
        {#alert(pageName);#}
        {#alert({{ numData }});#}
        var url = "{{path('FTRWebBundle_list')}}";
        $.ajax({
            type: 'POST',
            url: window.location + "&numPage=" + pageName + "&isAjax=yes",
            data: $('#frmSearch').serialize(),
            success: function(response) {
                $("#show").html(response);
                $("#show").fadeIn(400);
//                document.getElementById("show").innerHTML = response;
        }});
    }
</script>
{% if searchType == 'shortSearch' or searchType == 'txtSearch' %}
    {% render "FTRWebBundle:Search:shortsearch" with {'parameter': parameter} %}
{% endif %}
{% if searchType == 'fullSearch' %}
{% render "FTRWebBundle:Search:fullsearch" with {'parameter': parameter} %}
{% endif %}

{% render "FTRWebBundle:List:showList" with {'dataSet': dataSet } %}

{% if numData > 10 %}
<div id="paging" style="padding-top: 10px;">
    <!--<a href="#" class="page" style="float:left; padding-left:10px;">หน้าแรก</a>-->
    <div id="demo5"></div>
    <!--<a href="#" class="page" style="float:right; padding-right: 10px;">หน้าสุดท้าย</a>-->
</div>
{% endif %}
{% render "FTRWebBundle:Main:recom" %}

{% endblock %}