{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<script type="text/javascript">
    $(function() {
        $("#demo5").paginate({
            count 		: 30,
            start 		: 1,
            display     : 20,
            border					: false,
            text_color  			: '#423C3B',
            text_hover_color  		: '#423C3B',
            images					: false,
            mouse					: 'press'
        });
    });
</script>


{% render "FTRWebBundle:Search:shortsearch" with {'name': name} %}




<div id="show">
<span class="big">ผลการค้นหาห้องพัก</span><br />
<span class="normal" style="float:left">แสดงผล 55 - 60 จาก {{ numdata }}</span>
<span class="normal" style="float:right; margin-left:20px;">ต่อหน้า</span>
<div class="styled-select">
    <select class="select">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
<span class="normal" style="float:right; margin-right:20px;">แสดงผล</span><br><br>
    {% for rlist in result %}
    <div class="result">
        <div class="wifi"></div>
        <div style=" display:block; position: absolute; margin-left: 0px; margin-top: 127px; width:200px; text-align:center;">ราคา 4,500 - 9,000 บาท</div>
        <img src="{{asset('images/show.png')}}" />
        <div class="desc">
            <table border="0" width="500" style="margin-top:-8px;">
                <tr style="font-size:26px">
                    <td width="90">
                        หอพัก
                    </td>
                    <td colspan="3">
                        {{ rlist.building_name }}
                    </td>
                </tr>
                <tr>
                    <td width="90">
                        ประเภท
                    </td>
                    <td width="180">
                        {{ rlist.type_name }}
                    </td>
                    <td width="90">
                        ชนิด
                    </td>
                    <td width="180">
                        {{ rlist.typename }}
                    </td>
                </tr>
                <tr>
                    <td width="90" valign="top">
                        ที่อยู่
                    </td>
                    <td colspan="3">
                        {{ rlist.addr_number }}   {{ rlist.addr_prefecture }}     {{ rlist.addr_province }}
                        {{ rlist.addr_zipcode }}
                    </td>
                </tr>
                <tr>
                    <td width="90" valign="top" id="tade">
                        รายละเอียด
                    </td>
                    <td colspan="3">
                        <div style="height:43px; overflow:hidden;">
                            {{ rlist.detail }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dmap">
            <span style="float:left; margin-right: 15px;">แผนที่</span>
            <a id="gmap" href="{{asset('images/Apartment/ap1.png')}}" style="float:left; margin-right: 10px; margin-top: -10px;"><img src="{{asset('images/gmap.png')}}" /></a>
            <a id="imap" href="{{asset('images/Apartment/ap1.png')}}" style="float:left; margin-top: -10px;"><img src="{{asset('images/imap.png')}}" /></a>
            <input class="view" type="submit" value="" />
        </div>
    </div>
    {% endfor %}
</div>



<div id="paging" style="padding-top: 10px;">
    <!--<a href="#" class="page" style="float:left; padding-left:10px;">หน้าแรก</a>-->
    <div id="demo5"></div>
    <!--<a href="#" class="page" style="float:right; padding-right: 10px;">หน้าสุดท้าย</a>-->
</div>

{% render "FTRWebBundle:Main:recom" %}

{% endblock %}