<div id = "showList">
    <div id="show">
        <span class="big">ผลการค้นหา</span><span class="normal"> เจอทั้งหมด {{ numData }} ห้องพัก</span>
    <span class="normal" style="float:right; padding-top:3px;">
        {% if numData > 0 %}
        แสดงผล {{ numStartDisplay }} - {{ numEnd }} จาก {{ numData }}
        {% endif %}
    </span>
     <br>
        {% if numData > 0 %}
        {% for rlist in result %}
        {#<!-- <form action="{{path('FTRWebBundle_detail')}}" method="post"> -->#}
        <form action="{{path('FTRWebBundle_defalut_countclick')}}?clickType=buildingsite&id={{rlist.id}}&province={{rlist.PROVINCE_NAME}}&prefactre={{rlist.AMPHUR_NAME}}&slug={{rlist.slug}}" method="post">
            <input type="hidden" value="{{ rlist.id }}" name ="bid" id="bid">
            <div class="result">
                {% if rlist.wifi == true %}

                    <div class="wifi"></div>

                    {#{% if rlist.wifi is not null %}#}
                        {#{{ rlist.wifi}}#}
                    {#{% else %}#}
                        {#<div class="wifi"></div>#}
                    {#{% endif %}#}

                {% endif %}

                <div style=" display:block; position: absolute; margin-left: 0px; margin-top: 127px; width:200px; text-align:center;">ราคา {{ rlist.start_price }} - {{ rlist.end_price }} บาท</div>
                <div class="thumbframe">
                        {#<img src="{{asset('images/default-image.png')}}" class="thumb omega"/>#}

                    {% if rlist.image_head is defined %}
                        <a href="{{ path('FTRWebBundle_detail', {'buildId':rlist.id, 'province':rlist.PROVINCE_NAME, 'prefecture':rlist.AMPHUR_NAME, 'slug':rlist.slug}) }}" target="_blank">
                            <img src="{{ asset('images/building/')}}{{ rlist.id }}/{{rlist.image_head}}" class="thumb omega" />
                        </a>
                    {%else%}
                        <img src='{{asset('images/default-image.png')}}' class='thumb omega'>
                    {%endif%}
                </div>

                <div class="desc">
                    <table width="600" border="0" style="margin-top:-8px; position:relative;">
                        <tr style="font-size:26px">
                            <td width="90">
                                หอพัก
                            </td>
                            <td colspan="3">
                                <a href="{{ path('FTRWebBundle_detail', {'buildId':rlist.id, 'province':rlist.PROVINCE_NAME, 'prefecture':rlist.AMPHUR_NAME, 'slug':rlist.slug}) }}" target="_blank">
                                    {{ rlist.building_name }}
                                </a>

                            </td>
                        </tr>
                        <tr>
                            <td width="90">
                                ประเภท
                            </td>
                            <td width="180">
                                {{ rlist.type_name }}
                            </td>
                            <td width="90">
                                ชนิด
                            </td>
                            <td width="180">
                                {{ rlist.typename }}
                            </td>
                        </tr>
                        <tr>
                            <td width="90" valign="top">
                                {% if rlist.PROVINCE_NAME == "กรุงเทพมหานคร" %}
                                โซนในกรุงเทพฯ
                                {% else %}
                                อำเภอ
                                {% endif %}

                            </td>
                            <td width="180">
                                {{ rlist.AMPHUR_NAME }}
                                <!--{{ rlist.addr_number }} {{ rlist.addr_prefecture }} {{ rlist.addr_province }} {{ rlist.addr_zipcode }}-->
                            </td>
                            <td width="90">
                                จังหวัด
                            </td>
                            <td width="180">
                                {{ rlist.PROVINCE_NAME }}
                            </td>
                        </tr>
                        <tr>
                            <td width="90" valign="top" id="tade">
                                รายละเอียด
                            </td>
                            <td colspan="3">
                                <div class="short">

                                    {{ rlist.detail }}

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="dmap">
                    <span style="float:left; margin-right: 15px;">แผนที่</span>
                    {% if rlist.image_map is defined %}
                    	<a id="imap" href="{{ asset('images/building/')}}{{ rlist.id }}/{{rlist.image_map}}" style="float:left; margin-right: 10px; margin-top: -10px;"><img src="{{asset('images/imap.png')}}" /></a>
                    {% endif %}
                    <input class="view" type="submit" value="" />
                    {% if rlist.latitude %}
                        {% if rlist.longitude %}
                        {#<a id="imap" href="{{ asset('images/building/')}}{{ id }}/{{map}}" style="float:left; margin-top: -10px;"><img src="{{asset('images/imap.png')}}" /></a>#}
                                <a id="gmap" class="iframe" href="{{ path('FTRWebBundle_googlemap_view', {'id':rlist.id}) }}" style="float:left; margin-top: -10px;"><img src="{{asset('images/gmap.png')}}" /></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </form>
        {% endfor %}
        {% else %}
        <div class="detail2"><span class="noData">ไม่พบข้อมูลที่ต้องการค้นหา</span></div>
        {% endif %}
    </div>
</div>