<h1>Nearly2site list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Building_site_id</th>
            <th>Nearly_location_id</th>
            <th>Deleted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('nearly2site_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.buildingsiteid }}</td>
            <td>{{ entity.nearlylocationid }}</td>
            <td>{{ entity.deleted }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('nearly2site_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('nearly2site_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('nearly2site_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
