<h1>Nearly2site</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Building_site_id</th>
            <td>{{ entity.buildingsiteid }}</td>
        </tr>
        <tr>
            <th>Nearly_location_id</th>
            <td>{{ entity.nearlylocationid }}</td>
        </tr>
        <tr>
            <th>Deleted</th>
            <td>{{ entity.deleted }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('nearly2site') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('nearly2site_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('nearly2site_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
