<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script  src='{{asset("js/paging/data_table/event.js")}}'></script>

<script>

    //ประกาศค่าเริ่มต้น
    var urlPost = "{{ path('pay_type_show') }}";
    var urlEdit = "{{ path('pay_type_update', { 'id': entity.id }) }}";
    var idCheck = "#ftr_adminbundle_pay_typetype_typename";
    var namePage = 'Pay Type';

</script>

<style type="text/css">
    #btnEdit {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        display: block;
        float: none;
        height: 50px;
        position: absolute;
        margin-left: 70px;
        margin-top: -55px;
    }

    #btnInputEdit {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
</style>

<fieldset id="editField">
    <form id="formEdit" action="{{ path('pay_type_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class="label" style="">
            {{ form_label(edit_form.typename) }}
        </div>
        {{ form_widget(edit_form.typename, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(edit_form.typename) }}
        <br />

        {{ form_widget(edit_form) }}
        <span style="float: right;">
            <img src="{{ asset('images/cancel.png')}}" id="btnCancelEdit" width="50" height="50" style="cursor:pointer;margin-right: 70px" />
                &nbsp;&nbsp;
            <div id="btnEdit">
                <input type="submit" id="btnInputEdit" value="Edit">
            </div>
        </span>
    </form>
</fieldset>
