{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<div id="container">
	<div id="slides">
		<div class="slides_container">
			<div class="slide">
				<a href='#' title="" target="_new"><img src="{{asset('images/slider/slide-1.jpg')}}" width="1000" height="300"></a>
                <div class="caption">
                	<p>1 ห้องพักสุดหรู พร้อมชุดห้องครัวในตัว ราคาพิเศษ <span class="sale">7,000</span> บาท -> 5,000 บาท</p>
                </div>
            </div>
            <div class="slide">
				<a href='#' title="" target="_new"><img src="{{asset('images/slider/slide-2.jpg')}}" width="1000" height="300"></a>
                <div class="caption">
                    <p>2 ห้องพักสุดหรู พร้อมชุดห้องครัวในตัว ราคาพิเศษ <span class="sale">7,000</span> บาท -> 5,000 บาท</p>
                </div>
            </div>
            <div class="slide">
				<a href='#' title="" target="_new"><img src="{{asset('images/slider/slide-3.jpg')}}" width="1000" height="300"></a>
                <div class="caption">
                    <p>3 ห้องพักสุดหรู พร้อมชุดห้องครัวในตัว ราคาพิเศษ <span class="sale">7,000</span> บาท -> 5,000 บาท</p>
                </div>
            </div>
		</div>
		<a href='#' class="prev"><img src="{{asset('images/slider/arrow-prev.png')}}" width="29" height="57" alt="Arrow Prev"></a>
		<a href='#' class="next"><img src="{{asset('images/slider/arrow-next.png')}}" width="29" height="57" alt="Arrow Next"></a>
	</div>
</div>

<div id="search1">
	<div id="i_containTab">
        <ul id="navi_containTab">  
            <li id="tabNavi1" class="active" onclick="enact(this)"></li> 
            <li id="tabNavi2" onclick="enact(this)"></li>
            <li id="tabNavi3" onclick="enact(this)"></li>
   		</ul>
        <span class="or">หรือ</span><a href='#' class="link" target="_new">ค้นหาอย่างละเอียด</a>
        <hr class="line" style="top: 60px" />
    	<ul id="detail_containTab">  
            <li class="detailContent1">
            	<div>
                    <table>
                        <tr height="50" valign="middle">
                            <td align="right" style="padding-right:15px">เขต :</td>
                            <td width="350">
                            	<div class="styled-select">
                            	<select class="select">
  									<option value="all">ทุกเขต</option>
                                    <option value="banken">บางเขน</option>
                                    <option value="vipawadee">วิภาวดีรังสิต</option>
                                    <option value="etc">อื่นๆ</option>
								</select>
                                </div>
                            </td>
                            <td align="right" style="padding-right:15px">ราคาเริ่มต้น :</td>
                            <td width="330">
                            	<input class="price" name="lessprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาเริ่มต้น" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
                            </td>
                            <td>&nbsp;
                            	
                            </td>
                        </tr>
                        <tr height="50" valign="middle">
                            <td align="right" style="padding-right:15px">ประเภทห้องพัก :</td>
                            <td>
                            	<div class="styled-select">
                            	<select class="select">
                                	<option value="all">ทุกประเภท</option>
  									<option value="apartment">อพาร์ทเม้นต์</option>
                                    <option value="man">หอชาย</option>
                                    <option value="woman">หอหญิง</option>
								</select>
                                </div>
                            </td>
                            <td align="right" style="padding-right:15px">ราคาไม่เกิน :</td>
                            <td>
                            	<input class="price" name="mostprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาไม่เกิน" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
                            </td>
                            <td>
                            	<input class="search" type="submit" value="" />
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            
            <li class="detailContent2">
            	<div>
                    <table>
                        <tr height="50" valign="middle">
                            <td align="right">เขต :</td>
                            <td width="350">
                            	<div class="styled-select">
                            	<select class="select">
  									<option value="all">ทุกเขต</option>
                                    <option value="banken">บางเขน</option>
                                    <option value="vipawadee">ดินแดง</option>
                                    <option value="etc">อื่นๆ</option>
								</select>
                                </div>
                            </td>
                            <td align="right">ราคาเริ่มต้น :</td>
                            <td width="350">
                            	<input class="price" name="lessprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาเริ่มต้น" /> บาท
                            </td>
                            <td>&nbsp;
                            	
                            </td>
                        </tr>
                        <tr height="50" valign="middle">
                            <td align="right">ประเภทห้องพัก :</td>
                            <td>
                            	<div class="styled-select">
                            	<select class="select">
                                	<option value="all">ทุกประเภท</option>
  									<option value="apartment">อพาร์ทเม้นต์</option>
                                    <option value="man">หอชาย</option>
                                    <option value="woman">หอหญิง</option>
								</select>
                                </div>
                            </td>
                            <td align="right">ราคาไม่เกิน :</td>
                            <td>
                            	<input class="price" name="mostprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาไม่เกิน" /> บาท
                            </td>
                            <td>
                            	<input class="search" type="submit" value="" />
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            
            <li class="detailContent3">
            	<div style="float:left">
                	 <input class="map1" type="submit" value="" />
                     <input class="map2" type="submit" value="" />
                     <input class="map3" type="submit" value="" />
                     <input class="map4" type="submit" value="" />
                </div>
                <div style="float:left; margin-left: 30px;">
                	<img src="{{asset('images/gg-map.png')}}" />
                    <img src="{{asset('images/gg-type.png')}}" class="style" />
                </div>
            </li>
    	</ul>  
    </div>
</div>

<div id="recommend">
	<div id="i_containTab2">
        <ul id="navi_containTab2">  
            <li id="tabNavi4" class="active" onclick="enact(this);"></li> 
            <li id="tabNavi5" onclick="enact(this);"></li>
            <li id="tabNavi6" onclick="enact(this);"></li>
        </ul>
        <hr class="line" style="top: 60px; position: inherit;" />
    	<ul id="detail_containTab2">  
            <li class="detailContent4">
                <div id="container2">
                    <div id="slides2">
                        <div class="slides_container" style="width:950px;">
                        	<!-- {% for recom1 in item1%}                        	
                        		{{recom1.building_name}}
                        		{{recom1.name}}
                        		{{recom1.type_name}}
                        	{% endfor %}
                        	{% for recom2 in item2%}
                        		{{recom2.building_name}}
                        		{{recom2.name}}
                        		{{recom2.type_name}}
                        	{% endfor %}
                        	{% for recom3 in item3%}
                        		{{recom3.building_name}}
                        		{{recom3.name}}
                        		{{recom3.type_name}}
                        	{% endfor %} -->
                        	<!-- {% for i in 0..1 %} -->
                            <div class="slide" style="width:950px;">
                            	{% for recom1 in item1%}
                            	{% if item1|length >= 3 %}
                            	<div class="ap2">                            		
                            	{% else %}
                            	<div class="ap">
                            	{% endif %}
                                	<div class="recom"></div>
                                    <img src="{{asset('images/Apartment/ap1.png')}}" /><br /><br />
                                    <span style='color:#FFF;'>
                                    	<b style="font-size:24px">{{recom1.building_name}}</b><br />
								                                        ประเภท : {{recom1.type_name}}<br />
								                                        เขต : {{recom1.zonename}}<br /><br />
								                                        ราคา : {{recom1.start_price}} - {{recom1.end_price}} บาท
                                    </span>
                                </div>       
                                {% endfor %}  
                            </div>
                            <!-- {% endfor %}  -->
                        </div>
                        <a href='#' class="prev"><img src="{{asset('images/slider/arrow-prev2.png')}}" width="29" height="57" alt="Arrow Prev"></a>
                        <a href='#' class="next"><img src="{{asset('images/slider/arrow-next2.png')}}" width="29" height="57" alt="Arrow Next"></a>
                    </div>
                </div>
            </li>
            <li class="detailContent5">
                <div id="container3">
                    <div id="slides3">
                        <div class="slides_container" style="width:950px;">
                        	<!-- {% for recom1 in item1%}                        	
                        		{{recom1.building_name}}
                        		{{recom1.name}}
                        		{{recom1.type_name}}
                        	{% endfor %}
                        	{% for recom2 in item2%}
                        		{{recom2.building_name}}
                        		{{recom2.name}}
                        		{{recom2.type_name}}
                        	{% endfor %}
                        	{% for recom3 in item3%}
                        		{{recom3.building_name}}
                        		{{recom3.name}}
                        		{{recom3.type_name}}
                        	{% endfor %} -->
                        	<!-- {% for i in 0..1 %} -->
                            <div class="slide" style="width:950px;">                            	
                            	{% for recom2 in item2%}
                            	{% if item2|length >= 3 %}
                            	<div class="ap2">                            		
                            	{% else %}
                            	<div class="ap">
                            	{% endif %}
                                	<div class="recom"></div>
                                    <img src="{{asset('images/Apartment/ap2.png')}}" /><br /><br />
                                    <span style='color:#FFF;'>
                                    	<b style="font-size:24px">{{recom2.building_name}}</b><br />
								                                        ประเภท : {{recom2.type_name}}<br />
								                                        เขต : {{recom2.zonename}}<br /><br />
								                                        ราคา : {{recom2.start_price}} - {{recom2.end_price}} บาท
                                    </span>
                                </div>       
                                {% endfor %}
                            </div>
                            <!-- {% endfor %}  -->
                        </div>
                        <a href='#' class="prev"><img src="{{asset('images/slider/arrow-prev2.png')}}" width="29" height="57" alt="Arrow Prev"></a>
                        <a href='#' class="next"><img src="{{asset('images/slider/arrow-next2.png')}}" width="29" height="57" alt="Arrow Next"></a>
                    </div>
                </div>
            </li>
            <li class="detailContent6">
                <div id="container4">
                    <div id="slides4">
                        <div class="slides_container" style="width:950px;">
                        	<!-- {% for recom1 in item1%}                        	
                        		{{recom1.building_name}}
                        		{{recom1.name}}
                        		{{recom1.type_name}}
                        	{% endfor %}
                        	{% for recom2 in item2%}
                        		{{recom2.building_name}}
                        		{{recom2.name}}
                        		{{recom2.type_name}}
                        	{% endfor %}
                        	{% for recom3 in item3%}
                        		{{recom3.building_name}}
                        		{{recom3.name}}
                        		{{recom3.type_name}}
                        	{% endfor %} -->
                        	<!-- {% for i in 0..1 %} -->
                        	
                            <div class="slide" style="width:950px;">
                            	{% for recom3 in item3%}
                            	{% if item3|length >= 3 %}
                            	<div class="ap2">
                            	{% else %}
                            	<div class="ap">
                            	{% endif %}
                                	<div class="recom"></div>
                                    <img src="{{asset('images/Apartment/ap3.png')}}" /><br /><br />
                                    <span style='color:#FFF;'>
                                    	<b style="font-size:24px">{{recom3.building_name}}</b><br />
								                                        ประเภท : {{recom3.type_name}}<br />
								                                        เขต : {{recom3.zonename}}<br /><br />
								                                        ราคา : {{recom3.start_price}} - {{recom3.end_price}} บาท
                                    </span>
                                </div>       
                                {% endfor %}  
                            </div>
                            <!-- {% endfor %}  -->
                        </div>
                        <a href='#' class="prev"><img src="{{asset('images/slider/arrow-prev2.png')}}" width="29" height="57" alt="Arrow Prev"></a>
                        <a href='#' class="next"><img src="{{asset('images/slider/arrow-next2.png')}}" width="29" height="57" alt="Arrow Next"></a>
                    </div>
                </div>
            </li>
            
    	</ul>  
    </div>
</div>

<div id="ad1">
	<a href='#'><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href='#' style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>

<div id="ad1">
	<a href='#'><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href='#' style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>

<div id="board">
	<br /><br />กระดานพูดคุย
</div>

<div id="ad1">
	<a href='#'><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href='#' style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
{% endblock %}