{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<script>
$(document).ready(function() {
	if('{{enable}}'==true){
		$.fancybox({
			'content'			: "{{path('FTRWebBundle_regis_success')}}",
			'width'				: 700,
			'height'			: 400,
			'autoScale'			: false,
			'transitionIn'		: 'elastic',
			'transitionOut'		: 'elastic',
			'type'				: 'iframe'
		});
	}
});
</script>
<div id="container">
	<div id="slides">
		<div class="slides_container">
			
			<div class="slide">
				<a href='#' title="" target="_new"><img src="{{asset('images/slider/slide-1.jpg')}}" width="1000" height="300"></a>
				<!--<div class="caption">
					<p>
						1 ห้องพักสุดหรู พร้อมชุดห้องครัวในตัว ราคาพิเศษ <span class="sale">7,000</span> บาท -> 5,000 บาท
					</p>
				</div>-->
			</div>
			<div class="slide">
				<a href='#' title="" target="_new"><img src="{{asset('images/slider/slide-2.jpg')}}" width="1000" height="300"></a>
				<!--<div class="caption">
					<p>
						2 ห้องพักสุดหรู พร้อมชุดห้องครัวในตัว ราคาพิเศษ <span class="sale">7,000</span> บาท -> 5,000 บาท
					</p>
				</div>-->
			</div>
			<div class="slide">
				<a href='#' title="" target="_new"><img src="{{asset('images/slider/slide-3.jpg')}}" width="1000" height="300"></a>
				<!--<div class="caption">
					<p>
						3 ห้องพักสุดหรู พร้อมชุดห้องครัวในตัว ราคาพิเศษ <span class="sale">7,000</span> บาท -> 5,000 บาท
					</p>
				</div>-->
			</div>
			
		</div>
		<a href='#' class="prev"><img src="{{asset('images/slider/arrow-prev.png')}}" width="29" height="57" alt="Arrow Prev"></a>
		<a href='#' class="next"><img src="{{asset('images/slider/arrow-next.png')}}" width="29" height="57" alt="Arrow Next"></a>
	</div>
</div>


{% render "FTRWebBundle:Search:shortsearch" %}

{% render "FTRWebBundle:Main:recom" %}

<div class="clear"></div>
<div class="ad1">
	<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}" class="thumb"/></div></a>
    <a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}"  class="thumb"/></div></a>
    <a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}"  class="thumb"/></div></a>
    <a href='#'><div class="thumbframe omega"><img src="{{asset('images/ad/ad1.gif')}}"  class="thumb"/></div></a>

</div>
<div class="clear"></div>
<div class="ad1">
	<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}"  class="thumb"/></div></a>
    <a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}"  class="thumb"/></div></a>
    <a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}" class="thumb"/></div></a>
    <a href='#'><div class="thumbframe omega"><img src="{{asset('images/ad/ad1.gif')}}"  class="thumb"/></div></a>
</div>
<div class="clear"></div>

<!--
<div id="ad1">
	<a href='#'><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href='#' style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
<!--<div id="board">
	<br /><br />กระดานพูดคุย
</div>-->
<div id="update">
	<img src="{{asset('images/update.png')}}" /> <span class="time">( {{ last_update }} )</span>
	<hr class="line" style="top: 60px;" />
	<table>
		<thead>
			<tr>
				<th width="250">ชื่อหอพัก</th>
				<th width="150">ประเภท</th>
				<th width="150">ชนิด</th>
				<th width="200">เขต</th>
				<th width="150">ราคา</th>
			</tr>
		</thead>
		<tbody>
		
		{% for tlist in top_last_building %}
			<tr>
				<td class="first">{{ tlist.building_name }}</td>
				<td>{{ tlist.type_name }}</td>
				<td>{{ tlist.typename }}</td>
				<td>{{ tlist.zonename }}</td>
				<td>{{ tlist.start_price }} - {{ tlist.end_price }} บาท</td>
			</tr>
		{% endfor %}
		
		</tbody>
	</table>
</div>
<!--
<div class="ad1">
	<a href='#'><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href='#' style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
{% endblock %}