{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<script>
    $(document).ready(function () {
        if ('{{enable}}' == true) {
            $.fancybox({
                'content':"{{path('FTRWebBundle_regis_success')}}",
                'width':700,
                'height':400,
                'autoScale':false,
                'transitionIn':'elastic',
                'transitionOut':'elastic',
                'type':'iframe'
            });
        }
    });
</script>
<div id="container">
    <div id="slides">
        <div class="slides_container">
            {#<div class="slide"><a href='http://server3.sourcecode.co.th/openx/www/delivery/ck.php?n=ad62cf1a&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://server3.sourcecode.co.th/openx/www/delivery/avw.php?zoneid=45&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ad62cf1a' border='0' alt='' /></a></div>#}
            {#<div class="slide"><img src='http://server3.sourcecode.co.th/openx/www/delivery/avw.php?zoneid=46&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ad62cf1a' border='0' alt='' /></div>#}
            {#<div class="slide"><img src='http://server3.sourcecode.co.th/openx/www/delivery/avw.php?zoneid=47&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ad62cf1a' border='0' alt='' /></div>#}
            <!-- Comment for OpenX Loop Script -->
            {#{%for imageA in zoneA%}#}
            {#<div class="slide">#}
                {#{{imageA|raw}}#}
            {#</div>#}
            {#{%endfor%}#}
            {%if zoneA1 is empty and zoneA2 is empty and zoneA3 is empty and zoneA4 is empty and zoneA5 is empty and zoneA6 is empty and zoneA7 is empty and zoneA8 is empty and zoneA9 is empty and zoneA10 is empty%}
                <div class="slide">
                    <img src='{{asset('images/default/slide.jpg')}}' width="1000" height="300">
                </div>
            {%else%}
                {%if zoneA1%}
                    <div class="slide">
                        {{zoneA1|raw}}
                    </div>
                {%endif%}

                {%if zoneA2%}
                    <div class="slide">
                        {{zoneA2|raw}}
                    </div>
                {%endif%}

                {%if zoneA3%}
                    <div class="slide">
                        {{zoneA3|raw}}
                    </div>
                {%endif%}

                {%if zoneA4%}
                    <div class="slide">
                        {{zoneA4|raw}}
                    </div>
                {%endif%}

                {%if zoneA5%}
                    <div class="slide">
                        {{zoneA5|raw}}
                    </div>
                {%endif%}

                {%if zoneA6%}
                    <div class="slide">
                        {{zoneA6|raw}}
                    </div>
                {%endif%}

                {%if zoneA7%}
                    <div class="slide">
                        {{zoneA7|raw}}
                    </div>
                {%endif%}

                {%if zoneA8%}
                    <div class="slide">
                        {{zoneA8|raw}}
                    </div>
                {%endif%}

                {%if zoneA9%}
                    <div class="slide">
                        {{zoneA9|raw}}
                    </div>
                {%endif%}

                {%if zoneA10%}
                    <div class="slide">
                        {{zoneA10|raw}}
                    </div>
                {%endif%}
            {%endif%}
        </div>
        <a href='#' class="prev"><img src="{{asset('images/slider/arrow-prev.png')}}" width="29" height="57"
                                      alt="Arrow Prev"></a>
        <a href='#' class="next"><img src="{{asset('images/slider/arrow-next.png')}}" width="29" height="57"
                                      alt="Arrow Next"></a>
    </div>
</div>


{% render "FTRWebBundle:Search:shortsearch" %}

{% render "FTRWebBundle:Main:recom" %}
<div class="clear"></div>
<div class="ad1">
    <div class='thumbframe'>
        {%if zoneC1 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC1|raw}}
        {%endif%}

    </div>
    <div class='thumbframe'>
        {%if zoneC2 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC2|raw}}
        {%endif%}

    </div>
    <div class='thumbframe'>
        {%if zoneC3 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC3|raw}}
        {%endif%}

    </div>
    <div class='thumbframe omega'>
        {%if zoneC4 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC4|raw}}
        {%endif%}

    </div>
    <div class='thumbframe'>
        {%if zoneC5 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC5|raw}}
        {%endif%}

    </div>
    <div class='thumbframe'>
        {%if zoneC6 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC6|raw}}
        {%endif%}

    </div>
    <div class='thumbframe'>
        {%if zoneC7 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC7|raw}}
        {%endif%}

    </div>
    <div class='thumbframe omega'>
        {%if zoneC8 is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='thumb' alt='Visit Computer Hope'>
        {%else%}
        {{zoneC8|raw}}
        {%endif%}

    </div>
</div>
    {#{%set i = 0%}#}
    {#{% for imageC in zoneC %}#}
        {#{%if i%4 == 0%}#}
            {#<div class="ad1">#}
        {#{%endif%}#}
            {#{%set j = i+1%}#}
            {#{%if j%4 == 0%}#}
                {#<div class='thumbframe omega'>#}
            {#{%else%}#}
                {#<div class='thumbframe'>#}
            {#{%endif%}#}
            {#{{imageC|raw}}</div>#}
        {#{%set i = i+1%}#}
        {#{%if i%4 == 0%}#}
            {#</div>#}
        {#{%endif%}#}
    {#{%endfor%}#}
    {#<script type="text/javascript">#}

				{#var images = [],#}
				{#index = 0;#}
				{#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
				{#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
				{#index = Math.floor(Math.random() * images.length);#}
				{#document.write(images[0]);#}
				{#</script>#}

				{#<script type="text/javascript">#}
				{#var images = [],#}
				{#index = 0;#}
				{#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
				{#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
				{#index = Math.floor(Math.random() * images.length);#}
				{#document.write(images[index]);#}
				{#</script>#}
				{##}
				{#<script type="text/javascript">#}
				{#var images = [], #}
				{#index = 0;#}
				{#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
				{#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
				{#index = Math.floor(Math.random() * images.length);#}
				{#document.write(images[index]);#}
				{#</script>#}
				{##}
				{#<script type="text/javascript">#}
				{#var images = [], #}
				{#index = 0;#}
				{#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
				{#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
				{#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
				{#index = Math.floor(Math.random() * images.length);#}
				{#document.write(images[index]);#}
				{#</script>#}
				{##}
				{#<!--<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}" class="thumb" /></div></a>#}
				{#<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad2.gif')}}" class="thumb" /></div></a>#}
				{#<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad3.gif')}}" class="thumb" /></div></a>#}
				{#<a href='#'><div class="thumbframe omega"><img src="{{asset('images/ad/ad4.gif')}}" class="thumb" /></div></a>-->#}

{#<div class="clear"></div>#}
{#<div class="ad1">#}
    {#<script type="text/javascript">#}
        {#var images = [],#}
                {#index = 0;#}
        {#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
        {#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
        {#index = Math.floor(Math.random() * images.length);#}
        {#document.write(images[index]);#}
    {#</script>#}

    {#<script type="text/javascript">#}
        {#var images = [],#}
                {#index = 0;#}
        {#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
        {#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
        {#index = Math.floor(Math.random() * images.length);#}
        {#document.write(images[index]);#}
    {#</script>#}

    {#<script type="text/javascript">#}
        {#var images = [],#}
                {#index = 0;#}
        {#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
        {#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
        {#index = Math.floor(Math.random() * images.length);#}
        {#document.write(images[index]);#}
    {#</script>#}

    {#<script type="text/javascript">#}
        {#var images = [],#}
                {#index = 0;#}
        {#images[0] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad1.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[1] = "<a href = 'http://www.computerhope.com/history/index.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad2.gif')}}' class='thumb' alt='Computer History'></div></a>";#}
        {#images[2] = "<a href = 'http://www.computerhope.com/index.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad3.gif')}}' class='thumb' alt='Visit Computer Hope'></div></a>";#}
        {#images[3] = "<a href = 'http://www.computerhope.com/newslet.htm'><div class='thumbframe omega'><img src='{{asset('images/ad/ad4.gif')}}' class='thumb' alt='Computer Hope Newsletter'></div></a>";#}
        {#index = Math.floor(Math.random() * images.length);#}
        {#document.write(images[index]);#}
    {#</script>#}
    {#<!--<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad1.gif')}}" class="thumb" /></div></a>#}
				{#<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad2.gif')}}" class="thumb" /></div></a>#}
				{#<a href='#'><div class="thumbframe"><img src="{{asset('images/ad/ad3.gif')}}" class="thumb" /></div></a>#}
				{#<a href='#'><div class="thumbframe omega"><img src="{{asset('images/ad/ad4.gif')}}" class="thumb" /></div></a>-->#}
{#</div>#}
<div class="clear"></div>

<!--
<div id="ad1">
	<a href='#'><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href='#' style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
<!--<div id="board">
	<br /><br />กระดานพูดคุย
</div>-->
<div id="update">
    <img src="{{asset('images/update.png')}}"/> <span class="time">( {{ last_update }} )</span>
    <hr class="line" style="top: 60px;"/>
    <table>
        <thead>
        <tr>
            <th width="250">ชื่อหอพัก</th>
            <th width="150">ประเภท</th>
            <th width="150">ชนิด</th>
            <th width="200">โซน/อำเภอ</th>
            <th width="150">ราคา</th>
        </tr>
        </thead>
        <tbody>

        {% for tlist in top_last_building %}
        <tr>
            <td class="first">{{ tlist.building_name }}</td>
            <td>{{ tlist.type_name }}</td>
            <td>{{ tlist.typename }}</td>
            {% if tlist.addr_province !='กรุงเทพมหานคร' %}
            <td>{{ tlist.addr_prefecture }}</td>
            {% else %}
            <td>{{ tlist.zonename }}</td>
            {% endif %}
            <td>{{ tlist.start_price }} - {{ tlist.end_price }} บาท</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<!--
<div class="ad1">
	<a href='#'><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href='#'><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href='#' style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
{% endblock %}