<h1>Ftr_logdetail</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Ftr_log_id</th>
            <td>{{ entity.ftrlogid }}</td>
        </tr>
        <tr>
            <th>Action</th>
            <td>{{ entity.action }}</td>
        </tr>
        <tr>
            <th>Fieldname</th>
            <td>{{ entity.fieldname }}</td>
        </tr>
        <tr>
            <th>Fieldvalue</th>
            <td>{{ entity.fieldvalue }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('ftr_logdetail') }}">
            Back to the list
        </a>
    </li>
</ul>
