{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block title %}
<!-- รายละเอียด site -->
    <title>{{ siteTitle }}</title>
    <meta name="description" content="{{ siteDesc }}" />
    <meta name="keyword" content="{{ siteKeyword }}"/>
    <meta name="author" content="{{ siteAuthor }}"/>
    <meta name="copyright" content="{{ siteCopyRight }}"/>
    <meta name="robot" content="{{ siteRobot }}"/>
    <meta name="revisit-after" content="{{ siteRevisitAfter }}"/>
    <meta name="distribution" content="{{ siteDistribution }}"/>

    <!-- facebook tag -->
    <meta property="og:title" content="{{ siteTitle }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ siteUrl }}"/>
    <meta property="og:image" content="{{ siteImage }}"/>
    <meta property="og:site_name" content="FindTheRoom"/>
    <meta property="fb:admins" content="USER_ID"/>
    <meta property="og:description" content="{{ siteDesc }}"/>
<!-- #รายละเอียด site -->
{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{asset('css/paging.css')}}">
<script src="{{asset('js/paging/jquery.paginate.js')}}"></script>
<script type="text/javascript" src="{{asset('js/fancybox/jquery.fancybox-1.3.4.pack.js')}}"></script>
<script type="text/javascript" src="{{asset('js/fancybox/jquery.easing-1.4.pack.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('css/jquery.fancybox-1.3.4.css')}}" media="screen" />
<script type="text/javascript">
		$(function() {
			$("#demo5").paginate({
				count 		: 30,
				start 		: 1,
				display     : 20,
				border					: false,
				text_color  			: '#423C3B',	
				text_hover_color  		: '#423C3B', 
				images					: false,
				mouse					: 'press'
			});
		});
</script>
<script type="text/javascript">
		$(document).ready(function() {
            if('{{enable}}' == true){
                $.fancybox({
                    'content' : "{{path('FTRWebBundle_regis_alertemail')}}",
                    'width' : 700,
                    'height' : 400,
                    'autoScale' : false,
                    'transitionIn' : 'elastic',
                    'transitionOut' : 'elastic',
                    'type' : 'iframe'
                });
            }

			$("a#gmap").fancybox({
				'overlayShow'	: true,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
			$("a#imap").fancybox({
				'overlayShow'	: true,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
			$("a#cmap").fancybox({
				'overlayShow'	: true,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
			$("a#login").fancybox({
				'width'				: 700,
				'height'			: 420,
				'autoScale'			: false,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'type'				: 'iframe'
			});
		});
</script>
<script type="text/javascript">
    function confirmBuilding(confirmAdd){
        if(confirmAdd.checked == 1){
//            alert("thank you");
            window.location = "http://localhost:8081/findtheroom/web/app_dev.php/publish/addnew"
        } else {
            alert("please check a box");
            return false;
        }
    }
</script>

<!--<div class="detail" style="height: 290px; margin-bottom: 15px;">
    <div style="width:500px; display:block; position:relative; float:left; border-right:1px solid #FFF; height:250px; margin-top: 20px;">
    	{% if app.session.get('user') == NULL %}
		<a id="login2" href="{{path('FTRWebBundle_regis')}}"><img src="{{asset('images/pub-bt.png')}}" style="margin-left:10px; margin-top:10px;" /></a>
		{% else %}
		<a href="{{path('userbuilding')}}"><img src="{{asset('images/pub-bt.png')}}" style="margin-left:10px; margin-top:10px;" /></a>
		{% endif %}
	</div>
    <div style="width:490px; display:block; position:relative; float:left;">
    	{% if app.session.get('user') == NULL %}
		<a id="login" href="{{path('FTRWebBundle_loginpublish',{'message':'1'})}}"><img src="{{asset('images/login.png')}}" style="margin-left:10px; margin-top:27px;" /></a>
		{% endif %}
	</div>
</div>-->
{#DEV : MICK#}
{#DATE : 08/03/2013 11:31#}
{#Comment ระบบลงทะเบียน และเข้าสู่ระบบออก#}
{#<div class="detail" style="height: 290px; margin-bottom: 15px;">#}
	{#{% if app.session.get('user') == NULL %}#}
    {#<div style="width:500px; display:block; position:relative; float:left; border-right:1px solid #FFF; height:250px; margin-top: 20px;">#}
		{#<a id="login2" href="{{path('FTRWebBundle_regis')}}"><img src="{{asset('images/pub-bt.png')}}" style="margin-left:10px; margin-top:10px;" /></a>#}
	{#</div>#}
    {#<div style="width:490px; display:block; position:relative; float:left;">#}
		{#<a id="login" href="{{path('FTRWebBundle_loginpublish',{'message':'1'})}}"><img src="{{asset('images/login.png')}}" style="margin-left:10px; margin-top:27px;" /></a>#}
	{#</div>#}
	{#{% else %}#}
	{#<div style="width:950px; display:block; position:relative; height:250px; margin-top: 20px;">#}
		{#<img src="{{asset('images/free-pub.png')}}" style="margin-left:30px; margin-top:40px;" />#}
        {#<a href="{{path('addData')}}" class="pub-link">ลงประกาศฟรี!</a>#}
        {#<span class="pub-nolink" style="margin-left:290px">หรือ</span>#}
        {#<a href="{{path('userbuilding')}}" class="pub-link" style="margin-left:385px">แก้ไขรายละเอียด</a>#}
	{#</div>#}
	{#{% endif %}#}
{#</div>#}
<div class="detail" style="margin-bottom: 15px; height: 500px">
    <div id="i_containTab3">
        <ul id="navi_containTab3">  
            <li id="tabNavi7" class="active" onclick="enact(this);"></li> 
            <li id="tabNavi8" onclick="enact(this);"></li>
            <li id="tabNavi9" onclick="enact(this);"></li>
   		</ul>
        <hr class="line" style="top: 60px;" />
    	<ul id="detail_containTab3">  
            <li class="detailContent7">
            	<div class="container pdL10 pdR10 fontWhite">
                    <p>ในการสมัครสมาชิก และลงประกาศหอพักนั้น จะไม่มีค่าใช้จ่ายใดๆทั้งสิ้น แต่ท่านจะต้องผู้ดำเนินการทำการสมัครสมาชิกและลงประกาศหอพักด้วยตัวเอง สิ่งที่จะได้รับมีดังนี้</p>

                    <ul style="height: 200px; margin-bottom: 30px;">
                        <li style="height: auto !important;">เป็นสมาชิก FindTheRoom.com ฟรี!</li>
                        <li style="height: auto !important;">ลงประกาศหอพักได้ไม่จำกัดจำนวนหอพัก ฟรี!</li>
                        <li style="height: auto !important;">จะมีการตรวจสอบ เพื่อไม่ให้มีข้อมูลการลงประกาศหอพักซ้ำกัน</li>
                        <li style="height: auto !important;">สามารถจัดการ แก้ไขประกาศหอพักของท่านได้</li>
                        <li style="height: auto !important;">ประกาศหอพักจะต้องถูกตรวจสอบโดยทีมงานก่อนที่จะแสดงขึ้นในครั้งแรก ภายใน 5 วันทำการ</li>
                        <li style="height: auto !important;">ประกาศหอพักของท่านสามารถค้นเจอได้ในกรณีเงื่อนไขการค้นหาของผู้ค้นหาเกี่ยวเนื่องกับข้อมูลหอพักของท่าน</li>
                        <li style="height: auto !important;">ประกาศหอพักจะถูกจัดลำดับจากเงื่อนไขต่างในการค้นหาของผู้ค้นหา</li>
                    </ul>

                    <p style="margin: 30px 0 30px 0; padding-top: 30px !important;">ในกรณีที่ท่านต้องการให้ประกาศหอพักเป็นที่เห็นชัดและมีประสิทธิภาพดึงดูดให้ผู้ค้นหามีความสนใจในประกาศมากยิ่งขึ้นทางเรามีบริการเสริมให้ท่าน</p>
                    <form onsubmit="return confirmBuilding(confirmAdd);">
                        <input type="checkbox" name="confirmAdd" value="1"> ยินยันการประกาศห้องพัก&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="ยืนยัน" style="margin-top: -3px !important;"/>
                    </form>

                </div>
            </li>
            
            <li class="detailContent8">
                <div class="container pdL10 pdR10 fontWhite">
                    <ol>
                        <li style="height: auto !important;">กดปุ่ม “ยืนยันการลงประกาศ!” เพื่อทำการสร้างห้องพัก</li>
                        <li style="height: auto !important;">กรอกรายละเอียด และภาพต่าง ๆ ของห้องพัก</li>
                        <li style="height: auto !important;">ยืนยันการสร้างห้องพักในอีเมล์ที่ใช้ในการสร้าง</li>
                    </ol>
                </div>
            </li>
            
            <li class="detailContent9">
                <div class="container pdL10 pdR10 fontWhite">
                	<p>บริการเสริมจากทาง FindTheRoom.com คือตัวช่วยให้ท่านสามารถลงประกาศหอพักได้ดีมีประสิทธิภาพดึงดูดให้ผู้ค้นหาสามารถเห็นประกาศของท่านได้เยอะมากขึ้น และมีความสนใจมากยิ่งขึ้น</p>
                    <ul>
                        <li style="height: auto !important;">ลงประกาศให้ คือ ทางทีมงาน FindTheRoom.com จะสมัครสมาชิก พร้อมกับลงประกาศหอพักให้ท่าน ท่านไม่ต้องยุ่งยากในการสมัครสมาชิก อัพโหลดรูป <br/>กรอกข้อมูลรายละเอียดต่างๆเอง</li>
                        <li style="height: auto !important;">
                            <p>โปรโมทประกาศ คือ การทำให้ประกาศหอพักของท่านเป็นที่ดึงดูดน่าสนใจ</p>
                            <ul style="margin-top: -20px !important;">
                                <li style="height: auto !important;">Slide Banner : ภาพสไลด์ กดเข้าเว็บมาครั้งแรกทุกคนก็จะสามารถเห็นได้</li>
                                <li style="height: auto !important;">Banner : ภาพโฆษณาเล็กๆ แบ่งเป็นสองแบบ 2 แถวที่อยู่ใต้หอพักแนะนำนั้น จะอยู่ในเฉพาะหน้าแรก ส่วน 2 แถว ที่อยู่ก่อนเมนูด้านล่างจะอยู่ในทุกๆหน้า</li>
                                <li style="height: auto !important;">หอพักแนะนำ : เป็นการดึงดูดผู้ค้นหาให้สนใจว่ามีหอพักอะไรแนะนำบ้าง แบ่งหัวข้อดังนี้ ใกล้ BTS / ใกล้ MRT / ใกล้มหาวิทยาลัย / ผู้ชมสูงสุด</li>
                                <li style="height: auto !important;">อัพเดทประกาศล่าสุด : ประกาศหอพักที่สร้างล่าสุด กับ ประกาศหอพักที่มีการแก้ไขหรืออัพเดทข้อมูล จะขึ้นอยู่ในส่วนนี้</li>
                            </ul>
                        </li>
                        <li style="height: auto !important;">สถิติ คือ มีข้อมูลสถิติที่เกี่ยวข้องกับประกาศหอพักของท่าน</li>
                    </ul>
                </div>
            </li>
    	</ul>  
    </div>
</div>
<!--
<div id="ad1">
	<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>

<div id="ad2">
	<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
    <a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
    <a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
    <a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
{% endblock %}