<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script  src='{{asset("js/paging/data_table/table_paging.js")}}'></script>

<script>

    //ประกาศค่าเริ่มต้น
    var urlPost = "{{ path('building_type') }}";
    var urlPostNew = "{{ path('building_type_new') }}";
    var namePage = 'Building Type';

    // ค่าปัจจุบันในการ sort
    var orderByOld = "{{ orderBy }}";
    var orderByTypeOld = "{{ orderByType }}";

</script>

<style type="text/css">
    .inPage {
        cursor: pointer;
    }
</style>
<fieldset>
    <h1>Building_type list</h1>

    {#div สำหรับแสดงผล create, edit#}
    <div id="panelEvent"></div>

    <span style="float: right;" id="btnShowHide">
        <img src="{{ asset('images/add-bt.png')}}" id="btnNew" width="50" height="50" style="cursor:pointer;" />
    </span>
    <div class="clear"></div>
    <br/>
    <fieldset>
        <div class="grid_12 tableLists marginB_10 alpha">
            <table>
                <thead>
                    <tr>
                        <th style="width: 160px !important;"><a class="btnOrderBy" href="#" id="sort_id">Id</a></th>
                        <th style="width: 400px !important;"><a class="btnOrderBy" href="#" id="sort_type_name">Type_name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.type_name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a class="btnEdit" href="{{ path('building_type_edit', { 'id': entity.id }) }}">Edit</a>
                                </li>
                                <li>
                                    <a class="btnDelete" href="{{ path('building_type_edit', { 'id': entity.id }) }}">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" align="center">No matching records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </fieldset>
    <div class="paginator">
        <ul>
            <strong>showing {{ countList }} entities : Page </strong>
            {% for i in 1..paginator.numpages %}
            {% if paginator.range.0 > 2 and i == paginator.range.0 %}
            ...
            {% endif %}

            {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
            {% if i==paginator.currentpage %}
            {% if i == noPage %}
            <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
            {% else %}
            <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
            {% endif %}
            {% else %}
            {% if i == noPage %}
            <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
            {% else %}
            <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
            {% endif %}
            {% endif %}
            {% endif %}

            {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
            ...
            {% endif %}
            {% endfor %}
            <div align="right" style="float:right;" ><strong>Search:</strong>
                <input id="tbxSearch" style="height: 25px;margin-bottom: 10px;" value="{{ textSearch }}" />&nbsp;&nbsp;
                <select name="record" style="width:150px;" class="record">
                    <option value="10">10 Record </option>
                    {% if limit == '50' %}
                    <option selected="yes" value="50">50 Record</option>
                    <option value="100">100 Record</option>
                    <option value="500">500 Record</option>
                    {% elseif limit == '100' %}
                    <option value="50">50 Record</option>
                    <option selected="yes" value="100">100 Record</option>
                    <option value="500">500 Record</option>
                    {% elseif limit == '500' %}
                    <option value="50">50 Record</option>
                    <option value="100">100 Record</option>
                    <option selected="yes" value="500">500 Record</option>
                    {% else %}
                    <option value="50">50 Record</option>
                    <option value="100">100 Record</option>
                    <option value="500">500 Record</option>
                    {% endif %}
                </select>
            </div>
        </ul>
    </div>
</fieldset>
