<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script  src='{{asset("js/paging/data_table/event.js")}}'></script>

<script>

    //ประกาศค่าเริ่มต้น
    var urlPost = "{{ path('building_type') }}";
    var urlCreate = "{{ path('building_type_create') }}";
    var idCheck = "#ftr_adminbundle_building_typetype_type_name";
    var namePage = 'Building Type';

</script>
<style type="text/css">
    #btnCreate {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        display: block;
        float: none;
        height: 50px;
        position: absolute;
        margin-left: 70px;
        margin-top: -55px;
    }

    #btnInputCreate {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
</style>
<fieldset id="crateField">
    <form id="formCreate" action="{{ path('building_type_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="label" style="">
            {{ form_label(form.type_name) }}
        </div>
        {{ form_widget(form.type_name, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(form.type_name) }}
        <br />
        {#ต้องแปะไว้ตรงท้ายเสมอ	#}
        {{ form_rest(form) }}
        <span style="float: right;">
            <img src="{{ asset('images/cancel.png')}}" id="btnCancelCreate" width="50" height="50" style="cursor:pointer;margin-right: 70px" />
                &nbsp;&nbsp;
            <div id="btnCreate">
                <input type="submit" id="btnInputCreate" value="Edit">
            </div>
        </span>
    </form>
</fieldset>