{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{asset('js/uploadify/uploadify.css')}}">
<script type="text/javascript" src="{{asset('js/uploadify/jquery.uploadify-3.1.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/uploadify.control.js')}}"></script>
<script type="text/javascript" src="{{asset('js/sisyphus-autosave/sisyphus.js')}}"></script>
<script type="text/javascript" src="{{asset('js/gritter/js/jquery.gritter.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('js/gritter/css/jquery.gritter.css')}}" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script language="javascript">
	$(document).ready(function(){
		$("div#upload_map.uploadify").css("marginTop","-80px");
		var mybrowser=navigator.userAgent;
		if(mybrowser.indexOf('MSIE')>0){
		$("div#upload_map.uploadify").css("marginTop","-60px");
		$("#headimage2").css("marginTop","-60px");
}
	 });
</script>
		
<script language="javascript">
	
	var swfpath = "{{asset('js/uploadify/uploadify.swf')}}";
	var uploaderpath = "{{asset('js/uploadify/uploadify.php')}}";
	
	function loopbutton()
	{
		uploadpicroom();
	}
	function loopbuttongallery()
	{
		uploadpicgallery();
	}
	
	var intLine = {{roomlines}};
	var arraydataimage = 
			[
				{% for roomdata in rooms %}
					[{{roomdata.id}}, "{{asset('roomdata.photo_name')}}", '', '', '',"{{roomdata.photo_name}}"],
				{% endfor %}
			];
	
	var nullarray = [-1, "{{asset('images/show.png')}}",'','','',''];
	var pathimgdefault = "{{asset('images/')}}";
	
	$(document).ready(function(){
		if(arraydataimage.length == 0)
		{			
			CreateNewRow(nullarray, 0);
			arraydataimage = [nullarray];
		}
		else{		
			genrowimage();
		}
	});
	function genrowimage()
	{
		for(var i=0 ; i < arraydataimage.length ; i++)
		{
			CreateNewRow(arraydataimage[i], i);
		}
	}
	function CreateNewRow(arraydata, num)
	{
		//var  parseInt(document.addform.hdnMaxLine.value);
		// intLine++;
		var imageid = arraydata[0];
		var pathimage = arraydata[1];
		var typename = arraydata[2];
		var roomsize = arraydata[3];
		var roomprice = arraydata[4];
		var nameimage = arraydata[5];
		
		var theTable = document.all.tableroom;
		var newRow = theTable.insertRow(theTable.rows.length)
		
		
		// newRow.id = newRow.uniqueID
		newRow.id = 'roomtrid'+num
		var item1 = 1
		var newCell
		
		//*** Column 1 ***//
		newCell = newRow.insertCell(0)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<img src=\"{{asset('images/delete.png')}}\" style=\"padding-left:0px; margin-left:-10px; cursor:pointer;\" onclick=\"RemoveRow("+num+","+imageid+");\" />"
		
		//*** Column 2 ***//
		newCell = newRow.insertCell(1)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<img src=\""+pathimage+"\" style=\"margin-top: 10px;\" />"

		//*** Column 3 ***//
		newCell = newRow.insertCell(2)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<input type=\"file\" name=\"room"+num+"\" id=\"room"+num+"\" /><input type=\"hidden\" name=\"hdnfilename"+num+"\" id=\"hdnfilename"+num+"\" value=\""+nameimage+"\" onchange=\"postData('image');\" />"		
		
		//*** Column 4 ***//
		newCell = newRow.insertCell(3)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<input name=\"typeap_name"+num+"\" id=\"typeap_name"+num+"\" type=\"text\" maxlength=\"30\" placeholder=\"กรุณากรอกประเภทห้องพัก\" value=\""+typename+"\" style=\" padding:2px; font-size:20px;\" onchange=\"postData('image');\" />"				
		
		//*** Column 5 ***//
		newCell = newRow.insertCell(4)
		newCell.id = newCell.uniqueID
		newCell.setAttribute('align', 'center');
		newCell.innerHTML = "<input name=\"typeap_size"+num+"\" id=\"typeap_size"+num+"\" type=\"text\" maxlength=\"10\" placeholder=\"ขนาด\" value=\""+roomsize+"\" style=\" padding:2px; font-size:20px; width:80px;\" onchange=\"postData('image');\" />"		
		
		//*** Column 6 ***//
		newCell = newRow.insertCell(5)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<LABEL align=\"left\">ตารางเมตร</LABEL>"			
		
		//*** Column 7 ***//
		newCell = newRow.insertCell(6)
		newCell.id = newCell.uniqueID
		newCell.setAttribute('align', 'center');
		newCell.innerHTML = "<input name=\"typeap_price"+num+"\" id=\"typeap_price"+num+"\" type=\"text\" maxlength=\"10\" placeholder=\"อัตราค่าเช่า\" value=\""+roomprice+"\" style=\" padding:2px; font-size:20px; width:80px;\" onchange=\"postData('image');\" />"		
		
		//*** Column 8 ***//
		newCell = newRow.insertCell(7)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<LABEL align=\"left\">บาท</LABEL><input type=\"hidden\" name=\"imageid"+num+"\" id=\"imageid"+num+"\" value=\""+imageid+"\" />"			
		
		//document.addform.hdnMaxLine.value = intLine;
		loopbutton();
		intLine++;
		document.addform.hdnMaxLine.value = intLine;
	}
	
	function readdataroom(num)
	{
		var arrayread = [];
		for(var i=0 ; i < intLine ; i++)
		{			
			
			if (num != i){
				if ($('#hdnfilename'+i).val() == ''){
					var filename = pathimgdefault + 'show.png';
				}else {
					var filename = pathimgdefault + $('#hdnfilename'+i).val();
				}
				var arrayadd = [$('#imageid'+i).val(), filename, $('#typeap_name'+i).val(), $('#typeap_size'+i).val(), $('#typeap_price'+i).val(), $('#hdnfilename'+i).val()];
				arrayread.push(arrayadd);
			}
		}
		arraydataimage = arrayread;		
	}
	
	function RemoveRow(num, imageid)
	{
		//intLine = parseInt(document.addform.hdnMaxLine.value);
		//alert(num);
		var strdefault = '<tr height="40" valign="bottom">'+
            	'<td align="left" colspan="4" style="font-size:24px;" width="500">ประเภทห้องพัก</td>'+
                '<td align="center" width="100">ขนาด</td>'+
                '<td width="100">&nbsp;</td>'+
                '<td align="center" width="150">อัตราค่าเช่า / เดือน</td>'+
                '<td width="60">&nbsp;</td>'+
            '</tr>'

		if(intLine > 1)
		{
				// theTable = (document.all) ? document.all.tbtype : 
				// document.getElementById("tableroom")
				// theTableBody = theTable.tBodies[0];
				// theTableBody.deleteRow(num);
				// intLine--;
				// document.addform.hdnMaxLine.value = intLine;
				// loopbutton();
				readdataroom(num);
				$("#tableroom").html(strdefault);
				intLine = 0;
				document.addform.hdnMaxLine.value = intLine;
				genrowimage();
				
		}	
	}	
	
	var intLineGal = {{gellerylines}};	
	var arraygalleryimage =
			[
				{% for gallerydata in galleries %}
					[{{gallerydata.id}}, "{{asset('gallerydata.photo_name')}}","{{gallerydata.photo_name}}"],
				{% endfor %}
			];
	
	var nullarrayGal = [-1, "{{asset('images/show.png')}}",''];
	var pathimgdefault = "{{asset('images/')}}";
	
	$(document).ready(function(){
		if(arraygalleryimage.length == 0)
		{			
			CreateNewRowGallery(nullarrayGal, 0);
			arraygalleryimage = [nullarrayGal];
		}
		else{		
			genrowimageGal();
		}
	});
	function genrowimageGal()
	{
		for(var i=0 ; i < arraygalleryimage.length ; i++)
		{
			CreateNewRowGallery(arraygalleryimage[i], i);
		}
	}
	
	function CreateNewRowGallery(arraydata, num)
	{
		var imageid = arraydata[0];
		var pathimage = arraydata[1];
		var nameimage = arraydata[2];
		
		var theTable = document.all.tbgal
		var newRow = theTable.insertRow(theTable.rows.length)
		//newRow.id = newRow.uniqueID
		newRow.id = 'galtrid'+num
		
		var item1 = 1
		var newCell
		
		//*** Column 1 ***//
		newCell = newRow.insertCell(0)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<img src=\"{{asset('images/delete.png')}}\" style=\"padding-left:0px; margin-left:-10px; cursor:pointer;\" />"		
		
		//*** Column 2 ***//
		newCell = newRow.insertCell(1)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<img src=\"{{asset('images/show.png')}}\" style=\"margin-top: 10px;\" />"		
		
		//*** Column 3 ***//
		newCell = newRow.insertCell(2)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<input type=\"file\" name=\"gallery"+num+"\" id=\"gallery"+num+"\" /><input type=\"hidden\" name=\"hdngalleryname"+num+"\" id=\"hdngalleryname"+num+"\" />"				
		
		//*** Column 4 ***//
		newCell = newRow.insertCell(3)
		newCell.id = newCell.uniqueID
		newCell.setAttribute("className", "css-name");
		newCell.innerHTML = "<textarea id=\"galtitle"+num+"\" name=\"galtitle"+num+"\" maxlenght=\"500\" placeholder=\"กรอกข้อมูลของรูปที่นี่\" class=\"galdesc\" onchange=\"postData('image');\"></textarea><input type=\"hidden\" name=\"imageidgal"+num+"\" id=\"imageidgal"+num+"\" value=\""+imageid+"\" />"				
			
		//document.addform.hdnMaxLineGal.value = intLine;
		loopbuttongallery();
		intLineGal++;
		document.addform.hdnMaxLineGal.value = intLineGal;
	}
	
	function readdatagallery(numGal)
	{
		var arrayread = [];
		for(var i=0 ; i < intLineGal ; i++)
		{			
			
			if (num != i){
				if ($('#hdngalleryname'+i).val() == ''){
					var filename = pathimgdefault + 'show.png';
				}else {
					var filename = pathimgdefault + $('#hdngalleryname'+i).val();
				}
				var arrayadd = [$('#imageidgal'+i).val(), filename, $('#typeap_name'+i).val(), $('#typeap_size'+i).val(), $('#typeap_price'+i).val(), $('#hdngalleryname'+i).val()];
				arrayread.push(arrayadd);
			}
		}
		arraydataimage = arrayread;		
	}
	
	function RemoveRowGal(num, imageid)
	{
		if(intLine > 1)
		{
				// theTable = (document.all) ? document.all.tbtype : 
				// document.getElementById("tableroom")
				// theTableBody = theTable.tBodies[0];
				// theTableBody.deleteRow(num);
				// intLine--;
				// document.addform.hdnMaxLine.value = intLine;
				// loopbutton();
				readdatagallery(num);
				intLineGal = 0;
				document.addform.hdnMaxLineGal.value = intLineGal;
				genrowimage();
				
		}	
	}	
	
	function moveToDiv(id) {
		document.getElementById(id).scrollIntoView();
	}
	
	function clicktodelete(id)
	{
		alert(id);
		window.location.reload()
	}
	
	$(document).ready(function(){
		
	});
	var imagepath = "{{asset('images/building')}}";
	function postData(typesave)
	{
		var type = typesave;
		var pathtosave = "{{path('autoSaveForm', {'id': build_id})}}";
		var addfixpath = pathtosave+'/'+type;
		//alert(addfixpath);
		$.post(addfixpath, $("#addform").serialize(), 
		function(data) {
			var completetext = data;
			//alert(completetext);
			$.gritter.add({
				// (string | mandatory) the heading of the notification
				title: 'บันทึกข้อมูลสำเร็จ',
				// (string | mandatory) the text inside the notification
				text: 'ข้อมูลของท่านได้รับการบันทึกโดยอัตโนมัติ'
			});
	 	});
 	}
 	
 	function fncAlert(){
		if(document.getElementById('bk').checked) {
		   //$("#tbk").css("display","block");
		   //$("#tcou").css("display","none");
		   document.getElementById('bkzone_ot').disabled=false;
		   document.getElementById('bts_ot').disabled=false;
		   document.getElementById('mrt_ot').disabled=false;
		   document.getElementById('univer_ot').disabled=false;
		   document.getElementById('near_ot').disabled=false;
		   document.getElementById('country_ot').disabled=true;
		}else if(document.getElementById('cou').checked) {
		   //$("#tbk").css("display","none");
		   //$("#tcou").css("display","block");
		   document.getElementById('bkzone_ot').disabled=true;
		   document.getElementById('bts_ot').disabled=true;
		   document.getElementById('mrt_ot').disabled=true;
		   document.getElementById('univer_ot').disabled=true;
		   document.getElementById('near_ot').disabled=true;
		   document.getElementById('country_ot').disabled=false;
		}
	}
</script>
<form name="addform" id="addform" method="post" action="{{path('saveData', {'id': build_id })}}">
<div id="fix">
	<!--<input class="upimg" type="submit" value="" />-->
	<input class="save" type="submit" value="" />
	<!--<input class="back" type="submit" value="" />-->
	<a class="back" href="{{path('userbuilding')}}"></a>
	<a class="data" onclick="moveToDiv('datazone');"></a>
	<a class="room" onclick="moveToDiv('roomzone');"></a>
	<a class="gallery" onclick="moveToDiv('galleryzone');"></a>
	<a class="etc" onclick="moveToDiv('etczone');"></a>
	<!--<input class="data" type="button" value="" onclick="javascript:focusDataZone();" />
	<input class="room" type="button" value="" onclick="document.getElementById('room').focus();" />
	<input class="gallery" type="button" value="" onclick="document.getElementById('gallery').focus();" />
	<input class="etc" type="button" value="" onclick="document.getElementById('etc').focus();" />-->
</div>

<div id="datazone" class="detail" style="height: 780px; margin-bottom: 15px;">
	<img src="{{asset('images/apdata.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div style="width:1000px; display:block; position:relative; height:250px; margin-top: 20px;">
    	<table style="margin-top: 0px; float:left;">
        	<tr height="50" valign="middle">
				<td align="left" width="240">
					<div id="headimage" class="thumbframe4add">
						{% if linkimagehead != '' %}
						<img src="{{asset(linkimagehead)}}" class="nopad thumb" />
						{% else %}
						<img src="{{asset('images/ex.png')}}" class="nopad thumb" />
						{% endif %}
					</div>
				</td>
                <td align="left" width="210" valign="middle"><input style="margin-left: -20px;" type="file" name="file_upload" id="file_upload" />
					<input type="hidden" name="hdnfilename" id="hdnfilename" /></td>
            </tr>
            <tr height="50" valign="middle">
				&nbsp;
            </tr>
        </table>
        <table style="margin-top: 0px; float:none;  margin-left: 0px;">
        	<tr height="50" valign="middle">
				<td align="right" width="210" style="font-size:24px;">ชื่อหอพัก / อพาร์ทเม้นต์ : *</td>
                <td align="left" width="190"><input name="nameap" id="nameap" type="text" maxlength="30" placeholder="กรุณากรอกชื่อหอพัก" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
            </tr>
            <tr height="50" valign="top">
				<td align="right" width="210" style="font-size:24px;">ที่อยู่ : *</td>
                <td align="left" width="190"><textarea name="placeap" id="placeap" type="text" maxlength="500" class="place" onchange="postData('head');" /></textarea></td>
            </tr>
			<tr height="50" valign="middle">
				<td align="right" width="210" style="font-size:24px;">จังหวัด : *</td>
                <td align="left" width="190">
					<div class="styled-select">
						<select id="province" name="province" class="select" onchange="postData('head');">
							<option value="daymonth">รายวันและรายเดือน</option>
							<option value="day">รายวัน</option>
							<option value="month">รายเดือน</option>
						</select>
					</div>
				</td>
            </tr>
			<tr height="40" valign="middle">
				<td align="right" width="210" style="font-size:24px;">เขต/อำเภอ : *</td>
                <td align="left" width="190">
					<div class="styled-select">
						<select id="district" name="district" class="select" onchange="postData('head');">
							<option value="daymonth">รายวันและรายเดือน</option>
							<option value="day">รายวัน</option>
							<option value="month">รายเดือน</option>
						</select>
					</div>
				</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="210" style="font-size:24px;">รหัสไปรษณีย์ : *</td>
                <td align="left" width="190"><input id="zipcode" name="zipcode" type="text" maxlength="30" placeholder="กรุณากรอกรหัสไปรษณีย์" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
            </tr>
        </table>
        <table style="margin-top: 0px; float:left;">
        	<tr>
				<td align="right" width="240" style="font-size:24px;">
					<div id="headimage2" class="thumbframe4add" style="margin-top:-80px;">
						{% if linkimagemap != '' %}
						<img src="{{asset(linkimagemap)}}" class="nopad thumb" />
						{% else %}
						<img src="{{asset('images/exmap.png')}}" class="nopad thumb" />
						{% endif %}
					</div></td>
            	<td align="left" width="180">
					<input type="file" name="upload_map" id="upload_map"/>
					<input type="hidden" name="hdnfilemap" id="hdnfilemap" onchange="postData('head');" />
				</td>
				<td align="right" width="240" valign="top" style="font-size:24px;">รายละเอียดเพิ่มเติม : &nbsp;</td>
                <td align="left" width="200"><textarea name="placedetail" type="text" maxlength="500" class="ldesc" onchange="postData('head');" /></textarea></td>
            </tr>
        </table>
    </div>
    <div style="width:1000px; display:block; position:relative; height:240px; margin-top: 115px;">
		<table style="margin-top: 0px;">
        	<tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">Google Map ลองติจูด : *</td>
                <td align="left" width="200"><input id="longitude" name="longitude" type="text" maxlength="30" placeholder="กรุณากรอกตำแหน่งลองติจูด" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
				<td align="right" width="240" style="font-size:24px;">Google Map ละติจูด : *</td>
                <td align="left" width="200"><input id="latitude" name="latitude" type="text" maxlength="30" placeholder="กรุณากรอกตำแหน่งละติจูด" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="left" width="30" style="font-size:24px;">&nbsp;</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">ประเภทห้องพัก : *</td>
                <td align="left" width="200">
                	<div class="styled-select">
						<select id="aptype" name="aptype" class="select" onchange="postData('head');">
							<option value="all">- กรุณาระบุ -</option>
  							<option value="apartment">อพาร์ทเม้นต์</option>
                            <option value="man">หอชาย</option>
                            <option value="woman">หอหญิง</option>
						</select>
                    </div>
                </td>
                <td align="right" width="210" style="font-size:24px;">ชนิด : *</td>
                <td align="left" width="190" style="font-size:24px;"><div class="styled-select">
						<select id="paytype" name="paytype" class="select" onchange="postData('head');">
							<option value="daymonth">รายวันและรายเดือน</option>
							<option value="day">รายวัน</option>
							<option value="month">รายเดือน</option>
						</select>
					</div></td>
                <td align="left" width="30" style="font-size:24px;">&nbsp;</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">เบอร์โทรติดต่อ : *</td>
                <td align="left" width="200"><input id="telnumber" name="telnumber" type="text" maxlength="10" placeholder="กรุณากรอกเบอร์โทรติดต่อ" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="right" width="210" style="font-size:24px;">ระยะเวลาเช่าขั้นต่ำ : *</td>
               <td align="left" width="190"><input id="time" name="time" type="text" maxlength="3" placeholder="กรุณากรอกระยะเวลาเช่าขั้นต่ำ" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="left" width="30" style="font-size:24px;"> เดือน</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">ติดต่อคุณ : *</td>
                <td align="left" width="200"><input id="contact_person" name="contact_person" type="text" placeholder="กรุณากรอกชื่อผ้ติดต่อ" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="right" width="210" style="font-size:24px;">ค่าน้ำ : *</td>
               <td align="left" width="190"><input id="water_price" name="water_price" type="text" maxlength="3" placeholder="กรุณากรอกค่าน้ำ" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="left" width="30" style="font-size:24px;"> บาท</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">อีเมล : *</td>
                <td align="left" width="200"><input id="contact_email" name="contact_email" type="text" placeholder="กรุณากรอกอีเมล" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="right" width="210" style="font-size:24px;">ค่าไฟ : *</td>
               <td align="left" width="190"><input id="power_price" name="power_price" type="text" maxlength="3" placeholder="กรุณากรอกค่าไฟ" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="left" width="30" style="font-size:24px;"> บาท</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">เว็บไซต์ : &nbsp;</td>
                <td align="left" width="200"><input id="website" name="website" type="text" maxlength="10" placeholder="กรุณากรอกเว็บไซต์" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="right" width="210" style="font-size:24px;">ค่าอินเตอร์เน็ต : &nbsp;</td>
               <td align="left" width="190"><input id="internet_price" name="internet_price" type="text" maxlength="3" placeholder="กรุณากรอกค่าอินเตอร์เน็ต" style=" padding:2px; font-size:20px;" onchange="postData('head');" /></td>
                <td align="left" width="30" style="font-size:24px;"> บาท</td>
            </tr>
        </table>
	</div>
</div>

<div id="roomzone" class="detail" style="height: 100%; margin-bottom: 15px;">
	<img src="{{asset('images/roomap.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table id="tableroom">
        	<tr height="40" valign="bottom">
            	<td align="left" colspan="4" style="font-size:24px;" width="500">ประเภทห้องพัก</td>
                <td align="center" width="100">ขนาด</td>
                <td width="100">&nbsp;</td>
                <td align="center" width="150">อัตราค่าเช่า / เดือน</td>
                <td width="60">&nbsp;</td>
            </tr>
            
            <!-- {% if rooms == null %}
            
			{% else %}
			{% for roomdata in rooms %}
			
			{% endfor %}
			{% endif %} -->
        </table>
        <img src="{{asset('images/addmore2.png')}}" class="nopad" onclick="CreateNewRow(nullarray, intLine);" style="margin-left: 130px;margin-top: 10px;margin-bottom: 10px; cursor: pointer;">
        <input type="hidden" id="hdnMaxLine" name="hdnMaxLine" value="{{roomlines}}">
    </div>
</div>

<div id="galleryzone" class="detail" style="height: 100%; margin-bottom: 15px;">
	<img src="{{asset('images/gallery.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table id="tbgal">
			
        </table>
        <img src="{{asset('images/addmore2.png')}}" class="nopad" onclick="CreateNewRowGallery(nullarrayGal, intLineGal);" style="margin-left: 130px;margin-top: 10px;margin-bottom: 10px; cursor: pointer;">
        <input type="hidden" id="hdnMaxLineGal" name="hdnMaxLineGal" value="{{gellerylines}}">
    </div>
</div>
<input type="hidden" name="hdnownername" id="hdnownername" value="{{username}}" />
<input type="hidden" name="hdnbuildid" id="hdnbuildid" value="{{build_id}}" />
<div id="etczone" class="detail" style="height: auto; margin-bottom: 15px;">
	<img src="{{asset('images/etc.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
	<div style="display:block;padding-bottom:10px;">
		<table>
			<tr height="50" valign="middle">
				<td align="left" width="165">จังหวัด :</td>
				<td width="300">
					<input id="bk" name="bc" type="radio" value="bkk" checked OnClick="JavaScript:fncAlert();" /><label for="bk">กรุงเทพฯ</label>
				</td>
				<td width="170">
					<input id="cou" name="bc" type="radio" value="country" OnClick="JavaScript:fncAlert();" /><label for="cou">ต่างจังหวัด</label>
				</td>
				<td width="200">
					<div class="styled-select">
						<label for="province_ot">
						<select id="province_ot" name="province_ot" class="select" onchange="postData('other');">
							{% for pvlist in province %}
								<option value="{{ pvlist.PROVINCE_VALUE }}">{{ pvlist.PROVINCE_NAME }}</option>
							{% endfor %}
						</select>
						</label>
					</div>
				</td>
			</tr>
		</table>
		
		<table id="tbk" style="margin-top:0px; border-right:1px solid #fff; float:left;">
			<tr height="50" valign="middle">
				<td align="left" width="165">โซนในกรุงเทพฯ :</td>
				<td width="250">
					<div class="styled-select">
                  
						<select id="bkzone_ot" name="bkzone_ot" class="select" onchange="postData('other');">
							{% for zlist in zonelist %}
								<option value="{{ zlist.id }}">{{ zlist.zonename }}</option>
							{% endfor %}
						</select>
                  
					</div>
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="left" width="145">ใกล้รถไฟฟ้า BTS :</td>
				<td width="250">
					<div class="styled-select">
                    
						<select id="bts_ot" name="bts_ot" class="select" onchange="postData('other');">
							{% for btslist in nearBTS %}
								<option value="{{ btslist.id }}">{{ btslist.name }}</option>
							{% endfor %}
						</select>
                   
					</div>
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="left" width="145">ใกล้รถไฟฟ้า MRT :</td>
				<td width="250">
					<div class="styled-select">
                  
						<select id="mrt_ot" name="mrt_ot" class="select" onchange="postData('other');">
							{% for mrtlist in nearMRT %}
								<option value="{{ mrtlist.id }}">{{ mrtlist.name }}</option>
							{% endfor %}
						</select>
                    
					</div>
				</td>
			</tr>
            <tr height="50" valign="middle">
				<td align="left" width="165">ใกล้มหาวิทยาลัย :</td>
				<td width="250">
					<div class="styled-select">
                   
						<select id="univer_ot" name="univer_ot" class="select" onchange="postData('other');">
							{% for ulist in nearUniversity %}
								<option value="{{ ulist.id }}">{{ ulist.name }}</option>
							{% endfor %}
						</select>
                   
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" width="165">ตามสถานที่ใกล้เคียง :</td>
				<td width="250">
					<div class="styled-select">
                   
						<select id="near_ot" name="near_ot" class="select" onchange="postData('other');">
							{% for blist in nearBy %}
								<option value="{{ blist.id }}">{{ blist.name }}</option>
							{% endfor %}
						</select>
                    
					</div>
				</td>
				<td colspan="2"></td>
			</tr>
		</table>
		
		<table id="tcou" style="margin-top:0px; display:block; height:244px; margin-top: 10px;">
			<tr valign="top">
				<td id="fie" align="left" width="165" style="padding-left:50px">ตามสถานที่ใกล้เคียง :</td>
				<td width="300">
					<div class="styled-select">
                
						<select id="country_ot" name="country_ot" class="select" onchange="postData('other');" disabled>
							{% for clist in nearInCountry %}
								<option value="{{ clist.id }}">{{ clist.name }}</option>
							{% endfor %}
						</select>
                
					</div>
				</td>
				<td colspan="2"></td>
			</tr>
		</table>
	</div>
	<hr class="line" style="top: 400px;" />
    <div style="margin-top:30px;">
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในห้อง :
                </td>
            </tr>
			{% for list in fac_inroom %}
            <tr height="40" valign="middle">
            	{% for loops in list.loop %}
            	<td width="250">
            		<input id="fac{{loops.id}}" name="fac[]" type="checkbox" value="{{loops.id}}" onchange="postData('other');" /> <label for="fac{{loops.id}}">{{loops.facility_name}}</label>
            	</td>
            	{% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>
    <hr class="line" style="top: 590px;" />
    <div style="margin-top:30px;">
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในอาคารและใกล้เคียงอาคาร :
                </td>
            </tr>
			{% for list in fac_outroom %}
            <tr height="40" valign="middle">
            	{% for loops in list.loop %}
            	<td width="250">
            		<input id="fac{{loops.id}}" name="fac[]" type="checkbox" value="{{loops.id}}" onchange="postData('other');" /> <label for="fac{{loops.id}}">{{loops.facility_name}}</label>
            	</td>
            	{% endfor %}
            </tr>
            {% endfor %}
            <tr>
            	<td colspan="3" align="right"><input class="save" type="submit" value="" /> <input class="back" type="button" value="" onclick="window.location='{{path('userbuilding')}}'" /></td>
            </tr>
		</table>
	</div>
	<div style="height: 50px;">&nbsp;</div>
</div>
</form>
{% endblock %}
