{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				effect: 'fade',
				fadeSpeed: 350,
				fadeEasing: "easeOutQuad",
				crossfade: true
			});
			$('#slides2').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
			$('#slides3').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
			$('#slides4').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
			$('#slides5').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				hoverPause: true,
				generatePagination: false
			});
		});
</script>
<form id="add_form" method="post" action="{{path('saveData', {'id': build_id })}}">
<div class="detail" style="height: 700px; margin-bottom: 15px;">
	<img src="{{asset('images/apdata.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div style="width:1000px; display:block; position:relative; height:250px; margin-top: 20px;">
    	<table style="margin-top: 0px; float:left;">
        	<tr height="50" valign="middle">
				<td align="left" width="240"><img src="{{asset('images/ex.png')}}" class="nopad" /></td>
                <td align="left" width="230" valign="top"><input id="inter" name="option36" type="checkbox" value="internetap" /><label for="inter">มีอินเตอร์เน็ต</label></td>
            </tr>
            <tr height="50" valign="middle">
				<td align="center" width="240" style="font-size:24px;"><img src="{{asset('images/upload.png')}}" class="nopad" /></td>
                <td align="left" width="200">&nbsp;</td>
            </tr>
        </table>
        <table style="margin-top: 0px; float:none;  margin-left: 0px;">
        	<tr height="50" valign="middle">
				<td align="right" width="210" style="font-size:24px;">ชื่อหอพัก / อพาร์ทเม้นต์ : *</td>
                <td align="left" width="190"><input name="nameap" type="text" maxlength="30" placeholder="กรุณากรอกชื่อหอพัก" style=" padding:2px; font-size:20px;" /></td>
                <td align="left" width="30" style="font-size:24px;">&nbsp;</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="210" style="font-size:24px;">ที่อยู่ : *</td>
                <td align="left" width="190"><textarea name="placeap" type="text" maxlength="500" class="place" /></textarea></td>
                <td align="left" width="30" style="font-size:24px;">&nbsp;</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="210" style="font-size:24px;">ราคา : *</td>
                <td align="left" width="200"><input name="priceap" type="text" maxlength="10" placeholder="กรุณากรอกราคา" style=" padding:2px; font-size:20px;" /></td>
                <td align="left" width="30" style="font-size:24px;">บาท</td>
            </tr>
        </table>
        <table style="margin-top: 0px; float:left;">
        	<tr>
            	<td align="right" width="240" valign="top" style="font-size:24px;">รายละเอียดเพิ่มเติม : &nbsp;</td>
                <td width="200" align="left"><textarea name="placedetail" type="text" maxlength="500" class="ldesc" /></textarea></td>
				<td align="right" width="240" style="font-size:24px;">รูปแผนที่ : *</td>
                <td align="left" width="200" style="font-size:24px;"><img src="{{asset('images/upload.png')}}" class="nopad" /></td>
            </tr>
        </table>
    </div>
    <div style="width:1000px; display:block; position:relative; height:240px; margin-top: 50px;">
		<table style="margin-top: 0px;">
        	<tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">Google Map ลองติจูด : *</td>
                <td align="left" width="200"><input name="url" type="text" maxlength="30" placeholder="กรุณากรอกตำแหน่งลองติจูด" style=" padding:2px; font-size:20px;" /></td>
				<td align="right" width="240" style="font-size:24px;">Google Map ละติจูด : *</td>
                <td align="left" width="200"><input name="url" type="text" maxlength="30" placeholder="กรุณากรอกตำแหน่งละติจูด" style=" padding:2px; font-size:20px;" /></td>
                <td align="left" width="30" style="font-size:24px;">&nbsp;</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">ประเภทห้องพัก : *</td>
                <td align="left" width="200">
                	<div class="styled-select">
						<select class="select">
							<option value="all">- กรุณาระบุ -</option>
  							<option value="apartment">อพาร์ทเม้นต์</option>
                            <option value="man">หอชาย</option>
                            <option value="woman">หอหญิง</option>
						</select>
                    </div>
                </td>
                <td align="right" width="210" style="font-size:24px;">ชนิด : *</td>
                <td align="left" width="190" style="font-size:24px;"><div class="styled-select">
						<select class="select">
							<option value="daymonth">รายวันและรายเดือน</option>
							<option value="day">รายวัน</option>
							<option value="month">รายเดือน</option>
						</select>
					</div></td>
                <td align="left" width="30" style="font-size:24px;">&nbsp;</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">เบอร์โทรติดต่อ : *</td>
                <td align="left" width="200"><input name="telnumber" type="text" maxlength="10" placeholder="กรุณากรอกเบอร์โทรติดต่อ" style=" padding:2px; font-size:20px;" /></td>
                <td align="right" width="210" style="font-size:24px;">ระยะเวลาเช่าขั้นต่ำ : *</td>
               <td align="left" width="190"><input name="time" type="text" maxlength="3" placeholder="กรุณากรอกระยะเวลาเช่าขั้นต่ำ" style=" padding:2px; font-size:20px;" /></td>
                <td align="left" width="30" style="font-size:24px;"> เดือน</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">ติดต่อคุณ : *</td>
                <td align="left" width="200"><input name="contact_person" type="text" placeholder="กรุณากรอกชื่อผ้ติดต่อ" style=" padding:2px; font-size:20px;" /></td>
                <td align="right" width="210" style="font-size:24px;">ค่าน้ำ : *</td>
               <td align="left" width="190"><input name="water_price" type="text" maxlength="3" placeholder="กรุณากรอกค่าน้ำ" style=" padding:2px; font-size:20px;" /></td>
                <td align="left" width="30" style="font-size:24px;"> บาท</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">อีเมล : *</td>
                <td align="left" width="200"><input name="contact_email" type="text" placeholder="กรุณากรอกอีเมล" style=" padding:2px; font-size:20px;" /></td>
                <td align="right" width="210" style="font-size:24px;">ค่าไฟ : *</td>
               <td align="left" width="190"><input name="power_price" type="text" maxlength="3" placeholder="กรุณากรอกค่าไฟ" style=" padding:2px; font-size:20px;" /></td>
                <td align="left" width="30" style="font-size:24px;"> บาท</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="right" width="240" style="font-size:24px;">เว็บไซต์ : &nbsp;</td>
                <td align="left" width="200"><input name="website" type="text" maxlength="10" placeholder="กรุณากรอกเว็บไซต์" style=" padding:2px; font-size:20px;" /></td>
                <td align="right" width="210" style="font-size:24px;">ค่าอินเตอร์เน็ต : &nbsp;</td>
               <td align="left" width="190"><input name="internet_price" type="text" maxlength="3" placeholder="กรุณากรอกค่าอินเตอร์เน็ต" style=" padding:2px; font-size:20px;" /></td>
                <td align="left" width="30" style="font-size:24px;"> บาท</td>
            </tr>
        </table>
	</div>
</div>

<div class="detail" style="height: 100%; margin-bottom: 15px;">
	<img src="{{asset('images/roomap.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>
        	<tr height="40" valign="bottom">
            	<td align="left" colspan="3" style="font-size:24px;" width="500">ประเภทห้องพัก</td>
                <td align="center" width="100">ขนาด</td>
                <td width="100">&nbsp;</td>
                <td align="center" width="150">อัตราค่าเช่า / เดือน</td>
                <td width="60">&nbsp;</td>
            </tr>
            <tr valign="middle">
            	<td align="left" style="font-size:24px;"><img src="{{asset('images/addmore.png')}}" class="nopad"></td>
                <td align="left" style="font-size:24px;"><img src="{{asset('images/show.png')}}" style="margin-top: 10px;" /> <img src="{{asset('images/upload.png')}}" style="margin-left: 30px; margin-top: -10px; margin-bottom: 10px; display:block;" /></td>
                <td align="left" style="font-size:24px;"><input name="typeap" type="text" maxlength="30" placeholder="กรุณากรอกประเภทห้องพัก" style=" padding:2px; font-size:20px;" /></td>
                <td align="center">24</td>
                <td align="left">ตารางเมตร</td>
                <td align="center">4,500</td>
                <td align="left">บาท</td>
            </tr>
        </table>
    </div>
</div>

<div id="gallery">
	<img src="{{asset('images/gallery.png')}}" class="head" />
        <hr class="line" style="top: 60px;" />
        <div id="container5">
			<div id="slides5"><div class="upload"><img src="{{asset('images/upload.png')}}" /></div>
				<div class="slides_container" style="width:950px;">
					<div class="slide" style="width:950px;">
                            
						<div class="ap3">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-1.jpg')}}"><img src="{{asset('images/Apartment/ap1.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-2.jpg')}}"><img src="{{asset('images/Apartment/ap1.png')}}" /></a>       
						</div>
                                
						<div class="ap3">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-3.jpg')}}"><img src="{{asset('images/Apartment/ap2.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-4.jpg')}}"><img src="{{asset('images/Apartment/ap2.png')}}" /></a>       
						</div>
                                
						<div class="ap4">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-5.jpg')}}"><img src="{{asset('images/Apartment/ap3.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-6.jpg')}}"><img src="{{asset('images/Apartment/ap3.png')}}" /></a>       
						</div>
                                
					</div>

					<div class="slide" style="width:950px;">
                                
						<div class="ap3">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-7.jpg')}}"><img src="{{asset('images/Apartment/ap3.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-1.jpg')}}"><img src="{{asset('images/Apartment/ap3.png')}}" /></a>       
						</div>
                                
						<div class="ap3">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-2.jpg')}}"><img src="{{asset('images/Apartment/ap1.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-3.jpg')}}"><img src="{{asset('images/Apartment/ap1.png')}}" /></a>     
						</div>
                                
						<div class="ap4">
							<a class="pop" rel="group" href="images/slider/slide-4.jpg')}}"><img src="{{asset('images/Apartment/ap2.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="images/slider/slide-5.jpg')}}"><img src="{{asset('images/Apartment/ap2.png')}}" /></a>    
						</div>
                                
					</div>

					<div class="slide" style="width:950px;">
                                
						<div class="ap3">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-6.jpg')}}"><img src="{{asset('images/Apartment/ap2.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-7.jpg')}}"><img src="{{asset('images/Apartment/ap2.png')}}" /></a>     
						</div>
                                
						<div class="ap3">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-1.jpg')}}"><img src="{{asset('images/Apartment/ap3.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-2.jpg')}}"><img src="{{asset('images/Apartment/ap3.png')}}" /></a>         
						</div>
                                
						<div class="ap4">
							<a class="pop" rel="group" href="{{asset('images/slider/slide-3.jpg')}}"><img src="{{asset('images/Apartment/ap1.png')}}" /></a><br /><br />
                            <a class="pop" rel="group" href="{{asset('images/slider/slide-4.jpg')}}"><img src="{{asset('images/Apartment/ap1.png')}}" /></a>  
						</div>
                                
					</div>
				</div>
				<a href="#" class="prev"><img src="{{asset('images/slider/arrow-prev2.png')}}" width="29" height="57" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="{{asset('images/slider/arrow-next2.png')}}" width="29" height="57" alt="Arrow Next"></a>
			</div>
		</div>  
    </div>
</div>

<div class="detail" style="height: 770px; margin-bottom: 15px;">
	<img src="{{asset('images/etc.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>
        	<tr>
            	<td colspan="4">
                ที่ตั้ง :
                </td>
            </tr>
			<tr height="50" valign="middle">
				<td align="left" width="165"><input id="bk" name="option31" type="checkbox" value="bangkok" /><label for="bk">เขตกรุงเทพฯ :</label></td>
				<td width="300">
					<div class="styled-select">
						<select class="select">
							<option value="all">ทุกเขต</option>
							<option value="banken">บางเขน</option>
							<option value="vipawadee">วิภาวดีรังสิต</option>
							<option value="etc">อื่นๆ</option>
						</select>
					</div>
				</td>
				<td align="left" width="145"><input id="bt" name="option32" type="checkbox" value="bts" /><label for="bt">ใกล้รถไฟฟ้า BTS :</label></td>
				<td width="300">
					<div class="styled-select">
						<select class="select">
							<option value="all">ทุกสถานี</option>
							<option value="siam">สยาม</option>
							<option value="chidlom">ชิดลม</option>
							<option value="tonglo">ทองหล่อ</option>
						</select>
					</div>
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="left" width="165"><input id="uni" name="option33" type="checkbox" value="university" /><label for="uni">ใกล้มหาวิทยาลัย :</label></td>
				<td width="300">
					<div class="styled-select">
						<select class="select">
							<option value="all">- กรุณาระบุ -</option>
							<option value="kmitl">สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</option>
							<option value="jula">มหาวิทยาลับจุฬาลงกรณ์</option>
							<option value="tammasard">มหาวิทยาลัยธรรมศาสตร์</option>
						</select>
					</div>
				</td>
				<td align="left" width="145"><input id="mr" name="option34" type="checkbox" value="mrt" /><label for="mr">ใกล้รถไฟฟ้า MRT :</label></td>
				<td width="300">
					<div class="styled-select">
						<select class="select">
							<option value="all">ทุกสถานี</option>
							<option value="banken">สยาม</option>
							<option value="vipawadee">ชิดลม</option>
							<option value="etc">ทองหล่อ</option>
						</select>
					</div>
				</td>
			</tr>
            <tr height="50" valign="middle">
				<td align="left" width="165"><input id="pl" name="option35" type="checkbox" value="etcp" /><label for="pl">ตามสถานที่ใกล้เคียง :</label></td>
				<td width="300">
					<div class="styled-select">
						<select class="select">
							<option value="all">- กรุณาระบุ -</option>
							<option value="suwannapum">สนามบินสุวรรณภูมิ</option>
                            <option value="donmeung">สนามบินดอนเมือง</option>
							<option value="train">รถไฟห้วยขวาง</option>
						</select>
					</div>
				</td>
				<td colspan="2">&nbsp;
				</td>
			</tr>
		</table>
	</div>
	<hr class="line" style="top: 270px;" />
    <div style="margin-top:40px;">
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในห้อง :
                </td>
            </tr>
			{% for list in fac_inroom %}
            <tr height="40" valign="middle">
            	{% for loops in list.loop %}
            	<td width="250">
            		<input id="fac{{loops.id}}" name="fac[]" type="checkbox" value="{{loops.id}}" /> <label for="fac{{loops.id}}">{{loops.facility_name}}</label>
            	</td>
            	{% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>
    <hr class="line" style="top: 460px;" />
    <div style="margin-top:30px;">
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในอาคารและใกล้เคียงอาคาร :
                </td>
            </tr>
			{% for list in fac_outroom %}
            <tr height="40" valign="middle">
            	{% for loops in list.loop %}
            	<td width="250">
            		<input id="fac{{loops.id}}" name="fac[]" type="checkbox" value="{{loops.id}}" /> <label for="fac{{loops.id}}">{{loops.facility_name}}</label>
            	</td>
            	{% endfor %}
            	{% if list.stat == 'end' %}
            		{% if list.count != '4' %}
            		{% for number in 2..list.count %}
            		<td width="250">&nbsp;</td>
            		{% endfor %}
            		<td width="250"><input class="save" type="submit" value="" /> <input class="canc" type="submit" value="" /></td>
            		{% endif %}
            	{% endif %}
            </tr>
            {% if list.stat == 'end' %}
            	{% if list.count == '4' %}
            <tr>
            	{% for number in 2..list.count %}
            		<td width="250">&nbsp;</td>
            	{% endfor %}
            	<td width="250"><input class="save" type="submit" value="" /> <input class="canc" type="submit" value="" /></td>
            </tr>
            	{% endif %}
            {% endif %}
            {% endfor %}
		</table>
	</div>
</div>
</form>
{% endblock %}
