
<script type='text/javascript' src='{{asset("js/paging/data_table/table_paging.js")}}'></script>
<script type="text/javascript">

    // ค่าปัจจุบันในการ sort
    var orderByOld = "{{ orderBy }}";
    var orderByTypeOld = "{{ orderByType }}";

    //ประกาศค่าเริ่มต้น
    var urlPost = "{{ path('listBuilding') }}";
    $(document).ready(function() {
        $("#clickAgain").click(function(e) {
//            alert('working');
            $.post("{{path('FTRWebBundle_regisSendEmail')}}", function(data) {
                if(data = 'success'){
                    $.fancybox({
                        'content' : "{{path('FTRWebBundle_regis_alertemail')}}",
                        'width' : 700,
                        'height' : 400,
                        'autoScale' : false,
                        'transitionIn' : 'elastic',
                        'transitionOut' : 'elastic',
                        'type' : 'iframe'
                    });
                }else{
                    alert('ไม่สามารถส่งอีเมลได้กรุณาลองส่งอีกครั้ง');
                }
            });
            return false;
        });});
    function deleteBuild(id)
    {
        var urlReload = "{{ path('listApartment') }}";
        if(confirm('ยืนยันการลบข้อมูล')==true){
            $.get("{{ path('deleteData') }}" , { id:id},
                    function(data){
                        //alert(data);
                        reloadInner(urlReload);
                    });
        }else{
            return false;
        }
    }
</script>
<img src="{{asset('images/owner.png')}}" style="display:block; position:relative; float:none;" />
<hr class="line" style="top: 60px;" />
<div style="width:1000px; display:block; position:relative; height:100%; margin-top: 0px;">

    <table style="margin-top: 20px; padding-bottom:15px;">
        <thead valign="middle">
        <th align="left" width="250" style="font-size:24px; padding-bottom:10px;">
            <a class="btnOrderBy" href="#" id="sort_building_name">ชื่อตึก<img src="{{asset('images/sort.png')}}" style="padding-top:0px; padding-left:10px; position:absolute;"></a>
        </th>
        <th align="center" width="250" style="font-size:24px; padding-bottom:10px;">
            <a class="btnOrderBy" href="#" id="sort_publish">สถานะการแสดง<img src="{{asset('images/sort.png')}}" style="padding-top:0px; padding-left:10px; position:absolute;">
        </th>
        <th align="center" width="250" style="font-size:24px; padding-bottom:10px;">ดูหน้าตัวอย่าง</th>
        <th align="center" width="250" style="font-size:24px; padding-bottom:10px;">จัดการรายละเอียด</th>

        </thead>
        <hr class="line" style="top: 30px;" />
        <tbody>
        {% for data in build_data %}
            <tr height="50" valign="middle">
                <td align="left" width="250" style="font-size:24px;">{{data.building_name}}</td>
                <td align="center" width="250" style="font-size:24px;">{{data.publish}}</td>
                <td align="center" width="200" style="font-size:24px;">
                    <a href="{{ path('FTRWebBundle_detail',{'buildId': data.id, 'province': data.PROVINCE_NAME, 'prefecture': data.AMPHUR_NAME, 'slug': data.slug}) }}" target="_blank">ดูตัวอย่าง</a>
                </td>
                <td align="center" width="300" style="font-size:24px;">
                    <a href="{{path('addData',{'id': data.id })}}">แก้ไขข้อมูล</a>&nbsp;&nbsp;
                    <a class="deleteContent" onclick="javascript:return deleteBuild({{ data.id }});">ลบข้อมูล</a>
                </td>
            </tr>
        {% endfor %}

        {% if countList == 0 %}
            <tr height="50" valign="middle">
                <td align="center" colspan="4">
                    <font color="#ff4500" size="6">ท่านยังไม่มีข้อมูลตึกเดิม กรุณา กดปุ่มเพิ่ม เพื่อกรอกข้อมูลตึก</font>
                </td>
            </tr>
        {% endif %}
        {% if enabled == '1'%}
            <tr height="70" valign="middle">
                <td align="left"><a href="{{path('addData')}}"><img src="{{asset('images/add-bt.png')}}" style="padding:0" /></a></td>
                <td align="left" style="font-size:24px;" colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" valign="middle">
					<div style="float:left;">
                    แสดงผล {{ countList }} ตึก : หน้า
                    {% for i in 1..paginator.numpages %}
                        {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                            ...
                        {% endif %}

                        {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
                            {% if i==paginator.currentpage %}
                                {% if i == noPage %}
                                    <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
                                {% else %}
                                    <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
                                {% endif %}
                            {% else %}
                                {% if i == noPage %}
                                    <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
                                {% else %}
                                    <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
                            ...
                        {% endif %}
                    {% endfor %}
					</div>
                    <div style="float:left; margin-left:470px; margin-top:-5px; position:absolute;"><strong>ค้นหา:</strong>
                        <input id="tbxSearch" style="padding: 2px;font-size: 20px;" value="{{ textSearch }}" /><img src="{{asset('images/minisearch.png')}}" style="padding-top:0px;position:absolute;padding-left:10px; cursor:pointer;">
						<div class="styled-select" style="margin-top:-30px; margin-left: 295px;">
                        <select name="record" class="record">
                            <option value="10">10 รายการ </option>
                            {% if limit == '50' %}
                                <option selected="yes" value="50">50 รายการ</option>
                                <option value="100">100 รายการ</option>
                                <option value="500">500 รายการ</option>
                                {% elseif limit == '100' %}
                                <option value="50">50 รายการ</option>
                                <option selected="yes" value="100">100 รายการ</option>
                                <option value="500">500 รายการ</option>
                                {% elseif limit == '500' %}
                                <option value="50">50 รายการ</option>
                                <option value="100">100 รายการ</option>
                                <option selected="yes" value="500">500 รายการ</option>
                            {% else %}
                                <option value="50">50 รายการ</option>
                                <option value="100">100 รายการ</option>
                                <option value="500">500 รายการ</option>
                            {% endif %}
                        </select>
						</div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr height align="70" valign="middle">
                <td align="center" colspan="4" style="padding-top:20px;"><font color="#ff4500" size="6">ท่านยังไม่ได้ยืนยันผู้ใช้ กรุณาเช็ค Email ที่ท่านใช้สมัคร   <a id="clickAgain">"ส่ง Email ยืนยันตนอีกครั้ง"</a></font></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>