<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FindTheRoom</title>
<link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('css/gooeymenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('css/global.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/paging.css')}}">
<script src="{{asset('js/jquery.min.js')}}"></script>
<script src="{{asset('js/html5placeholder.jquery.js')}}"></script>
<script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset('js/slides.min.jquery.js')}}"></script>
<script src="{{asset('js/paging/jquery.paginate.js')}}"></script>
<script type="text/javascript" src="{{asset('js/fancybox/jquery.fancybox-1.3.4.pack.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('css/jquery.fancybox-1.3.4.css')}}" media="screen" />
<script type="text/javascript">
		$(function() {
			$("#demo5").paginate({
				count 		: 30,
				start 		: 1,
				display     : 20,
				border					: false,
				text_color  			: '#423C3B',	
				text_hover_color  		: '#423C3B', 
				images					: false,
				mouse					: 'press'
			});
		});
</script>
<script type="text/javascript">
		$(document).ready(function() {
			$("a#gmap").fancybox({
				'overlayShow'	: true,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic',
				'showNavArrows' : false
			});
			$("a#imap").fancybox({
				'overlayShow'	: true,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic',
				'showNavArrows' : false
			});
			$("a#cmap").fancybox({
				'overlayShow'	: true,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic',
				'showNavArrows' : false
			});
			$("a#login").fancybox({
				'width'				: 700,
				'height'			: 400,
				'autoScale'			: false,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'showNavArrows' : false,
				'type'				: 'iframe'
			});
		});
</script>
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				effect: 'fade',
				fadeSpeed: 350,
				fadeEasing: "easeOutQuad",
				crossfade: true
			});
			$('#slides2').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
			$('#slides3').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
			$('#slides4').slides({
				preload: true,
				preloadImage: 'images/slider/loading.gif',
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
		});
</script>
<script>
    $(function(){
      $(':input[placeholder]').placeholder();
    });
</script>
<script language="javascript">
		$(document).ready(function(){
		var mybrowser=navigator.userAgent;
		if(mybrowser.indexOf('Firefox')>0){
		$(".login").css("marginLeft","5px");
		$(".head hr").css("marginTop","5px");
		//$(".or").css("marginLeft","20px");
		//$(".link").css("marginLeft","80px");
		}
		});
</script>
<script type="text/javascript">  
$(function(){  
    $("ul#navi_containTab > li").click(function(event){  
            var menuIndex=$(this).index();  
            $("ul#detail_containTab > li:visible").hide();             
            $("ul#detail_containTab > li").eq(menuIndex).show(); 
    });  
	$("ul#navi_containTab2 > li").click(function(event){  
            var menuIndex=$(this).index();  
            $("ul#detail_containTab2 > li:visible").hide();             
            $("ul#detail_containTab2 > li").eq(menuIndex).show(); 
    });  
	$("ul#navi_containTab3 > li").click(function(event){  
            var menuIndex=$(this).index();  
            $("ul#detail_containTab3 > li:visible").hide();             
            $("ul#detail_containTab3 > li").eq(menuIndex).show(); 
    }); 
	$("li#tabNavi1").click(function(event){  
            $("#recommend").css("marginTop","15px");             
    });  
	$("li#tabNavi2").click(function(event){  
            $("#recommend").css("marginTop","15px");             
    }); 
	$("li#tabNavi3").click(function(event){  
            $("#recommend").css("marginTop","215px");             
    }); 
});  
</script>

<script type="text/javascript"> 
function enact(what){
     var p = what.parentNode;
     var els = p.getElementsByTagName('li');
     for(i=0;i<els.length;i++){
          els[i].className = '';
     }
     what.className = 'active';
}
</script>

</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '414830161885886', // App ID
            channelUrl : '//www.findtheroom.com//login.php', // Channel File ระบุไฟล์ที่จะใช้ login
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });
        };
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));
</script>

<div id="header">
	<span>Follow Us On :</span><div class="social"><a href="http://www.facebook.com/FindTheRoom" target="_new"><img src="images/fb-icon.gif" /></a> <a href="http://twitter.com/FindTheRoom" target="_blank"><img src="images/tw-icon.gif" /></a></div>
	<div id="logo"></div>
    <div id="login">
    	<form>
    		<input name="username" type="text" value="" maxlength="25" placeholder="Username" /> <input name="password" type="password" value="" maxlength="25" placeholder="Password" /> <input class="login" type="submit" value="" />
        </form>
    </div>
</div>

<div id="menu">
	<hr />
    <ul id="gooeymenu1" class="gelbuttonmenu">
    	 <li><a href="index.html">หน้าแรก</a></li>
         <li><a href="search.html">ค้นหาอย่างละเอียด</a></li>
         <li><a href="#">ลงโฆษณา</a></li>
         <li><a href="publish.html" class="selected">ลงประกาศห้องพักฟรี</a></li>
         <li><a href="#">กระดานพูดคุย</a></li>
         <li><a href="contact.html" style="margin-right:0px;">ติดต่อเรา</a></li>
    </ul>
    <hr />
</div>

<div class="detail" style="height: 100%; margin-bottom: 15px;">
	<img src="{{asset('images/owner.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div style="width:1000px; display:block; position:relative; height:100%; margin-top: 0px;">
		<table style="margin-top: 0px;">
        	<tr height="80" valign="middle">
				<td align="left" width="250" style="font-size:24px;">ชื่อตึก</td>
                <td align="center" width="250" style="font-size:24px;">สถานะการแสดง</td>
                <td align="center" width="250" style="font-size:24px;">ดูหน้าตัวอย่าง</td>
                <td align="center" width="250" style="font-size:24px;">แก้ไขรายละเอียด</td>
            </tr>
            <hr class="line" style="top: 60px;" />
        	<tr height="50" valign="middle">
				<td align="left" width="250" style="font-size:24px;">หอขวัญ อพาร์ทเม้นต์</td>
                <td align="center" width="250" style="font-size:24px;">รอการยืนยัน</td>
                <td align="center" width="250" style="font-size:24px;"><a href="#">ดู</a></td>
                <td align="center" width="250" style="font-size:24px;"><a herf="#">แก้ไข</a></td>
            </tr>
            <tr height="50" valign="middle">
				<td align="left" width="250" style="font-size:24px;">หอขวัญ อพาร์ทเม้นต์</td>
                <td align="center" width="250" style="font-size:24px;">รอการยืนยัน</td>
                <td align="center" width="250" style="font-size:24px;"><a href="#">ดู</a></td>
                <td align="center" width="250" style="font-size:24px;"><a herf="#">แก้ไข</a></td>
            </tr>
            <tr height="70" valign="middle">
                <td align="left"><a href="add.html"><img src="{{asset('images/add-bt.png')}}" style="padding:0" /></a></td>
                <td align="left" style="font-size:24px;" colspan="3">&nbsp;</td>
            </tr>
        </table>
	</div>
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="footer">
	<ul>
        <li class="head"><img src="images/footer1.png" /><hr /><a href="index.html">หน้าแรก</a> <a href="search.html">ค้นหาอย่างละเอียด</a> <a href="#">ลงโฆษณา</a> <a href="publish.html">ลงประกาศห้องพักฟรี</a> <a href="#">กระดานพูดคุย</a> <a href="contact.html">ติดต่อเรา</a></li>
        <li class="head"><img src="images/footer2.png" /><hr /><a href="#">อพาร์ทเม้นต์</a> <a href="#">หอพักชาย</a> <a href="#">หอพักหญิง</a></li>
        <li class="head"><img src="images/footer3.png" /><hr /><a href="#">เขตกรุงเทพฯ</a> <a href="#">ใกล้มหาวิทยาลัย</a> <a href="#">ใกล้รถไฟฟ้า BTS</a> <a href="#">ใกล้รถไฟฟ้า MRT</a> <a href="#">ตามสถานที่ใกล้เคียง</a></li>
        <li class="head"><img src="images/footer4.png" /><hr /><a href="http://www.facebook.com/FindTheRoom" target="_new">Facebook</a> <a href="http://twitter.com/FindTheRoom" target="_new">Twitter</a> <div class="fb-like-box" data-href="http://www.facebook.com/FindTheRoom" data-width="205" data-height="65" data-show-faces="false" data-stream="false" data-header="true" style="background-color:#FFF; margin-left: 10px; margin-top: 10px;"></div></li>
	</ul>
</div>

<div id="copyr">
<span>&copy; 2012 FindTheRoom.com</span> <span style="float:right;">ติดต่อสอบถามโทร. 02-123-4567</span>
</div>

</body>
</html>
