{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<div class="detail" style="height: 420px; margin-bottom: 15px;">
	<img src="{{asset('images/user.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div style="width:1000px; display:block; position:relative; height:240px; margin-top: 40px;">
    	<form id="userprofile" action="{{path('updateUserProfile')}}" method="post">
			<table style="margin-top: 0px;">
	        	<tr height="60" valign="top">
					<td align="left" width="200" style="font-size:24px;">ชื่อแรก : </td>
	                <td align="left" width="300"><input name="fname" type="text" maxlength="30" placeholder="กรุณากรอกชื่อแรก" value="{{firstname}}" style=" padding:2px; font-size:20px;" /></td>
	                <td align="left" width="200" style="font-size:24px;">นามสกุล : </td>
	                <td align="left" width="120"><input name="lname" type="text" maxlength="30" placeholder="กรุณากรอกนามสกล" value="{{lastname}}" style=" padding:2px; font-size:20px;" /></td>
	            </tr>
	            <tr height="60" valign="top">
					<td align="left" width="200" style="font-size:24px;">ชื่อผู้ใช้งาน : </td>
	                <td align="left" width="300"><input name="username" type="text" maxlength="30" placeholder="กรุณากรอกชื่อผู้ใช้งาน" value="{{username}}" style=" padding:2px; font-size:20px;" /></td>
	                <td align="left" width="200" style="font-size:24px;">อีเมล : </td>
	                <td align="left" width="120"><input name="email" type="text" maxlength="30" placeholder="กรุณากรอกอีเมล" value="{{email}}" style=" padding:2px; font-size:20px;" />
	                	<br>
	                	<div id="passerror"><font class="alertmsg">{{errormsg.email}}</font></div>
	                </td>
	            </tr>
	            <tr height="60" valign="top">
					<td align="left" width="200" style="font-size:24px;">รหัสผ่าน : </td>
	                <td align="left" width="300">
	                	<input name="password" type="password" maxlength="30" placeholder="กรุณากรอกรหัสผ่าน" value="{{password}}" style=" padding:2px; font-size:20px;" />
	                	<br>
	                	<div id="passerror"><font class="alertmsg">{{errormsg.password}}</font></div>
	                </td>
	                <td align="left" width="200" style="font-size:24px;">ยืนยันรหัสผ่าน : </td>
	                <td align="left" width="120"><input name="cpassword" type="password" maxlength="30" placeholder="ยืนยันรหัสผ่าน" value="" style=" padding:2px; font-size:20px;" />
	                	<br>
	                	<font class="alertmsg">{{errormsg.confirmpass}}</font>
	                </td>
	            </tr>
	            <tr height="60" valign="top">
					<td align="left" width="200" style="font-size:24px;">เบอร์โทรศัพท์ : </td>
	                <td align="left" width="300"><input name="tel" type="text" maxlength="30" placeholder="กรุณากรอกเบอร์โทรศัพท์" value="{{phone_number}}" style=" padding:2px; font-size:20px;" />
	                	<br>
	                	<div id="passerror"><font class="alertmsg">{{errormsg.tel}}</font></div>
	                </td>
	                <td align="left" width="200" style="font-size:24px;" colspan="2"></td>
	            </tr>
	            <tr height="50" valign="top">
					<td align="left" style="font-size:24px;" colspan="3">&nbsp;</td>
	                <td align="left" width="150"><input class="edit" type="submit" value="edit" /></td>
	            </tr>
	        </table>
        </form>
	</div>
</div>
<div class="detail" style="height: 100%; margin-bottom: 15px;">
	<img src="{{asset('images/owner.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div style="width:1000px; display:block; position:relative; height:100%; margin-top: 0px;">
		<table style="margin-top: 0px;">
        	<tr height="80" valign="middle">
				<td align="left" width="250" style="font-size:24px;">ชื่อตึก</td>
                <td align="center" width="250" style="font-size:24px;">สถานะการแสดง</td>
                <td align="center" width="250" style="font-size:24px;">ดูหน้าตัวอย่าง</td>
                <td align="center" width="250" style="font-size:24px;">แก้ไขรายละเอียด</td>
            </tr>
            <hr class="line" style="top: 60px;" />
            {% for data in build_data %}
        	<tr height="50" valign="middle">
				<td align="left" width="250" style="font-size:24px;">{{data.building_name}}</td>
                <td align="center" width="250" style="font-size:24px;">{{data.publish}}</td>
                <td align="center" width="250" style="font-size:24px;"><a href="#">ดู</a></td>
                <td align="center" width="250" style="font-size:24px;"><a herf="{{path('addData',{'id': data.id })}}">แก้ไข</a></td>
            </tr>
            {% endfor %}
            <tr height="70" valign="middle">
                <td align="left"><a href="{{path('addData')}}"><img src="{{asset('images/add-bt.png')}}" style="padding:0" /></a></td>
                <td align="left" style="font-size:24px;" colspan="3">&nbsp;</td>
            </tr>
        </table>
	</div>
</div>

{% endblock %}
