<!-- peung -->
<form method="post" action="{{path('FTRWebBundle_list')}}">
<div id="search2">
	<img src="{{asset('images/search-i.png')}}" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>
			<tr height="50" valign="middle">
				<td align="right" style="padding-right:15px;">ประเภทห้องพัก :</td>
				<td width="350">
					<div class="styled-select">
						<select class="select">
							{% for btype in buildingTypeList %}
								<option value="{{ btype.id }}">{{ btype.type_name }}</option>
							{% endfor %}
						</select>
					</div>
				</td>
				<td align="right" style="padding-right:15px;">ราคาเริ่มต้น :</td>
				<td width="350">
					<input class="price" name="lessprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาเริ่มต้น" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="right" style="padding-right:15px;">ชนิด :</td>
				<td>
					<div class="styled-select">
						<select class="select">
							{% for ptype in payType %}
								<option value="{{ ptype.id }}">{{ ptype.typename }}</option>
							{% endfor %}
						</select>
					</div>
				</td>
				<td align="right" style="padding-right:15px;">ราคาไม่เกิน :</td>
				<td>
					<input class="price" name="mostprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาไม่เกิน" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
				</td>
			</tr>
		</table>
	</div>
    <hr class="line" style="top: 185px;" />
    <div>
		<table>
			<tr height="50" valign="middle">
				<td align="left" width="165">จังหวัด :</td>
				<td width="300">
					<div class="styled-select">
						<select class="select">
							{% for zlist in zonelist %}
								<option value="{{ zlist.id }}">{{ zlist.zonename }}</option>
							{% endfor %}
						</select>
					</div>
				</td>
				<td align="left" width="145"><input id="bt" name="place" type="radio" value="bts" /><label for="bt">ใกล้รถไฟฟ้า BTS :</label></td>
				<td width="300">
					<div class="styled-select">
                    <label for="bt">
						<select class="select">
							{% for btslist in nearBTS %}
								<option value="{{ btslist.id }}">{{ btslist.name }}</option>
							{% endfor %}
						</select>
                    </label>
					</div>
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="left" width="165"><input id="bk" name="place" type="radio" value="bangkok" checked="checked" /><label for="bk">โซนในกรุงเทพฯ :</label></td>
				<td width="300">
					<div class="styled-select">
                    <label for="bk">
						<select class="select">
							{% for zlist in zonelist %}
								<option value="{{ zlist.id }}">{{ zlist.zonename }}</option>
							{% endfor %}
						</select>
                    </label>
					</div>
				</td>
				<td align="left" width="145"><input id="mr" name="place" type="radio" value="mrt" /><label for="mr">ใกล้รถไฟฟ้า MRT :</label></td>
				<td width="300">
					<div class="styled-select">
                    <label for="mr">
						<select class="select">
							{% for mrtlist in nearMRT %}
								<option value="{{ mrtlist.id }}">{{ mrtlist.name }}</option>
							{% endfor %}
						</select>
                    </label>
					</div>
				</td>
			</tr>
            <tr height="50" valign="middle">
				<td align="left" width="165"><input id="uni" name="place" type="radio" value="university" /><label for="uni">ใกล้มหาวิทยาลัย :</label></td>
				<td width="300">
					<div class="styled-select">
                    <label for="uni">
						<select class="select">
							{% for ulist in nearUniversity %}
								<option value="{{ ulist.id }}">{{ ulist.name }}</option>
							{% endfor %}
						</select>
                    </label>
					</div>
				</td>
				<td align="left" width="165"><input id="pl" name="place" type="radio" value="etcp" /><label for="pl">ตามสถานที่ใกล้เคียง :</label></td>
				<td width="300">
					<div class="styled-select">
                    <label for="pl">
						<select class="select">
							{% for blist in nearBy %}
								<option value="{{ blist.id }}">{{ blist.name }}</option>
							{% endfor %}
						</select>
                    </label>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<hr class="line" style="top: 360px;" />
    <div>
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในห้อง :
                </td>
            </tr>
            {% for list in fac_inroom %}
            <tr height="40" valign="middle">
            	{% for loops in list.loop %}
            	<td width="250">
            		<input id="{{loops.id}}" name="{{loops.id}}" type="checkbox" value="{{loops.id}}" /> <label for="{{loops.id}}">{{loops.facility_name}}</label>
            	</td>
            	{% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>
    <hr class="line" style="top: 535px;" />
    <div>
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในอาคารและใกล้เคียงอาคาร :
                </td>
            </tr>
			{% for outlist in fac_outroom %}
            <tr height="40" valign="middle">
            	{% for outloops in outlist.loop %}
            	<td width="250">
            		<input id="{{outloops.id}}" name="{{outloops.id}}" type="checkbox" value="{{outloops.id}}" /> <label for="{{outloops.id}}">{{outloops.facility_name}}</label>
            	</td>
            	{% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>
    <input class="search2" type="submit" value="" />
</div>
</form>
<!-- end peung -->

