<!-- peung -->
<script language=javascript>
function fncAlert(){
	if(document.getElementById('bk').checked) {
	   //$("#tbk").css("display","block");
	   //$("#tcou").css("display","none");
	   document.getElementById('sbk1').disabled=false;
	   document.getElementById('sbk2').disabled=false;
	   document.getElementById('sbk3').disabled=false;
	   document.getElementById('sbk4').disabled=false;
	   document.getElementById('sbk5').disabled=false;
	   document.getElementById('scou').disabled=true;
	}else if(document.getElementById('cou').checked) {
	   //$("#tbk").css("display","none");
	   //$("#tcou").css("display","block");
	   document.getElementById('sbk1').disabled=true;
	   document.getElementById('sbk2').disabled=true;
	   document.getElementById('sbk3').disabled=true;
	   document.getElementById('sbk4').disabled=true;
	   document.getElementById('sbk5').disabled=true;
	   document.getElementById('scou').disabled=false;
	}
}
</script>
<form method="post" action="{{path('FTRWebBundle_list')}}">
<div id="search2">
	<img src="{{asset('images/search-i.png')}}" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>
			<tr height="50" valign="middle">
				<td align="right" style="padding-right:15px;">ประเภทห้องพัก :</td>
				<td width="350">
					<div class="styled-select">
						<select class="select">
							{% for btype in buildingTypeList %}
								<option value="{{ btype.id }}">{{ btype.type_name }}</option>
							{% endfor %}
						</select>
					</div>
				</td>
				<td align="right" style="padding-right:15px;">ราคาเริ่มต้น :</td>
				<td width="350">
					<input class="price" name="lessprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาเริ่มต้น" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="right" style="padding-right:15px;">ชนิด :</td>
				<td>
					<div class="styled-select">
						<select class="select">
							{% for ptype in payType %}
								<option value="{{ ptype.id }}">{{ ptype.typename }}</option>
							{% endfor %}
						</select>
					</div>
				</td>
				<td align="right" style="padding-right:15px;">ราคาไม่เกิน :</td>
				<td>
					<input class="price" name="mostprice" type="text" maxlength="10" placeholder="กรุณากรอกราคาไม่เกิน" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
				</td>
			</tr>
		</table>
	</div>
    <hr class="line" style="top: 185px;" />
    <div style="display:block;padding-bottom:10px;">
		<table>
			<tr height="50" valign="middle">
				<td align="left" width="165">จังหวัด :</td>
				<td width="300">
					<input id="bk" name="bc" type="radio" value="bkk" checked OnClick="JavaScript:fncAlert();" /><label for="bk">กรุงเทพฯ</label>
				</td>
				<td width="170">
					<input id="cou" name="bc" type="radio" value="country" OnClick="JavaScript:fncAlert();" /><label for="cou">ต่างจังหวัด</label>
				</td>
				<td width="200">
					<div class="styled-select">
						<label for="cou">
						<select class="select">
							{% for zlist in zonelist %}
								<option value="{{ zlist.id }}">{{ zlist.zonename }}</option>
							{% endfor %}
						</select>
						</label>
					</div>
				</td>
			</tr>
		</table>
		
		<table id="tbk" style="margin-top:0px; border-right:1px solid #fff; float:left;">
			<tr height="50" valign="middle">
				<td align="left" width="165">โซนในกรุงเทพฯ :</td>
				<td width="250">
					<div class="styled-select">
                  
						<select class="select" id="sbk1">
							{% for zlist in zonelist %}
								<option value="{{ zlist.id }}">{{ zlist.zonename }}</option>
							{% endfor %}
						</select>
                  
					</div>
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="left" width="145">ใกล้รถไฟฟ้า BTS :</td>
				<td width="250">
					<div class="styled-select">
                    
						<select class="select" id="sbk2">
							{% for btslist in nearBTS %}
								<option value="{{ btslist.id }}">{{ btslist.name }}</option>
							{% endfor %}
						</select>
                   
					</div>
				</td>
			</tr>
			<tr height="50" valign="middle">
				<td align="left" width="145">ใกล้รถไฟฟ้า MRT :</td>
				<td width="250">
					<div class="styled-select">
                  
						<select class="select" id="sbk3">
							{% for mrtlist in nearMRT %}
								<option value="{{ mrtlist.id }}">{{ mrtlist.name }}</option>
							{% endfor %}
						</select>
                    
					</div>
				</td>
			</tr>
            <tr height="50" valign="middle">
				<td align="left" width="165">ใกล้มหาวิทยาลัย :</td>
				<td width="250">
					<div class="styled-select">
                   
						<select class="select" id="sbk4">
							{% for ulist in nearUniversity %}
								<option value="{{ ulist.id }}">{{ ulist.name }}</option>
							{% endfor %}
						</select>
                   
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" width="165">ตามสถานที่ใกล้เคียง :</td>
				<td width="250">
					<div class="styled-select">
                   
						<select class="select" id="sbk5">
							{% for blist in nearBy %}
								<option value="{{ blist.id }}">{{ blist.name }}</option>
							{% endfor %}
						</select>
                    
					</div>
				</td>
				<td colspan="2"></td>
			</tr>
		</table>
		
		<table id="tcou" style="margin-top:0px; display:block; height:244px; margin-top: 10px;">
			<tr valign="top">
				<td align="left" width="165" style="padding-left:50px">ตามสถานที่ใกล้เคียง :</td>
				<td width="300">
					<div class="styled-select">
                
						<select class="select" id="scou" disabled>
							{% for blist in nearBy %}
								<option value="{{ blist.id }}">{{ blist.name }}</option>
							{% endfor %}
						</select>
                
					</div>
				</td>
				<td colspan="2"></td>
			</tr>
		</table>
	</div>
	<hr class="line" />
     <div style="display:block;padding-bottom:10px;">
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในห้อง :
                </td>
            </tr>
            {% for list in fac_inroom %}
            <tr height="40" valign="middle">
            	{% for loops in list.loop %}
            	<td width="250">
            		<input id="{{loops.id}}" name="{{loops.id}}" type="checkbox" value="{{loops.id}}" /> <label for="{{loops.id}}">{{loops.facility_name}}</label>
            	</td>
            	{% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>
    <hr class="line"/>
    <div>
		<table>
        	<tr>
            	<td colspan="4" style="padding-bottom:5px;">
                สิ่งอำนวยความสะดวกในอาคารและใกล้เคียงอาคาร :
                </td>
            </tr>
			{% for outlist in fac_outroom %}
            <tr height="40" valign="middle">
            	{% for outloops in outlist.loop %}
            	<td width="250">
            		<input id="{{outloops.id}}" name="{{outloops.id}}" type="checkbox" value="{{outloops.id}}" /> <label for="{{outloops.id}}">{{outloops.facility_name}}</label>
            	</td>
            	{% endfor %}
            </tr>
            {% endfor %}
		</table>
	</div>
    <input class="search2" type="submit" value="" />
</div>
</form>
<!-- end peung -->

