<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

    //[building_name, latitude, longitude, 1, weburl, imageurl, typename]
    var locationsmap1 = [
        {% for map in get_map1 %}
        ['{{map.building_name}}', {{map.latitude}}, {{map.longitude}}, 1, {{map.id}}, 'IMG URL.', '{{map.bt_id}}'],
        {% endfor %}
    ];

    var locationsmap2 = [
        {% for map in get_map2 %}
        ['{{map.building_name}}', {{map.latitude}}, {{map.longitude}}, 1, {{map.id}}, 'IMG URL.', '{{map.bt_id}}'],
        {% endfor %}
    ];

    var locationsmap3 = [
        {% for map in get_map3 %}
        ['{{map.building_name}}', {{map.latitude}}, {{map.longitude}}, 1, {{map.id}}, 'IMG URL.', '{{map.bt_id}}'],
        {% endfor %}
    ];

    var locationsmap4 = [
        {% for map in get_map4 %}
        ['{{map.building_name}}', {{map.latitude}}, {{map.longitude}}, 1, {{map.id}}, 'IMG URL.', '{{map.bt_id}}'],
        {% endfor %}
    ];

    $(document).ready(function () {
        $("#tabNavi3,#btnmap1").click(function () {
            loadMap(locationsmap1);
        });

        $("#btnmap2").click(function () {
            loadMap(locationsmap2);
        });

        $("#btnmap3").click(function () {
            loadMap(locationsmap3);
        });

        $("#btnmap4").click(function () {
            loadMap(locationsmap4);
        });
    });

    //pin icon อพาร์ทเม้นต์
    var pinIcon1 = "{{ pinApartment }}";
    //pin icon หอพักชาย
    var pinIcon2 = "{{ pinMan }}";
    //pin icon หอพักหญิง
    var pinIcon3 = "{{ pinWomen }}";

    //กำหนดรูป  pin icon
    function getPinIcon(typeName) {
        if (typeName == '2') {
            return new google.maps.MarkerImage(pinIcon2, null, null, new google.maps.Point(0, 32));
        } else if (typeName == '3') {
            return new google.maps.MarkerImage(pinIcon3, null, null, new google.maps.Point(0, 32));
        } else {
            return new google.maps.MarkerImage(pinIcon1, null, null, new google.maps.Point(0, 32));
        }
    }

    function loadMap(locations) {
        var map = new google.maps.Map(document.getElementById('googlemap'), {
            zoom:11,
            center:new google.maps.LatLng(13.771232, 100.59234),
            mapTypeId:google.maps.MapTypeId.ROADMAP
        });
        // var icon = new google.maps.MarkerImage(pinIcon);
        // var icon = new google.maps.MarkerImage(pinIcon1, null, null, new google.maps.Point(0, 32));
        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        // วนลูปปักหมุด
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position:new google.maps.LatLng(locations[i][1], locations[i][2]),
                map:map,
                icon:getPinIcon(locations[i][6])
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent('<div style="width: 200px; height: auto; margin: 0;"><a href="' + locations[i][4] +
                            '" target="_blank"><div style="width: 200px; margin-bottom: 10px; color: #F1592A; font-size: 14px; font-weight: bold;">' +
                            locations[i][0] + '</div><div style="width: 200px; text-align:center;"><img src="' + locations[i][5] +
                            '" width="150" style="float: left; margin-right: 10px;" border="0"></div></a></div>');
                    infowindow.open(map, marker);
                }
            })(marker, i));
        } // End วนลูปปักหมุด
    }
</script>
<script type="text/javascript">
    $(function () {
        $('ul#navi_containTab > li').click(function (event) {
            var menuIndex = $(this).index();
            $('ul#detail_containTab > li:visible').hide();
            $('ul#detail_containTab > li').eq(menuIndex).show();
        });
        $('ul#navi_containTab2 > li').click(function (event) {
            var menuIndex = $(this).index();
            $('ul#detail_containTab2 > li:visible').hide();
            $('ul#detail_containTab2 > li').eq(menuIndex).show();
        });
    });
</script>
<script type="text/javascript">
    function enact(what) {
        var p = what.parentNode;
        var els = p.getElementsByTagName('li');
        for (i = 0; i < els.length; i++) {
            els[i].className = '';
        }
        what.className = 'active';
    }
</script>

<script language="javascript">
    $(document).ready(function () {
        {% if shortSearchType == 'bkk' %}
        $('ul#detail_containTab > li.detailContent1').show();
        $('ul#detail_containTab > li.detailContent2').hide();
        {% endif %}

        {% if shortSearchType == 'country' %}
        $('ul#detail_containTab > li.detailContent2').show();
        $('ul#detail_containTab > li.detailContent1').hide();
        {% endif %}
    });
</script>


<div id="search1">
    <div id="i_containTab">
        <ul id="navi_containTab">
            <li id="tabNavi1" {% if shortSearchType == 'bkk' %}class="active" {% endif %} onclick="enact(this)"></li>
            <li id="tabNavi2" {% if shortSearchType == 'country' %}class="active" {% endif %}
                onclick="enact(this)"></li>
            <li id="tabNavi3" onclick="enact(this)"></li>
        </ul>
        <span class="or">หรือ</span><a href='{{ path('FTRWebBundle_search') }}' class="link" target="_new">ค้นหาอย่างละเอียด</a>
        <hr class="line" style="top: 60px"/>
        <ul id="detail_containTab">
            <li class="detailContent1">
                <form action='{{ path('FTRWebBundle_list') }}?searchType=shortSearch' method="get" id="frmSearch"
                      name="frmSearch">
                    <input type="hidden" value="bkk" name="searchBkk" id="searchBkk">
                    <input type="hidden" value="shortSearch" name="searchType">

                    <div>
                        <table>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px" width="115">โซนในกรุงเทพฯ :</td>
                                <td width="350">
                                    <div class="styled-select">
                                        <select class="select" name="โซน" id="bkkZone">
                                            {% for zlist in bkkZone %}
                                                <option value="{{ zlist.zonename }}"
                                                        {% if zone == zlist.zonename %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ zlist.zonename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ชนิด :</td>
                                <td width="330">
                                    <div class="styled-select">
                                        <select class="select" name="ชนิด" id="bkkPayType">
                                            {% for plist in payType %}
                                                <option value="{{ plist.typename }}"
                                                        {% if bkkPayType == plist.typename %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ plist.typename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;
                                </td>
                            </tr>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px">ประเภทหอพัก :</td>
                                <td>
                                    <div class="styled-select">
                                        <select class="select" name="ประเภทหอพัก" id="bkkBuildingType">
                                            {% for blistm in buildingType %}
                                                <option value="{{ blistm.type_name }}"
                                                        {% if selBuildingType == blistm.type_name %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ blistm.type_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ราคา :</td>
                                <td>
                                    <input class="price" value="{{ lessPrice }}" name="ราคาเริ่มต้น" type="text"
                                           maxlength="10" placeholder="ราคาเริ่มต้น"/> -
                                    <input class="price" value="{{ mostPrice }}" name="ราคาไม่เกิน" type="text"
                                           maxlength="10" placeholder="ราคาไม่เกิน"/>&nbsp;&nbsp;&nbsp;&nbsp;บาท
                                </td>
                                <td>
                                    <input class="search" type="submit" value=""/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </li>

            <li class="detailContent2">
                <form action='{{ path('FTRWebBundle_list') }}' method="get" id="frmSearchCountry" name="frmSearch">
                    <input type="hidden" value="country" name="searchCountry" id="searchCountry">
                    <input type="hidden" value="shortSearch" name="searchType">

                    <div>
                        <table>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px" width="115">จังหวัด :</td>
                                <td width="350">
                                    <div class="styled-select">
                                        <select class="select" name="จังหวัด" id="selProvince">
                                            {% for pvlist in province %}
                                                <option value="{{ pvlist.PROVINCE_NAME }}"
                                                        {% if selProvince == pvlist.PROVINCE_NAME %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ pvlist.PROVINCE_NAME }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ชนิด :</td>
                                <td width="330">
                                    <div class="styled-select">
                                        <select class="select" name="ชนิด">
                                            {% for plist in payType %}
                                                <option value="{{ plist.typename }}"
                                                        {% if bkkPayType == plist.typename %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ plist.typename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;

                                </td>
                            </tr>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px">ประเภทหอพัก :</td>
                                <td>
                                    <div class="styled-select">
                                        <select class="select" name="ประเภทหอพัก">
                                            {% for blistm in buildingType %}
                                                <option value="{{ blistm.type_name }}"
                                                        {% if selBuildingType == blistm.type_name %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ blistm.type_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ราคา :</td>
                                <td>
                                    <input class="price" value="{{ lessPrice }}" name="ราคาเริ่มต้น"
                                           type="text" maxlength="10" placeholder="ราคาเริ่มต้น"/> -
                                    <input class="price" value="{{ mostPrice }}" name="ราคาไม่เกิน"
                                           type="text" maxlength="10" placeholder="ราคาไม่เกิน"/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;บาท
                                </td>
                                <td>
                                    <input class="search" type="submit" value=""/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </li>

            <li class="detailContent3">
                <div style="float:left">
                    <input class="map1" type="button" value="" id="btnmap1"/>
                    <input class="map2" type="button" value="" id="btnmap2"/>
                    <input class="map3" type="button" value="" id="btnmap3"/>
                    <input class="map4" type="button" value="" id="btnmap4"/>
                </div>
                <div style="float:left; margin-left: 30px;">
                    <div id="googlemap" style="width:645px;height:293px;"></div>
                    <img src="{{ asset('images/gg-type.png') }}" class="style"/>
                </div>
            </li>
        </ul>
    </div>
</div>