<div id="search1">
    <div id="i_containTab">
        <ul id="navi_containTab">
            <li id="tabNavi1" class="active" onclick="enact(this)"></li>
            <li id="tabNavi2" onclick="enact(this)"></li>
            <li id="tabNavi3" onclick="enact(this)"></li>
        </ul>
        <span class="or">หรือ</span><a href='{{path('FTRWebBundle_search')}}' class="link" target="_new">ค้นหาอย่างละเอียด</a>
        <hr class="line" style="top: 60px" />
        <ul id="detail_containTab">
            <li class="detailContent1">
                <form action='{{path('FTRWebBundle_list')}}' method="post">
                    <div>
                        <table>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px" width="115">โซนในกรุงเทพฯ :</td>
                                <td width="350">
                                    <div class="styled-select">
                                        <select class="select" >
                                            {% for zlistm in zonelist_month %}
                                            <option value="{{ zlistm.id }}">{{ zlistm.zonename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ชนิด :</td>
                                <td width="330">
                                    <div class="styled-select">
                                        <select class="select" >
                                            {% for zlistm in zonelist_month %}
                                            <option value="{{ zlistm.id }}">{{ zlistm.zonename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;
                                </td>
                            </tr>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px">ประเภทห้องพัก :</td>
                                <td>
                                    <div class="styled-select">
                                        <select class="select">
                                            {% for blistm in buildingtype_month %}
                                            <option value="{{ blistm.id }}">{{ blistm.type_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ราคา :</td>
                                <td>
                                    <input class="price" name="lessprice" type="text" maxlength="10" placeholder="ราคาเริ่มต้น" /> - <input class="price" name="mostprice" type="text" maxlength="10" placeholder="ราคาไม่เกิน" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
                                </td>
                                <td>
                                    <input class="search" type="submit" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </li>

            <li class="detailContent2">
                <form action='{{path('FTRWebBundle_list')}}' method="post">
                    <div>
                        <table>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px" width="115">จังหวัด :</td>
                                <td width="350">
                                    <div class="styled-select">
                                        <select class="select">
                                            {% for zlistd in zonelist_day %}
                                            <option value="{{ zlistd.id }}">{{ zlistd.zonename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ชนิด :</td>
                                <td width="330">
                                    <div class="styled-select">
                                        <select class="select" >
                                            {% for zlistm in zonelist_month %}
                                            <option value="{{ zlistm.id }}">{{ zlistm.zonename }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;

                                </td>
                            </tr>
                            <tr height="50" valign="middle">
                                <td align="right" style="padding-right:15px">ประเภทห้องพัก :</td>
                                <td>
                                    <div class="styled-select">
                                        <select class="select">
                                            {% for blistd in buildingtype_day %}
                                            <option value="{{ blistd.id }}">{{ blistd.type_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td align="right" style="padding-right:15px">ราคา :</td>
                                <td>
                                    <input class="price" name="lessprice" type="text" maxlength="10" placeholder="ราคาเริ่มต้น" /> - <input class="price" name="mostprice" type="text" maxlength="10" placeholder="ราคาไม่เกิน" />&nbsp;&nbsp;&nbsp;&nbsp;บาท
                                </td>
                                <td>
                                    <input class="search" type="submit" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </li>

            <li class="detailContent3">
                <div style="float:left">
                    <input class="map1" type="submit" value="" />
                    <input class="map2" type="submit" value="" />
                    <input class="map3" type="submit" value="" />
                    <input class="map4" type="submit" value="" />
                </div>
                <div style="float:left; margin-left: 30px;">
                    <img src="{{asset('images/gg-map.png')}}" />
                    <img src="{{asset('images/gg-type.png')}}" class="style" />
                </div>
            </li>
        </ul>
    </div>
</div>