<style type="text/css">
    @charset "utf-8";
        /* CSS Document */

    body {
        background-color:#F6F6F6;
        font-family: DB Adman X, Helvetica, Arial, sans-serif;
        margin:0px !important;
        padding: 0px !important;
    }

    @font-face {
        font-family: DB Adman X;
        src: url("../font/DBAdmanX.otf");
        src: url("../font/DBAdmanX.eot") format("eot"),url("../font/DBAdmanX.eot?#iefix") format("embedded-opentype"), url("../font/DBAdmanX.woff") format("woff"), url("../font/DBAdmanX.ttf") format("truetype"), url("../font/DBAdmanX.svg#DB Adman X") format("svg");
        font-weight:normal;
    }
    #ggViewFancybox {
        /*width: 560px;*/
        /*height: 340px;*/
        width: 800px;
        height: 600px;
        display: block;
        position: relative;
        background-color: #a9a9a9;
        padding: 0px !important;
        margin: 0px !important;
    }
/* Google Map */
    .ggInfoFrame {
        width: auto !important; height: 120px; margin: 0;
    }
    . ggInfoFrame {
        text-decoration: none;
    }
    .ggInfoTitle a{
        width: auto !important; margin-bottom: 10px; color: #F1592A; font-size: 18px; font-weight: normal; text-decoration: none;
    }
    .ggInfoDesc {
        font-size: 15px;
    }
    .ggInfoImg img{
        width: 100px; text-align:center; float: left; margin-right: 10px;;
    }
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    //กำหนดรูป  pin icon
    function getPinIcon() {

        var pinIcon = "http://dev.sourcecode.co.th/findtheroom/web/images/Pin-GG/apartment.png";

        return new google.maps.MarkerImage(pinIcon, null, null, new google.maps.Point(0, 32));

    }
    var locationsmap = [
        [
            '{{result[0].building_name}}', // 0
            {{result[0].latitude}}, // 1
            {{result[0].longitude}}, // 2
            1, // 3
            {{result[0].id}}, // 4
            '{{result[0].path_image}}', // 5
            '{{result[0].bt_id}}', // 6
            '{{result[0].start_price}}', // 7
            '{{result[0].end_price}}', // 8
            '{{result[0].type_name}}', // 9
            "{{ path('FTRWebBundle_detail', {
            'buildId':result[0].id,
            'province':result[0].province_name,
            'prefecture':result[0].amphur_name,
            'slug':result[0].slug}) }}"        // 10
        ]
    ];

    $(document).ready(function () {
        loadMap(locationsmap);
    });

    function loadMap(locations) {

        var map = new google.maps.Map(document.getElementById('ggViewFancybox'), {
            zoom:11,
            center:new google.maps.LatLng(locations[0][1], locations[0][2]),
            mapTypeId:google.maps.MapTypeId.ROADMAP
        });
        // var icon = new google.maps.MarkerImage(pinIcon);
        // var icon = new google.maps.MarkerImage(pinIcon1, null, null, new google.maps.Point(0, 32));
        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        // วนลูปปักหมุด
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position:new google.maps.LatLng(locations[i][1], locations[i][2]),
                map:map,
                icon:getPinIcon()
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () { }
            })(marker, i));
        } // End วนลูปปักหมุด
    }
</script>
<div id="ggViewFancybox">
    hello
</div>