<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script  src='{{asset("js/paging/data_table/event.js")}}'></script>

<script>

    //ประกาศค่าเริ่มต้น
    var urlPost = "{{ path('facilitylist_show') }}";
    var urlCreate = "{{ path('facilitylist_create') }}";
    var idCheck = "#ftr_adminbundle_facilitylisttype_facility_type";
    var namePage = 'Facility';

</script>

<style type="text/css">
    #btnCreate {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        display: block;
        float: none;
        height: 50px;
        position: absolute;
        margin-left: 70px;
        margin-top: -55px;
    }

    #btnInputCreate {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
    #btnCancelCreate{
        cursor:pointer;margin-right: 70px
    }
</style>
<fieldset id="createField">
    <form id="formCreate" action="{{ path('facilitylist_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="label" style="">
            {{ form_label(form.facility_name) }}
        </div>
        {{ form_widget(form.facility_name, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(form.facility_name) }}
        <br />
        <div class="label" style="">
            {{ form_label(form.facility_type) }}
        </div>
        {{ form_widget(form.facility_type, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(form.facility_type) }}
        <br />
        <div class="label" style="">
            {{ form_label(form.display) }}
        {{ form_widget(form.display) }} &nbsp;
        {{ form_errors(form.display) }}
        </div>
        <br />
        {{ form_widget(form) }}
        <span style="float: right;">
            <img src="{{ asset('images/cancel.png')}}" id="btnCancelCreate" width="50" height="50" />
                &nbsp;&nbsp;
            <div id="btnCreate">
                <input type="submit" id="btnInputCreate" value="Edit">
            </div>
        </span>
    </form>
</fieldset>
