{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block title %}
<!-- รายละเอียด site -->
<title>{{ siteTitle }}</title>
<meta name="description" content="{{ siteDesc }}" />
<meta name="keyword" content="{{ siteKeyword }}"/>
<meta name="author" content="{{ siteAuthor }}"/>
<meta name="copyright" content="{{ siteCopyRight }}"/>
<meta name="robot" content="{{ siteRobot }}"/>
<meta name="revisit-after" content="{{ siteRevisitAfter }}"/>
<meta name="distribution" content="{{ siteDistribution }}"/>

<!-- facebook tag -->
<meta property="og:title" content="{{ siteTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ siteUrl }}"/>
<meta property="og:image" content="{{ siteImage }}"/>
<meta property="og:site_name" content="FindTheRoom"/>
<meta property="fb:admins" content="USER_ID"/>
<meta property="og:description" content="{{ siteDesc }}"/>
<!-- #รายละเอียด site -->
{% endblock %}
{% block body %}
<script type="text/javascript">
$(function(){  
    $("ul#navi_containTab > li").click(function(event){  
            var menuIndex=$(this).index();  
            $("ul#detail_containTab > li:visible").hide();             
            $("ul#detail_containTab > li").eq(menuIndex).show(); 
    });  
	$("ul#navi_containTab2 > li").click(function(event){  
            var menuIndex=$(this).index();  
            $("ul#detail_containTab2 > li:visible").hide();             
            $("ul#detail_containTab2 > li").eq(menuIndex).show(); 
    });  
	$("li#tabNavi1").click(function(event){  
            $("#recommend").css("marginTop","15px");             
    });  
	$("li#tabNavi2").click(function(event){  
            $("#recommend").css("marginTop","15px");             
    }); 
	$("li#tabNavi3").click(function(event){  
            $("#recommend").css("marginTop","215px");             
    }); 
});
</script>

<script>
		$(function(){
			$('#slides5').slides({
				preload: true,
				preloadImage: "{{asset('images/slider/loading.gif')}}",
				hoverPause: true,
				generatePagination: false
			});
		});

        $(document).ready(function(){
//            $('a.imap').fancybox({
//                autoDimensions: true,
//                type : 'iframe',
//                height: 800,
//                width: 600
//            });

//            $('a.imap').fancybox({
//                'width'			: 700,
//                'height'		: 500,
//                'titlePosition'	: 'inside',
//                'padding'		: 0,
//                'opacity'		: true,
//                'overlayShow'	: true,
//                'transitionIn'	: 'elastic',
//                'transitionOut'	: 'elastic',
//                'hideOnOverlayClick' : false,
//                'scrolling'		: 'no',
//                'href'			: '#invitepage',
//                'onClosed'		: function() {}
        });

</script>

<div id="show">
    <div class="result">

        {% if wifi is not empty %}
            <div class="wifi"> </div>
        {% endif %}

        <div style=" display:block; position: absolute; margin-left: 0px; margin-top: 127px; width:200px; text-align:center;">ราคา {{general.start_price|number_format}} - {{general.end_price|number_format}} บาท</div>

		<div class="thumbframe">

            {% if imgHead is not empty %}
                <a herf="{{ path('FTRWebBundle_googlemap_view', {'id':id}) }}" target="_blank">
                    <img src="{{ asset('images/building/')}}{{ id }}/{{imgHead}}" class="thumb omega" />
                </a>
            {%else%}
                    <img src='{{asset('images/default-image.png')}}' class='thumb omega'>
            {%endif%}
        </div>
    	<div class="desc">
        	<table border="0" width="500" style="margin-top:-8px;">
            	<tr style="font-size:26px">
                	<td width="90">
                    	หอพัก
                    </td>
                    <td colspan="3">
                        {% if general.building_name is empty %}
                            -
                        {% else%}
                            <a herf="{{ path('FTRWebBundle_googlemap_view', {'id':id}) }}" target="_blank">{{general.building_name}}</a>

                        {% endif%}
                    </td>
                </tr>
                <tr>
                	<td width="90">
                    	ประเภท
                    </td>
                    <td width="180">
                        {% if general.type_name is empty %}
                        -
                        {% else%}
                            {#{%if general.typeDeleted == 1%}#}
                                {#-#}
                            {#{%else%}#}
                                {{general.type_name}}
                            {#{%endif%}#}
                        {% endif%}
                    </td>
                    <td width="90">
                    	ชนิด
                    </td>
                    <td width="180">
                        {% if general.typename is empty %}
                            -
                        {% else%}
                            {#{%if general.payDeleted == 1%}#}
                                {#-#}
                            {#{%else%}#}
                                {{general.typename}}
                            {#{%endif%}#}
                        {% endif%}
                    </td>
                </tr>
                <tr>
                	<td width="90" valign="top">
                    	ที่อยู่
                    </td>
                	<td colspan="3">
                        {% if general.building_address is empty and general.addr_prefecture is empty and general.addr_province is empty and general.addr_zipcode is empty%}
                            -
                        {% else%}
                            {{general.building_address}} {{general.addr_number}} {{general.AMPHUR_NAME}} {{general.PROVINCE_NAME}} {{general.addr_zipcode}}
                        {% endif%}
                    </td>
                </tr>
                <tr>
                	<td width="90" valign="top" id="tade">
                    	รายละเอียด
                    </td>
                	<td colspan="3">
                    	<div style="height:43px; overflow:hidden;">
                            {% if general.detail is empty %}
                                -
                            {% else%}
                                {{general.detail}}
                            {% endif%}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="dmap">
        	<span style="float:left; margin-right: 15px;">แผนที่</span>
            {% if map is not empty %}
                <a id="imap" href="{{ asset('images/building/')}}{{ id }}/{{map}}" style="float:left; margin-right: 10px; margin-top: -10px;"><img src="{{asset('images/imap.png')}}" /></a>
            {% else %}
            	{#<a id="imap" href="{{asset('images/default-image.png')}}" style="float:left; margin-right: 10px; margin-top: -10px;"><img src="{{asset('images/imap.png')}}" /></a>#}
            {% endif %}
            {% if general.latitude %}
                {% if general.longitude %}
                    {#<a id="imap" href="{{ asset('images/building/')}}{{ id }}/{{map}}" style="float:left; margin-top: -10px;"><img src="{{asset('images/imap.png')}}" /></a>#}
                    <a id="gmap" class="iframe" href="{{ path('FTRWebBundle_googlemap_view', {'id':id}) }}" style="float:left; margin-top: -10px;"><img src="{{asset('images/gmap.png')}}" /></a>
                {% endif %}
            {% endif %}
        </div>
        <div class="clear"></div>
        <form id="editform" name="editform" action="{{ path('addData', {'id':id}) }}" method="post">
            <input class="editBuilding" type="submit">
        </form>
    </div>
</div>

<div class="detail">
	<img src="{{asset('images/detail.png')}}" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>
			<tr height="20" valign="middle">
				<td align="right" width="150" style="padding-right:20px;">เบอร์โทรติดต่อ :</td>
				<td width="300">{{general.phone_number}}</td>
				<td align="right" width="150" style="padding-right:10px;">ระยะเวลาเช่าขั้นต่ำ :</td>
				<td align="center" width="50">
                    {% if general.month_stay is empty %}
                        -
                    {% else%}
                        {{general.month_stay}}
                    {% endif%}</td>
                <td width="100">เดือน</td>
			</tr>
			<tr height="20" valign="middle">
				<td align="right" width="150" style="padding-right:20px;">ติดต่อคุณ :</td>
				<td width="300">
                    {% if general.contact_name is empty %}
                        -
                    {% else%}
                        {{general.contact_name}}
                    {% endif%}</td>
				<td align="right" width="150" style="padding-right:10px;">ค่าน้ำ :</td>
				<td align="center" width="50">
                    {% if general.water_unit is empty %}
                    -
                    {% else%}
                        {{general.water_unit}}
                    {% endif%}</td>
                <td width="100">บาท ต่อหน่วย</td>
			</tr>
           <tr height="20" valign="middle">
				<td align="right" width="150" style="padding-right:20px;">อีเมล :</td>
				<td width="300"><a href="#">
                    {% if general.contact_email is empty %}
                        -
                    {% else%}
                        {{general.contact_email}}
                    {% endif%}</a></td>
				<td align="right" width="150" style="padding-right:10px;">ค่าไฟ :</td>
				<td align="center" width="50">
                    {% if general.electricity_unit is empty %}
                        -
                    {% else%}
                        {{general.electricity_unit}}
                    {% endif%}</td>
                <td width="100">บาท ต่อหน่วย</td>
			</tr>
			<tr height="20" valign="middle">
				<td align="right" width="150" style="padding-right:20px;">เว็บไซต์ :</td>
				<td width="300"><a href="facebook.com" target="_new">
                    {% if general.website is empty %}
                        -
                    {% else%}
                        {{general.website}}
                    {% endif%}</a></td>
				<td align="right" width="150" style="padding-right:10px;">ค่าอินเตอร์เน็ต :</td>
				<td align="center" width="50">
                    {% if general.internet_price is empty %}
                        -
                    {% else%}
                        {{general.internet_price}}
                    {% endif%}</td>
                <td width="100">บาท ต่อเดือน</td>
			</tr>
		</table>
	</div>
</div>

<div class="detail" style="height:180px;">
	<img src="{{asset('images/near.png')}}" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>
			<tr height="20" valign="middle">
				<td align="right" width="150" style="padding-right:20px;">โซนในกรุงเทพฯ :</td>
				<td width="300">
                    {% if general.zonename is empty %}
                        -
                    {% else%}
                            {{general.zonename}}
                    {% endif%}</td>
				<td align="right" width="150" style="padding-right:20px;">ใกล้รถไฟฟ้า BTS :</td>
				<td align="left" width="300">
                    {% if nearBts is empty %}
                        -
                    {% else%}
                        {{nearBts}}
                    {% endif%}
                </td>
			</tr>
			<tr height="20" valign="middle">
				<td align="right" width="150" style="padding-right:20px;">ใกล้มหาวิทยาลัย :</td>
				<td width="300">
                    {% if nearCol is empty %}
                        -
                    {% else%}
                        {{nearCol}}
                    {% endif%}
                </td>
				<td align="right" width="150" style="padding-right:20px;">ใกล้รถไฟฟ้า MRT :</td>
				<td align="left" width="300">
                    {% if nearMrt is empty %}
                        -
                    {% else%}
                        {{nearMrt}}
                    {% endif%}
                </td>
			</tr>
           <tr height="20" valign="middle">
				<td align="right" width="150" style="padding-right:20px;">ตามสถานที่ใกล้เคียง :</td>
				<td width="300"><a href="#">
                    {% if general.nearly_place is empty %}
                        -
                    {% else%}
                        {{general.nearly_place}}
                    {% endif%}
                </td>
				<td colspan="2" >&nbsp;</td>
			</tr>
		</table>
	</div>
</div>
{%if roomType is not empty%}
<div class="detail" style="height:100%; padding-bottom:10px;">
	<img src="{{asset('images/room.png')}}" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>
			<tr height="20" valign="middle">
				<td align="left" width="220" style="padding-right:20px;">ประเภทห้องพัก</td>
				<td align="left" width="150"></td>
				<td align="center" width="250" colspan="2" style="padding-right:10px;">ขนาด</td>
				<td align="center" colspan="2" width="250">อัตราค่าเช่า/เดือน</td>
			</tr>
                {% for type in roomType %}
                <tr height="135" valign="middle">
                    <td align="left" width="220">

                        {%if type.photo_name != null%}
                            <div class="defaultRoomShow">
                                <img src="{{ asset('images/building/')}}{{ type.building_site_id }}/{{type.photo_name}}" class="defaultRoomShow"/>
                            <div>
                                {%else%}
                            <div class="roomThumbFrame">
                                <img src='{{asset('images/default-image.png')}}' class="roomThumb">
                            </div>
                        {%endif%}

                    </td>
                    <td align="left" width="150">{{type.room_typename}}</td>
                    <td align="right" width="110" style="padding-right:10px;">{{type.room_size}}</td>
                    <td align="left" width="140">ตารางเมตร</td>
                    <td align="right" width="130">{{type.room_price}}</td>
                    <td align="left" width="120">บาท</td>
                </tr>
                {%endfor%}
		</table>
	</div>
</div>{#End room type#}
{%endif%}

{% if imageName is not empty %}
<div id="gallery">
    <div class="clear"></div>
	<img src="{{asset('images/gallery.png')}}" class="head" />
        <hr class="line" style="top: 60px;" />
        <div id="container5">
			<div id="slides5">
				<div class="slides_container" style="width:950px;">
                    {% set introw1 = 0 %}
                    {% for image in imageName%}
                    {% if introw1%6 == 0%}
                    <div class="slide" style="width:950px;">
                        {%endif%}
                        {% set row1 = introw1+1 %}
                        {% if row1%3 == 0%}
                            <div class="ap2" style="height: 160px;">
                            {% else %}
                            <div class="ap" style="height: 160px;">
                                {%endif%}
                                <a class="pop" rel="group" href="{{ asset('images/building/')}}{{ image.building_site_id }}/{{image.photo_name}}" title="{{image.description}}">
                                    <div class="thumbframe4gallery">
                                        <img src="{{ asset('images/building/')}}{{ image.building_site_id }}/{{image.photo_name}}" class="thumb4gallery"/>
                                    </div>
                                </a>
                            </div>
                            {% set introw1 = introw1+1 %}
                            {% if introw1%6 == 0%}
                        </div>
                    {%endif%}
                    {% endfor %}
				</div>
                    {%if countGallery%9 == 0  %}
                    <a href="#" class="prev"><img src="{{asset('images/slider/arrow-prev2.png')}}" width="29" height="57" alt="Arrow Prev"></a>
                    <a href="#" class="next"><img src="{{asset('images/slider/arrow-next2.png')}}" width="29" height="57" alt="Arrow Next"></a>
                    {%endif%}
			</div>
                {%if countGallery%9 != 0  %}
                <a href="#" class="prev"><img src="{{asset('images/slider/arrow-prev2.png')}}" width="29" height="57" alt="Arrow Prev"></a>
                <a href="#" class="next"><img src="{{asset('images/slider/arrow-next2.png')}}" width="29" height="57" alt="Arrow Next"></a>
                {%endif%}
		</div>
    </div>
</div>{%endif%}

<div class="detail" style="height:100%; padding-bottom:10px;">
	<img src="{{asset('images/inroom.png')}}" />
	<hr class="line" style="top: 60px;" />
    <div>
		<table>{% set count = 0%}
			{% for faclist in inRoom%}
				{% if count%4 == 0%}
					<tr height="20" valign="middle">
				{% endif%}			
						<td align="left" width="250">
							{% if faclist.facility2site_id != null%}
                                <span class="right">{{faclist.facility_name}}</span>
							{% else %}
							    <span class="noright" style="opacity:0.2;">{{faclist.facility_name}}</span>
							{%endif%}
						</td>
				{% set count = count+1%}
				{% if count%4 == 0%}
					</tr>
				{% endif%}
				
			{%endfor%}
		</table>
	</div>
</div>

<div class="detail" style="height:100%; padding-bottom:10px;">
	<img src="{{asset('images/outroom.png')}}" />
	<hr class="line" style="top: 60px; color:#fff;" />
    <div>
		<table>{% set count = 0%}
			{% for faclist in outRoom%}
				{% if count%4 == 0%}
					<tr height="20" valign="middle">
				{% endif%}
                        <td align="left" width="250">
                            {% if faclist.facility2site_id != null%}
                            <span class="right">{{faclist.facility_name}}</span>
                            {% else %}
                            <span class="noright" style="opacity:0.2;">{{faclist.facility_name}}</span>
                            {%endif%}
                        </td>
				{% set count = count+1%}
				{% if count%4 == 0%}
					</tr>
				{% endif%}				
			{%endfor%}
		</table>
	</div>
</div>

{% render "FTRWebBundle:Main:recom" %}

{% endblock %}