<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<script>
    var url = "{{ path('building_site_update', { 'id': entity.id }) }}";

	$(document).ready(function() {
//		$("#btnCancelEdit").click(function() {
//			toggle(".innerPanel", 'hide');
//			return false;
//		});

//		function toggle(id, toggle) {
//			$(id).animate({
//				left : '+=50',
//				height : toggle
//			}, 500, function() {
//			});
//		}
        $("#btnCancel").click(function(){
            $('.innerPanel').slideUp(300).delay(800).fadeOut(400);
        });

        $("#formEdit").submit(function(){
            if (!confirm('คุณต้องการแก้ไขข้อมูล ใช่หรือไม่')){
                return false;
            }
            $.ajax({
                type : "POST",
                url : url,
                data : $(this).serialize(),
                success : function(msg) {
                    if (msg == 'finish') {
                        $('.innerPanel').slideUp(300).delay(800).fadeOut(400);
                        // $('#listBuildingSite').load(window.location + "show");
//                        toggle(".innerPanel", 'hide');
//                        $('#listBuildingSite').fadeOut('slow').load(window.location + "show").fadeIn("slow");
                    } else {
                        $('.innerPanel').html(msg);
                        alert('การแก้ไขผิดพลาด');
                    }
                }
            });
            return false;
        });
	});

    //ตรวจสอบค่าที่เป็น Double
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault)
                theEvent.preventDefault();
        }
    }
</script>
<form id="formEdit" action="{{ path('building_site_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<fieldset>
		<legend>
			EDIT BUILDING SITE
		</legend>
		<div class="label" style="">
			{{ form_label(edit_form.building_type_id) }}
		</div>
		{{ form_widget(edit_form.building_type_id, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.building_type_id) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.zone_id) }}
		</div>
		{{ form_widget(edit_form.zone_id, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.zone_id) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.pay_type_id) }}
		</div>
		{{ form_widget(edit_form.pay_type_id, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.pay_type_id) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.user_owner_id) }}
		</div>
		{{ form_widget(edit_form.user_owner_id, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.user_owner_id) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.building_name) }}
		</div>
		{{ form_widget(edit_form.building_name, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.building_name) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.building_address) }}
		</div>
		{{ form_widget(edit_form.building_address, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.building_address) }}

		<br />
		<div class="label" style="">
			{{ form_label(edit_form.phone_number) }}
		</div>
		{{ form_widget(edit_form.phone_number, { 'attr': {'class': 'widthin'} }) }} &nbsp;
		{{ form_errors(edit_form.phone_number) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.latitude) }}
		</div>
		{{ form_widget(edit_form.latitude, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
		{{ form_errors(edit_form.latitude) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.longitude) }}
		</div>
		{{ form_widget(edit_form.longitude, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
		{{ form_errors(edit_form.longitude) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.recommend) }}
		</div>
		{{ form_widget(edit_form.recommend) }} &nbsp;
		{{ form_errors(edit_form.recommend) }}
		<br />
		<br />

		<div class="label" style="">
			{{ form_label(edit_form.detail) }}
		</div>
		{{ form_widget(edit_form.detail) }} &nbsp;
		{{ form_errors(edit_form.detail) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.contact_name) }}
		</div>
		{{ form_widget(edit_form.contact_name, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.contact_name) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.contact_email) }}
		</div>
		{{ form_widget(edit_form.contact_email, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.contact_email) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.website) }}
		</div>
		{{ form_widget(edit_form.website, { 'attr': {'class': 'widfat'} }) }} &nbsp;
		{{ form_errors(edit_form.website) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.month_stay) }}
		</div>
		{{ form_widget(edit_form.month_stay, { 'attr': {'class': 'widthin'} }) }} &nbsp;
		{{ form_errors(edit_form.month_stay) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.water_unit) }}
		</div>
		{{ form_widget(edit_form.water_unit, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
		{{ form_errors(edit_form.water_unit) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.electricity_unit) }}
		</div>
		{{ form_widget(edit_form.electricity_unit, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
		{{ form_errors(edit_form.electricity_unit) }}
		<br />
		<div class="label" style="">
			{{ form_label(edit_form.internet_price) }}
		</div>
		{{ form_widget(edit_form.internet_price, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
		{{ form_errors(edit_form.internet_price) }}

		{{ form_rest(edit_form) }}
		<br />
		<span style="float: right;">
			{#<input type="button" id="btnCancelEdit" value="Cancel">#}
			<img src="{{ asset('images/cancel.png')}}" id="btnCancel" width="50" height="50" style="cursor:pointer;" />
			&nbsp;&nbsp;
			<input type="submit" value="Edit">
            {#<img src="{{ asset('images/edit.png')}}" id="btnEdit" width="50" height="50" style="cursor:pointer;" />#}
		</span>
	</fieldset>
</form>