
<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>

{#gritter#}
<script type="text/javascript" src="{{asset('js/gritter/js/jquery.gritter.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('js/gritter/css/jquery.gritter.css')}}" />

<script>
    //show message
    function showMessage(title, text){
        $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: title,
            // (string | mandatory) the text inside the notification
            text: text
        });
    }

	$(document).ready(function() {
        $(".innerPanel").html('');
		$("#btnCancelCreate").click(function() {
            hideId(".createPanel");
            hideId("#createRecordCancel");
            showId("#createRecord");
			return false;
		});

		var url = "{{ path('building_site_create') }}";
		$("#formCreate").submit(function() {
			$.ajax({
				type : "POST",
				url : 'create',
				data : $(this).serialize(),
				success : function(msg) {
                    var arrMsg = msg.split('_');
                    if (arrMsg.length > 1){
                        var id = arrMsg[1];
                    }
                    var str = msg;
                    if (str == "error_province"){
                        alert('กรุณาเลือกจังหวัด');
                        $("#ftr_adminbundle_building_sitetype_addr_province").focus();
                    }else if (str == "error_zone"){
                        alert('กรุณาเลือก Zone ของกรุงเทพ');
                        $("#ftr_adminbundle_building_sitetype_zone_id").focus();
                    }else if (str.search('error') > -1 && arrMsg.length == 2){
                        alert('ชื่อ "'+id+'" นี้มีข้อมูลอยู่แล้ว \nกรุณาตั้งชื่ออื่น');
                        $("#ftr_adminbundle_building_sitetype_building_name").focus();
                    }else if (str.search('finish') > -1 && arrMsg.length == 2) {
                        hideId(".createPanel");
						$(".createPanel").html('');
                        hideId("#createRecordCancel");
                        showId("#createRecord");
                        reloadList();
                        showMessage('บันทึกข้อมูลสำเร็จ', 'เพิ่มข้อมูล Building Site สำเร็จแล้ว');
					} else {alert(msg);
                        reloadId('.createPanel', msg);
						alert('การ CREATE ผิดพลาด\n** กรุณาตรวจสอบ **');
					}
				}
			});
			return false;
		});

        $("#bk").click(function(){
            $("#cou").attr('checked', false);
            $("#ftr_adminbundle_building_sitetype_zone_id").attr('disabled', false);
            $("#ftr_adminbundle_building_sitetype_addr_province").attr('disabled', true);
        });

        $("#cou").click(function(){
            $("#bk").attr('checked', false);
            $("#ftr_adminbundle_building_sitetype_addr_province").attr('disabled', false);
            $("#ftr_adminbundle_building_sitetype_zone_id").attr('disabled', true);
        });


	});
    jQuery.noConflict();
    /* calling thumbnailScroller function with options as parameters */
    (function($){
        $(document).ready(function(){
            $("#findLocation").click(function(){
                showFancy();
                return false;
            });
        });
    })(jQuery);

    //ตรวจสอบค่าที่เป็น Double
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault)
                theEvent.preventDefault();
        }
    }

    $("#ftr_adminbundle_building_sitetype_addr_province").attr('disabled', true);


</script>



<style type="text/css">
    #btnCreate {
        background: url("{{ asset('images/add-bt.png')}}") no-repeat;
        display: block;
        float: none;
        height: 50px;
        position: absolute;
        margin-left: 70px;
        margin-top: -55px;
    }

    #btnInputCreate {
        background: url("{{ asset('images/add-bt.png')}}") no-repeat;
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
</style>
<div id="divPostCreate">
	<form id="formCreate" action="{{ path('building_site_create') }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
			<legend>
				CREATE BUILDING TYPE
			</legend>
			<div class="label" style="">
				{{ form_label(form.building_type_id) }}
			</div>
			{{ form_widget(form.building_type_id, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.building_type_id) }}
			<br />
            <br />
            <div class="label" style="">
                เลือกจังหวัด
            </div>
            <table>
                <tr height="50" valign="middle">
                    <td >
                        <input id="bk" name="bc" type="radio" value="bkk" checked=""/>&nbsp;<label for="bk">กรุงเทพฯ</label>
                    </td>
                    <td width="100"></td>
                    <td>
                        <input id="cou" name="bc" type="radio" value="country"  />&nbsp;<label for="cou">ต่างจังหวัด</label>
                    </td>
                </tr>
                <tr>
                    <td>
                            {{ form_label(form.zone_id) }}
                        {{ form_widget(form.zone_id, { 'attr': {'class': 'widthin'} }) }} &nbsp;
                        {{ form_errors(form.zone_id) }}
                    </td>
                    <td></td>
                    <td>
                        {{ form_label(form.addr_province) }}
                        {{ form_widget(form.addr_province, { 'attr': {'class': 'widthin'} }) }} &nbsp;
                        {{ form_errors(form.addr_province) }}
                    </td>
                </tr>
            </table>
            <br />
			<div class="label" style="">
				{{ form_label(form.pay_type_id) }}
			</div>
			{{ form_widget(form.pay_type_id, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.pay_type_id) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.user_owner_id) }}
			</div>
			{{ form_widget(form.user_owner_id, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.user_owner_id) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.building_name) }}
			</div>
			{{ form_widget(form.building_name, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.building_name) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.building_address) }}
			</div>
			{{ form_widget(form.building_address, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.building_address) }}
			<br />

			<div class="label" style="">
				{{ form_label(form.phone_number) }}
			</div>
			{{ form_widget(form.phone_number, { 'attr': {'class': 'widthin'} }) }} &nbsp;
			{{ form_errors(form.phone_number) }}
			<br />

            <fieldset>
			<div class="label" style="">
				{{ form_label(form.latitude) }}
			</div>
			{{ form_widget(form.latitude, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
			{{ form_errors(form.latitude) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.longitude) }}
			</div>
			{{ form_widget(form.longitude, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
			{{ form_errors(form.longitude) }}
            <a href="#showMap" id="findLocation">ค้นหาแผนที่</a>
            </fieldset>

			<br />
			<div class="label" style="">
				{{ form_label(form.recommend) }}
			</div>
			{{ form_widget(form.recommend) }} &nbsp;
			{{ form_errors(form.recommend) }}
			<br />
			<br />

			<div class="label" style="">
				{{ form_label(form.detail) }}
			</div>
            {{ form_widget(form.detail, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.detail) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.contact_name) }}
			</div>
			{{ form_widget(form.contact_name, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.contact_name) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.contact_email) }}
			</div>
			{{ form_widget(form.contact_email, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.contact_email) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.website) }}
			</div>
			{{ form_widget(form.website, { 'attr': {'class': 'widfat'} }) }} &nbsp;
			{{ form_errors(form.website) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.month_stay) }}
			</div>
			{{ form_widget(form.month_stay, { 'attr': {'class': 'widthin'} }) }} &nbsp;
			{{ form_errors(form.month_stay) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.water_unit) }}
			</div>
			{{ form_widget(form.water_unit, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
			{{ form_errors(form.water_unit) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.electricity_unit) }}
			</div>
			{{ form_widget(form.electricity_unit, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
			{{ form_errors(form.electricity_unit) }}
			<br />
			<div class="label" style="">
				{{ form_label(form.internet_price) }}
			</div>
			{{ form_widget(form.internet_price, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
			{{ form_errors(form.internet_price) }}
			<br />
            <div class="label" style="">
                {{ form_label(form.nearly_place) }}
            </div>
            {{ form_widget(form.nearly_place, { 'attr': {'class': 'widfat'} }) }} &nbsp;
            {{ form_errors(form.nearly_place) }}
            <br />

            {#ต้องแปะไว้ตรงท้ายเสมอ	#}
			{{ form_rest(form) }}

			<span style="float: right;">
				<img src="{{ asset('images/cancel.png')}}" id="btnCancelCreate" width="50" height="50" style="cursor:pointer;margin-right: 70px" />
				&nbsp;&nbsp;
                <div id="btnCreate">
                    <input type="submit" id="btnInputCreate" value="CREATE">
                </div>
			</span>
		</fieldset>
	</form>
</div>

