<!-- <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script> -->
<!-- <script type='text/javascript' src='{{asset("js/paging/smartpaginator.buildingsite.js")}}'></script>
<link rel='stylesheet' type='text/css' href='{{asset("css/paging/smartpaginator.buildingsite.css")}}' /> -->

<!-- jQuery data table -->
<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script type='text/javascript' src='{{asset("js/paging/jquery.dataTables.js")}}'></script>
<link rel="stylesheet" href='{{asset("css/paging/sytletable.css")}}' type="text/css" id="" media="print, projection, screen" />

<script>
	var countValuePaging = {{entities|length}};
 var locationRoomType = '';
	$(document).ready(function() {

		//Click ปุ่ม Edit
		$(".linkEditBuildingSite").click(function() {
			$.post(this.href + '/edit', function(data) {
				$('.innerPanel').slideUp(300).fadeIn(400);
				$('.innerPanel').html(data);
				toggle(".createPanel", 'hide');
				toggle(".innerPanel", 'show');

				$("#createrecordCancel").hide();
				$("#createrecord").show('slow');
				document.getElementById('createrecord').scrollIntoView();
			});
			return false;
		});

		//Click ปุ่ม Delete
		$(".linkDelete").click(function() {
			if (!confirm('คุณต้องการลบข้อมูลใช่ หรือไม่')) {
				return false;
			}
			$.ajax({
				type : "POST",
				url : this.href + "/update",
				data : {
					checkdelete : 'deleted'
				},
				success : function(msg) {
					if (msg == 'finish') {
						//alert('การลบสร็จเรียบร้อย');
						$('#listBuildingSite').fadeOut('slow').load(window.location + "show").fadeIn("slow");
					} else {
						alert('การลบผิดพลาด');
					}
				}
			});
			return false;
		});

		//Click ปุ่ม  Edit Facility
		$(".createSite").live('click', function() {
			locationRoomType = this.href;
			$('.innerPanel').fadeOut("slow").load(locationRoomType).fadeIn("slow");
			// if (checkDoubleClickEdit){
			// checkDoubleClickEdit = false;
			// $.post(this.href, function(data) {
			// $('.innerPanel').slideUp(300).fadeIn(400);
			// $('.innerPanel').html(data);
			toggle(".createPanel", 'hide');
			// toggle(".innerPanel", 'show');
			$("#createrecordCancel").hide();
			$("#createrecord").show('slow');
			document.getElementById('createrecord').scrollIntoView();
			// });
			// // รอเวลาเพิ่อให้ คลิกซ้ำได้
			// setTimeout("changeCheckClick();", 500);
			// }
			return false;
		});

		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

	});

	var checkDoubleClickEdit = true;
	function changeCheckClick() {
		checkDoubleClickEdit = true;
	}
</script>
<script type="text/javascript">
	jQuery.fn.dataTableExt.oSort['string-case-asc'] = function(x, y) {
		return ((x < y) ? -1 : ((x > y) ? 1 : 0));
	};

	jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x, y) {
		return ((x < y) ? 1 : ((x > y) ? -1 : 0));
	};

	$(document).ready(function() {
		$("#sortTable1").dataTable({
			"aaSorting" : [[0, 'asc']]
		});
	}); 
</script>
<table id="sortTable1" class="display" >
	<thead>
		<th style="width: 510px !important;" >name</th>
		<th style="width: 70px !important;" >facility</th>
		<th style="width: 110px !important;" >roomtype</th>
		<th style="width: 100px !important;" >nearly</th>
		<th style="width: 100px !important;" >gallery</th>
		<th style="width: 50px !important;" >config</th>
	</thead>
	{% for entity in entities %}
        <tr>
            <td>{{ entity.building_name }}</td>

            <!-- facility -->
            <td><a href="{{ path('facility2site_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

            <!-- room type -->
            <td><a href="{{ path('roomtype2site_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

            <!-- nearly -->
            <td><a href="{{ path('nearly2site_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

            <!-- upload gallery -->
            <td><a href="{{ path('image_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

            <td><a href="{{ entity.id }}" class="linkEditBuildingSite">Edit</a>&nbsp;&nbsp;<a href="{{ entity.id }}" class="linkDelete">Delete</a></td>
        </tr>
	{% endfor %}
</table>
<br />

<div class="clear"></div>