<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<script type='text/javascript' src='{{asset("js/paging/smartpaginator.buildingsite.js")}}'></script>
<link rel='stylesheet' type='text/css' href='{{asset("css/paging/smartpaginator.buildingsite.css")}}' />
<script>
	var countValuePaging = {{entities|length}};
	$(document).ready(function() {

		//Click ปุ่ม Edit
		$(".linkEditBuildingSite").click(function() {
			$.post(this.href + '/edit', function(data) {
				//alert(data);
				$('.editPanel').html(data);
				toggle(".createPanel", 'hide');
				toggle(".editPanel", 'show');
				$("#createrecordCancel").hide();
				$("#createrecord").show('slow');
				document.getElementById('createrecord').scrollIntoView();
			});
			return false;
		});

		//Click ปุ่ม Delete
		$(".linkDelete").click(function() {
			if (!confirm('คุณต้องการลบข้อมูลใช่ หรือไม่')) {
				return false;
			}
			$.ajax({
				type : "POST",
				url : this.href + "/update",
				data : {
					checkdelete : 'deleted'
				},
				success : function(msg) {
					if (msg == 'finish') {
						//alert('การลบสร็จเรียบร้อย');
						$('#listBuildingSite').fadeOut('slow').load(window.location + "show").fadeIn("slow");
					} else {
						alert(msg);
						alert('การลบผิดพลาด');
					}
				}
			});
			return false;
		});

		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

		//Set Paging
		$('#green').smartpaginator({
			totalrecords : countValuePaging,
			recordsperpage : 10,
			datacontainer : 'mt',
			dataelement : 'tr',
			initval : 0,
			next : 'Next',
			prev : 'Prev',
			first : 'First',
			last : 'Last',
			theme : 'green'
		});
	}); 
</script>
<table id="mt" cellpadding="0" cellspacing="0" border="0" class="table">
	<tbody>
		<th style="width: 480px !important;" >name</th>
		<th style="width: 100px !important;" >facility</th>
		<th style="width: 110px !important;" >roomtype</th>
		<th style="width: 100px !important;" >nearly</th>
		<th style="width: 100px !important;" >gallery</th>
		<th style="width: 50px !important;" >config</th>
	</tbody>
	{% for entity in entities %}
	<tr>
		<td>{{ entity.building_name }}</td>

		<!-- facility -->
		{% if entity.facility_id == null %}
		<td><a href="">Add Facility</a></td>
		{% else %}
		<td><a href="">Edit Facility</a></td>
		{% endif %}

		<!-- room type -->
		{% if entity.room_type_id == null %}
		<td><a href="">Add Roomtype</a></td>
		{% else %}
		<td><a href="">Edit Roomtype</a></td>
		{% endif %}

		<!-- nearly -->
		{% if entity.nearly_id == null %}
		<td><a href="">Add Nearly</a></td>
		{% else %}
		<td><a href="">Edit Nearly</a></td>
		{% endif %}

		<!-- upload gallery -->
		{% if entity.image_id == null %}
		<td><a href="">Add Image</a></td>
		{% else %}
		<td><a href="">Edit Image</a></td>
		{% endif %}

		<td><a href="{{ entity.id }}" class="linkEditBuildingSite">Edit</a>&nbsp;&nbsp;<a href="{{ entity.id }}" class="linkDelete">Delete</a></td>
	</tr>
	{% endfor %}
</table>
<br/>

<!-- ปุ่ม paging -->
<div id="green" style="margin: auto;" class="pager green"></div>

<div class="clear"></div>