<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script type='text/javascript' src='{{asset("js/paging/data_table/table_paging.js")}}'></script>

<script>
	var countValuePaging = {{buildingSite|length}};

	$(document).ready(function() {

		//Click ปุ่ม Edit
		$(".linkEditBuildingSite").click(function() {
			$.post(this.href + '/edit', function(data) {
				$('.innerPanel').slideUp(300).fadeIn(400);
				$('.innerPanel').html(data);
				toggle(".createPanel", 'hide');
				toggle(".innerPanel", 'show');

				$("#createrecordCancel").hide();
				$("#createrecord").show('slow');
				document.getElementById('createrecord').scrollIntoView();
			});
			return false;
		});

		//Click ปุ่ม Delete
		$(".linkDelete").click(function() {
			if (!confirm('คุณต้องการลบข้อมูลใช่ หรือไม่')) {
				return false;
			}
			$.ajax({
				type : "POST",
				url : this.href + "/update",
				data : {
					checkdelete : 'deleted'
				},
				success : function(msg) {
					if (msg == 'finish') {
						//alert('การลบสร็จเรียบร้อย');
						$('#listBuildingSite').fadeOut('slow').load(window.location + "show").fadeIn("slow");
					} else {
						alert('การลบผิดพลาด');
					}
				}
			});
			return false;
		});

		//Click ปุ่ม  Edit Facility
		$(".createSite").click(function() {
            saveIdBuildingSite = null;
			locationRoomType = this.href;
			$('.innerPanel').fadeOut("slow").load(locationRoomType).fadeIn("slow");
            // if (checkDoubleClickEdit){
			// checkDoubleClickEdit = false;
			// $.post(this.href, function(data) {
			// $('.innerPanel').slideUp(300).fadeIn(400);
			// $('.innerPanel').html(data);
			toggle(".createPanel", 'hide');
			// toggle(".innerPanel", 'show');
			$("#createrecordCancel").hide();
			$("#createrecord").show('slow');
			document.getElementById('createrecord').scrollIntoView();
			// });
			// // รอเวลาเพิ่อให้ คลิกซ้ำได้
			// setTimeout("changeCheckClick();", 500);
			// }
			return false;
		});

		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

	});

	var checkDoubleClickEdit = true;
	function changeCheckClick() {
		checkDoubleClickEdit = true;
	}

    // ค่าปัจจุบันในการ sort
    var orderByOld = "{{ orderBy }}";
    var orderByTypeOld = "{{ orderByType }}";

    //ประกาศค่าเริ่มต้น
    var urlPost = "{{ path('building_site_show') }}";
</script>
<fieldset>
    <table>
        <thead>
            <th style="width: 100px !important;" ><a class="btnOrderBy" href="#" id="sort_id">id</a></th>
            <th style="width: 410px !important;" ><a class="btnOrderBy" href="#" id="sort_building_name">name</a></th>
            <th style="width: 70px !important;" >facility</th>
            <th style="width: 110px !important;" >roomtype</th>
            <th style="width: 100px !important;" >nearly</th>
            <th style="width: 100px !important;" >gallery</th>
            <th style="width: 50px !important;" >config</th>
        </thead>
        <tbody>
        {% for entity in buildingSite %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.building_name }}</td>

                <!-- facility -->
                <td><a href="{{ path('facility2site_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

                <!-- room type -->
                <td><a href="{{ path('roomtype2site_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

                <!-- nearly -->
                <td><a href="{{ path('nearly2site_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

                <!-- upload gallery -->
                <td><a href="{{ path('image_show', { 'id': entity.id }) }}" class="createSite">Edit</a></td>

                <td><a href="{{ entity.id }}" class="linkEditBuildingSite">Edit</a>&nbsp;&nbsp;<a href="{{ entity.id }}" class="linkDelete">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</fieldset>
<div class="datagrid">
    <ul>
        <strong>showing {{ countList }} entities : Page </strong>
        {% for i in 1..paginator.numpages %}
        {% if paginator.range.0 > 2 and i == paginator.range.0 %}
        ...
        {% endif %}

        {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
        {% if i==paginator.currentpage %}
        {% if i == noPage %}
        <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
        {% else %}
        <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
        {% endif %}
        {% else %}
        {% if i == noPage %}
        <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
        {% else %}
        <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
        {% endif %}
        {% endif %}
        {% endif %}

        {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
        ...
        {% endif %}
        {% endfor %}
        <div align="right" style="float:right;" ><strong>Search:</strong>
            <input id="tbxSearch" style="height: 25px;margin-bottom: 10px;" value="{{ textSearch }}" />&nbsp;&nbsp;
            <select name="record" style="width:150px;" class="record">
                <option value="10">10 Record </option>
                {% if limit == '50' %}
                <option selected="yes" value="50">50 Record</option>
                <option value="100">100 Record</option>
                <option value="500">500 Record</option>
                {% elseif limit == '100' %}
                <option value="50">50 Record</option>
                <option selected="yes" value="100">100 Record</option>
                <option value="500">500 Record</option>
                {% elseif limit == '500' %}
                <option value="50">50 Record</option>
                <option value="100">100 Record</option>
                <option selected="yes" value="500">500 Record</option>
                {% else %}
                <option value="50">50 Record</option>
                <option value="100">100 Record</option>
                <option value="500">500 Record</option>
                {% endif %}
            </select>
        </div>
    </ul>
</div>
<br />

<div class="clear"></div>