{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}

<div class="detail" style="margin-bottom:15px; height: 100%; padding-bottom: 15px;">
	<img src="{{asset('images/ads.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
	<div class="ads">&nbsp;&nbsp;&nbsp;&nbsp;ด้วยทีมงานที่มีประสบการณ์ทางด้านไอที และคลุกคลีอยู่ในแวดวงธุรกิจหอพัก อพาร์ทเม้นท์ มากว่า 10 ปี เรามุ่งมั่นที่จะสนับสนุนส่งเสริมให้ผู้ประกอบการ เจ้าของกิจการ ได้มีเว็บไซต์สื่อกลางที่จะทำให้ผู้ที่ต้องการเช่าห้องพัก หอพัก อพาร์ทเม้นท์ สามารถค้นหาที่พักที่จะตอบโจทย์ความต้องการที่หลากหลาย ด้วยเข้าถึงข้อมูลในเว็บไซต์ของเราได้ง่าย และเราได้รวบรวมข้อมูลหอพัก อพาร์ทเม้นท์ ไว้อย่างมากมาย โดยท่านเจ้าของกิจการ หรือผู้ประกอบการสามารถลงประกาศให้เช่าห้องพักของท่าน ได้ด้วยตัวของท่านเองที่เมนู "ลงประกาศห้องพัก" ฟรี ไม่มีค่าใช้จ่ายใดๆทั้งสิ้น ยิ่งไปกว่านั้นหากท่านต้องการให้หอพัก อพาร์ทเม้นท์ ของท่านผ่านสู่สายตาลูกค้าที่ต้องการเช่าห้องพักให้ได้มากที่สุด ท่านสามารถลงโฆษณากับเราตามตำแหน่งต่างๆ ดังนี้</div>
	<img src="{{asset('images/ads-banner.jpg')}}" style="padding:0; display: block; position: relative; margin: 0px auto 0px auto;">
	<div id="update">
	<table style="padding:0px; margin-left: 20px;">
		<thead>
			<tr>
				<th width="150">ตำแหน่ง</th>
				<th width="300">รายละเอียด</th>
				<th width="150">จำนวน</th>
				<th width="150">ราคา</th>
				<th width="150">โปรโมชั่น</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="first" style="text-align:center;">A</td>
				<td></td>
				<td>10</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BA-1</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BA-2</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BA-3</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BB-1</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BB-2</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BB-3</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BC-1</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BC-2</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BC-3</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BD-1</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BD-2</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">BD-3</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-1</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-2</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-3</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-4</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-5</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-6</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-7</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">C-8</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-1</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-2</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-3</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-4</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-5</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-6</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-7</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="first" style="text-align:center;">D-8</td>
				<td></td>
				<td>5</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="ads">สอบถามรายละเอียดเพิ่มเติมโทร. 02-692-1199</div>
</div>
	

<!--
<div id="ad1">
<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
<a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>

<div id="ad2">
<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
<a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
{% endblock %}