{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}

<div class="detail" style="margin-bottom:15px; height: 470px;">
	<img src="{{asset('images/ads.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
</div>

<!--
<div id="ad1">
<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
<a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>

<div id="ad2">
<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
<a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
{% endblock %}