<ul>
    <li class="head">
        <div class="footerImgTitle"><img src="{{asset('images/footer-icon-building.png')}}"/></div>
        <div class="footerBuildingType">ประเภทห้องพัก</div>
        <div class="clear"></div>
        <hr/>
        {% if type > 0 %}
            {% for typeList in type %}
                <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&ประเภทห้องพัก={{ typeList.type_name }}" target="_blank">{{ typeList.type_name }}</a>
            {%  endfor %}
        {% endif %}
        {% if payType > 0 %}
            {% for payTypeList in payType %}
                <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&ชนิดห้องพัก={{ payTypeList.typename }}" target="_blank">{{ payTypeList.typename }}</a>
            {% endfor %}
        {% endif %}

        <div class="clear"></div>
        <div class="footerImgTitle" style="margin-top: 10px;"><img src="{{asset('images/footer-icon-building.png')}}"/>
        </div>
        <div class="footerBuildingType">ราคาห้องพัก</div>
        <div class="clear"></div>
        <hr/>
        <a href="{{path('FTRWebBundle_list')}}?ราคาเริ่มต้น=2000&ราคาไม่เกิน=3000" target="_blank">ราคา 2,000 - 3,000 บาท</a>
        <a href="{{path('FTRWebBundle_list')}}?ราคาเริ่มต้น=3001&ราคาไม่เกิน=4000" target="_blank">ราคา 3,001 - 4,000 บาท</a>
        <a href="{{path('FTRWebBundle_list')}}?ราคาเริ่มต้น=4001&ราคาไม่เกิน=5000" target="_blank">ราคา 4,001 - 5,000 บาท</a>
        <a href="{{path('FTRWebBundle_list')}}?ราคาเริ่มต้น=5001&ราคาไม่เกิน=7000" target="_blank">ราคา 5,001 - 7,000 บาท</a>
        <a href="{{path('FTRWebBundle_list')}}?ราคาเริ่มต้น=7001&ราคาไม่เกิน=10000" target="_blank">ราคา 7,001 - 10,000 บาท</a>
        <a href="{{path('FTRWebBundle_list')}}?ราคาเริ่มต้น=10000&ราคาไม่เกิน=99999999" target="_blank">ราคามากกว่า 10,000 บาท</a>

        <div class="clear"></div>
    </li>


    {% if bts != null %}
    <li class="head">
    <div class="footerImgTitle"><img src="{{asset('images/footer-icon-building.png')}}"/></div>
    <div class="footerBuildingType">ใกล้มหาวิทยาลัย</div>
    <div class="clear"></div>
    <hr/>
    {% for universityList in university %}

        {% if universityList.countUniversity%30 == 0 and universityList.countUniversity != 0 %}

            </li>
            <li class="head">
            <div class="footerImgTitle"><img src="{{asset('images/footer-icon-building.png')}}"/></div>
            <div class="footerBuildingType">ใกล้มหาวิทยาลัย</div>
            <div class="clear"></div>
            <hr/>
                <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&ใกล้มหาวิทยาลัย={{ universityList.name }}" target="_blank">{{ universityList.name }}</a>

         {% else %}
                <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&ใกล้มหาวิทยาลัย={{ universityList.name }}" target="_blank">{{ universityList.name }}</a>
         {% endif %}

    {% endfor %}
    </li>


    {% endif %}

    <div class="clear"></div>
    </ul><ul>

    <li class="head">
        <div class="footerImgTitle"><img src="{{asset('images/footer-icon-building.png')}}"/></div>
        <div class="footerBuildingType">ห้องพักโซนในกรุงเทพฯ</div>
        <div class="clear"></div>
        <hr/>
        {% if zone > 0 %}
            {% for zoneList in zone %}
                <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&โซน={{ zoneList.zonename }}" target="_blank">{{ zoneList.zonename }}</a>
            {%  endfor %}
        {% endif %}
    </li>

    {#ตรวจสอบว่ามีค่ามาหรือป่าว#}
    {% if bts != null %}
        <li class="head">
        <div class="footerImgTitle"><img src="{{asset('images/footer-icon-building.png')}}"/></div>
        <div class="footerBuildingType">ห้องพักใกล้สถานี BTS</div>
        <div class="clear"></div>
        <hr/>
        {% for btsList in bts %}

            {% if btsList.countBts%20 == 0  and btsList.countBts != 0 %}
                </li>
                <li class="head">
                <div class="footerImgTitle"><img src="{{asset('images/footer-icon-building.png')}}"/></div>
                <div class="footerBuildingType">ห้องพักใกล้สถานี BTS</div>
                <div class="clear"></div>
                <hr/>
                    <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&ใกล้เคียงสถานีbts={{ btsList.name }}" target="_blank">ห้องพักใกล้สถานี {{ btsList.name }}</a>
            {% else %}
                    <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&ใกล้เคียงสถานีbts={{ btsList.name }}" target="_blank">ห้องพักใกล้สถานี {{ btsList.name }}</a>
            {% endif %}

        {% endfor %}
        </li>

    {% endif %}

    <li class="head">
        <div class="footerImgTitle"><img src="{{asset('images/footer-icon-building.png')}}"/></div>
        <div class="footerBuildingType">ห้องพักใกล้สถานี MRT</div>
        <div class="clear"></div>
        <hr/>

        {% if mrt > 0 %}

            {% for mrtList in mrt %}
                <a href="{{path('FTRWebBundle_list')}}?searchType=cateSearch&ใกล้เคียงสถานีmrt={{ mrtList.name }}" target="_blank">ห้องพักใกล้สถานี {{ mrtList.name }}</a>
            {% endfor %}

        {% endif %}

    </li>
    <div class="clear"></div>
</ul>