<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
<script src="{{asset('js/jquery.min.js')}}"></script>
<script src="{{asset('js/html5placeholder.jquery.js')}}"></script>
<script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset('js/jquery.cookie.js')}}"></script>
<script src="{{asset('js/jquery.cookie.min.js')}}"></script>


<script>
	
    $(function(){
      $(':input[placeholder]').placeholder();
    });
    $(document).ready(function(){
    	$("#log").click(function(e) {
			if($("input#username").val()!=""||$("input#password").val()!=""){
				
				var options = { path: '/', expires: 10 };
				if($('#re') .attr( 'checked' ) == true){
					$.ajax({
					  url: "{{path('FTRWebBundle_login')}}",
					  type: 'POST',
					  data: "username="+$('input#username').val()+"&"+"password="+$('input#password').val(),
					  success: function(data) {
						  	if(data == 0){
						  		$("#txterror").html("กรุณาตรวจสอบ ชื่อผู้ใช้งาน และรหัสผ่าน");
						  	}else if(data == 1){
						  		// parent.location.reload();
						  		$.cookie('username', $('input#username').val(), options);
								$.cookie('password', $('input#password').val(), options);	
								$.cookie('chbox', "true", options);							 
						  		parent.location.href = "{{path('userbuilding')}}";
						  	}
					  	},
					  	error: function(e) {
					  		$("#txterror").html("กรุณาตรวจสอบ ชื่อผู้ใช้งาน และรหัสผ่าน");
					  	}
					});					
				}else{
					$.ajax({
					  url: "{{path('FTRWebBundle_login')}}",
					  type: 'POST',
					  data: "username="+$('input#username').val()+"&"+"password="+$('input#password').val(),
					  success: function(data) {
						  	if(data == 0){
						  		$("#txterror").html("กรุณาตรวจสอบ ชื่อผู้ใช้งาน และรหัสผ่าน");
						  	}else if(data == 1){
						  		// parent.location.reload();
						  		$.cookie('username', "false", options);
								$.cookie('password', "false", options);		
								$.cookie('chbox', "false", options);						 
						  		parent.location.href = "{{path('userbuilding')}}";
						  	}
					  	},
					  	error: function(e) {
					  		$("#txterror").html("กรุณาตรวจสอบ ชื่อผู้ใช้งาน และรหัสผ่าน");
					  	}
					});	
				}
				
			}
			else{
				$("#txterror").html("กรุณาใส่ข้อมูลให้ครบ");
			}    
			
		});
    });
    
</script>
</head>

<body style=" background-color:#FFF; color:#423C3B;">

	<div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '414830161885886', // App ID
            channelUrl : '//http://localhost/findtheroom/web/channel.php', // Channel File ระบุไฟล์ที่จะใช้ login
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });
        };
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));
      </script>
	<img src="{{asset('images/login-h.png')}}" style="padding-top: 20px;" />
	<hr style=" width:98%; margin-left:-5px; margin-top:15px; margin-bottom:10px;" />
 	<div style="width:350px; display:block; position:relative; float:left; border-right:1px solid; height:290px;">
 		
		<table style="padding-left:10px;">
			
	        	<tr height="50" valign="middle">
					<td align="left" width="120" style="font-size:24px;">ชื่อผู้ใช้งาน : *<span></span></td>
	                <td align="left" width="120">
	                	{% if username != 'false' %} 
	                		<input id="username" name="username" value="{{username}}" type="text" maxlength="30" placeholder="กรุณากรอกชื่อผู้ใช้งาน" style=" padding:2px; font-size:20px;" />
	                	{%else%} 
	                		<input id="username" name="username" value="" type="text" maxlength="30" placeholder="กรุณากรอกชื่อผู้ใช้งาน" style=" padding:2px; font-size:20px;" />
	                	{%endif%}
	                </td>
	            </tr>
	            <tr height="50" valign="middle">
					<td align="left" width="120" style="font-size:24px;">รหัสผ่าน : *</td>
	                <td align="left" width="120">
	                	{% if password != 'false' %} 
	                		<input id="password" name="password" value="{{password}}" type="password" maxlength="30" placeholder="กรุณากรอกรหัสผ่าน" style=" padding:2px; font-size:20px;"/></td>
	                	{%else%} 
	                		<input id="password" name="password" value="" type="password" maxlength="30" placeholder="กรุณากรอกรหัสผ่าน" style=" padding:2px; font-size:20px;"/></td>
	                	{%endif%}
	            </tr>
	            <tr height="20" valign="middle">
	                <td colspan="2"  align="center" width="120" style="font-size:22px;"><label id="txterror" style="font-size: 16px;color: red;"></label></td>
	            </tr>
	            <tr height="30" valign="middle">
					<td align="left" width="120" style="font-size:24px;">&nbsp;</td>
	                <td align="left" width="120" style="font-size:22px;">
	                	{% if chbox != 'false' %}
	                		<input id="re" name="option1" type="checkbox" value="rem" checked="true" /> <label for="re">จำฉันไว้</label>
	                	{%else%} 
	                		<input id="re" name="option1" type="checkbox" value="rem" /> <label for="re">จำฉันไว้</label>
	                	{%endif%}
	                	</td>
	            </tr>
	            <tr valign="middle">
					<td align="left" width="120" style="font-size:24px;">&nbsp;</td>
	                <td align="left" width="120" style="font-size:22px;"><input id="log" class="loginp" type="submit" value=""/>
	                	<input class="pubp" type="submit" value="" /></td>
	            </tr>
	            <tr valign="middle">
					<td align="left" width="120" style="font-size:24px;">&nbsp;</td>
	                <td align="left" width="120" style="font-size:22px;"><a href="{{path('FTRWebBundle_forget')}}" class="link">ลืมรหัสผ่าน?</a></td>
	            </tr>
	    	
        </table>
	</div>
    <div style="width:300px; display:block; position:relative; float:left;">
		<table style="padding-left:10px;">
        	<tr height="50" valign="middle">
				<td align="center" width="300" style="font-size:24px;">หรือ</td>
            </tr>
            <tr height="50" valign="middle">
				<td align="center" width="300"><div class="fb-login-button">เข้าสู่ระบบด้วย Facebook</div></td>
            </tr>
        </table>
	</div>
</body>
</html>
