{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<script type="text/javascript">
	$(function() {
		$("#demo5").paginate({
			count : 30,
			start : 1,
			display : 20,
			border : false,
			text_color : '#423C3B',
			text_hover_color : '#423C3B',
			images : false,
			mouse : 'press'
		});
	}); 
</script>
<script type="text/javascript">
	$(document).ready(function() {

		$("a#gmap").fancybox({
			'overlayShow' : true,
			'transitionIn' : 'elastic',
			'transitionOut' : 'elastic'
		});
		$("a#imap").fancybox({
			'overlayShow' : true,
			'transitionIn' : 'elastic',
			'transitionOut' : 'elastic'
		});
		$("a#cmap").fancybox({
			'overlayShow' : true,
			'transitionIn' : 'elastic',
			'transitionOut' : 'elastic'
		});
	}); 
</script>
<script>
	function chValidate() {
		var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
		var cap = "{{app.session.get('captcha')}}";
		if ($('#name').val() == "") {
			$("#txterror").html("กรุณากรอก ชื่อ");
			return false;
		} else if ($('#tel').val() == "") {
			$("#txterror").html("กรุณากรอก หมายเลขโทรศัพท์");
			return false;
		} else if (document.getElementById('tel').value.length < 9) {
			$("#txterror").html("หมายเลขโทรศัพท์ไม่ถูกต้อง");
			return false;
		} else if ($('#title').val() == "") {
			$("#txterror").html("กรุณากรอก เรื่องที่ต้องการติดต่อ");
			return false;
		} else if ($('#mail').val() == "") {
			$("#txterror").html("กรุณากรอกอีเมลล์");
			return false;
		} else if (reg.test($('#mail').val()) == false) {
			$("#txterror").html("กรุณากรอก Email ให้ถูกต้อง");
			return false;
		} else if ($('#desc').val() == "") {
			$("#txterror").html("กรุณากรอก รายละเอียดที่ต้องการติดต่อ");
			return false;
		} else if ($('#captcha').val() != cap) {
			$("#txterror").html("กรุณากรอก รหัสให้ถูกต้อง");
			return false;
		} else {
			return true;
		}
	}
</script>
<script>$("#refreshimg").live('click', function() {
		$.post("{{path('FTRWebBundle_newimg')}}", function(data) {
			$("#captchaimage").html("<img src='{{asset('captcha/captcha_img.jpg')}}' width='160' height='40' style='padding-left:0px; padding-bottom:10px;'/>");
			//$("#captchaimage").load("{{asset('captcha/php/image_req.php')}}");
		});
		return false;
	});</script>
<div class="detail" style="margin-bottom:15px; height: 470px;">
	<img src="{{asset('images/contact.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
	<div style="width:380px; display:block; position:relative; float:left;">
		<table>
			<tr height="80" valign="middle">
				<td align="left" width="400" style="font-size:18px;"> FindTheRoom.com
				<br />
				เลขที่ 1 ซ. วิภาวดีรังสิต 2 แยก 2 ถ. วิภาวดีรังสิต
				<br />
				แขวงดินแดง เขตดินแดง กรุงเทพฯ 10400
				<br />
				<br />
				โทร 02-689-2400   แฟกซ์  02-689-2500 </td>
			</tr>
			<tr height="200" valign="middle">
				<td align="left" width="400"><a id="cmap" href="{{asset('images/map-contact.png')}}"><img src="{{asset('images/map-contact.png')}}" style="padding-left:0px;" width="340" height="210"/></a></td>
			</tr>
		</table>
	</div>
	<div style="width:620px; display:block; position:relative; float:left;">
		<form action="{{path('FTRWebBundle_sendcontact')}}" method="post" onsubmit="return chValidate();">
			<table>
				<tr valign="middle" height="40">
					<td align="left" colspan="4">ติดต่อเรา :</td>
				</tr>
				<tr valign="middle" height="40">
					<td align="left" width="100">ชื่อ : *</td>
					<td align="left" width="180">
					<input id="name" name="name" type="text" maxlength="30" />
					</td>
					<td align="left" width="120">เบอร์โทรศัพท์ : *</td>
					<td align="left" width="180">
					<input id="tel" name="tel" type="text" maxlength="10" />
					</td>
				</tr>
				<tr valign="middle" height="40">
					<td align="left" width="100">เรื่องติดต่อ : *</td>
					<td align="left" width="180">
					<input id="title" name="title" type="text" maxlength="30" />
					</td>
					<td align="left" width="120">อีเมล : *</td>
					<td align="left" width="180">
					<input id="mail" name="mail" type="text" maxlength="30" />
					</td>
				</tr>
				<tr valign="middle" height="100">
					<td align="left" width="100">รายะเอียด : *</td>
					<td align="left" colspan="3">					<textarea id="desc" name="desc" type="text" maxlength="500" class="longdesc"></textarea></td>
				</tr>
				<tr height="20">
					<td align="center" colspan="4"><div class="alertmsg" id="txterror"></div></td>
				</tr>

				<tr valign="top" height="40">
					<td align="left" width="100" style="padding-top:10px;">กรอกรหัสยืนยันตามรูปภาพ : *</td>
					<td align="left" width="180">
					<div id="captchaimage">
						<img src="{{asset('captcha/captcha_img.jpg')}}" width="160" height="40" style="padding-left:0px; padding-bottom:10px; padding-top:10px;"/>
					</div><a href='' id='refreshimg' title='Click to refresh image'>refresh</a>
					<input id="captcha" name="captcha" type="text" maxlength="6" />
					</td>
					<td align="left" colspan="2" style="padding-top:60px;">
					<input class="send" type="submit" value="" />
					<input class="cancel" type="submit" value="" />
					</td>
				</tr>
			</table>
		</form>

	</div>
</div>

<!--
<div id="ad1">
<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
<a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>

<div id="ad2">
<a href="#"><img src="{{asset('images/ad/ad1.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad2.gif')}}" /></a>
<a href="#"><img src="{{asset('images/ad/ad3.gif')}}" /></a>
<a href="#" style="margin-right:0px !important"><img src="{{asset('images/ad/ad4.gif')}}" /></a>
</div>
-->
{% endblock %}