{% extends 'FTRAdminBundle:Layout:panel_layout.html.twig' %}

{% block body %}
    <!-- ***** Jquery Notification ***** -->
    <script type="text/javascript" src="{{asset('js/gritter/js/jquery.gritter.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{asset('js/gritter/css/jquery.gritter.css')}}"/>

    <script type="text/javascript">
        function notifyBuilding(token) {
            var token = token;

            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'ท่านยังไม่ได้อนุมัติ : <a href="#innerPanel" style="color: #F0F060;">'+token+'</a> โครงการ',
                // (string | mandatory) the text inside the notification
                text:'<span style="color: #F0F060;">กรุณาอนุมัติ (Approve)โครงการด้วยค่ะ</span>',
                sticky: true
            });
        }

        function notifyWarning7Day(token) {
            var token = token;

            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'Banner : <a href="#innerPanel" style="color: #F5D300;">'+token+'</a> รายการ',
                // (string | mandatory) the text inside the notification
                text:'<span style="color: #F5D300;">แจ้งเตือน Banner ที่จะหมดอายุภายในอีก 7 วัน</span>',
                sticky: true
            });
        }

        function notifyWarning3Day(token) {
            var token = token;

            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'Banner : <a href="#innerPanel" style="color: #FF5500;">'+token+'</a> รายการ',
                // (string | mandatory) the text inside the notification
                text:'<span style="color: #FF5500;">แจ้งเตือน Banner ที่จะหมดอายุภายในอีก 3 วัน</span>',
                sticky: true
            });
        }

        function notifyWarning1Day(token) {
            var token = token;

            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'Banner : <a href="#innerPanel" style="color: red;">'+token+'</a> รายการ',
                // (string | mandatory) the text inside the notification
                text:'<span style="color: red;">แจ้งเตือน Banner ที่จะหมดอายุภายในอีก 1 วัน</span>',
                sticky: true
            });
        }
    </script>
    <!-- ***** Jquery Notification ***** -->
  <!-- ***** Jquery Chart ***** -->
  <script type="text/javascript">
		$(function () {
		    var chart;
		    $(document).ready(function() {
		        chart = new Highcharts.Chart({
		            chart: {
		                renderTo: 'chartcontainer',
		                type: 'line',
		                marginRight: 130,
		                marginBottom: 25
		            },
		            title: {
		                text: 'Monthly Average Temperature',
		                x: -20 //center
		            },
		            subtitle: {
		                text: 'Source: WorldClimate.com',
		                x: -20
		            },
		            xAxis: {
		                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
		                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
		            },
		            yAxis: {
		                title: {
		                    text: 'Temperature (°C)'
		                },
		                plotLines: [{
		                    value: 0,
		                    width: 1,
		                    color: '#808080'
		                }]
		            },
		            tooltip: {
		                formatter: function() {
		                        return '<b>'+ this.series.name +'</b><br/>'+
		                        this.x +': '+ this.y +'°C';
		                }
		            },
		            legend: {
		                layout: 'vertical',
		                align: 'right',
		                verticalAlign: 'top',
		                x: -10,
		                y: 100,
		                borderWidth: 0
		            },
		            series: [{
		                name: 'Tokyo',
		                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 20.6]
		            }, {
		                name: 'New York',
		                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
		            }, {
		                name: 'Berlin',
		                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
		            }, {
		                name: 'London',
		                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
		            }]
		        });
		    });
		    
		});
  </script>

  <script src="{{asset('js/panel/chart/highcharts.js')}}"></script>
  <script src="{{asset('js/chart/modules/exporting.js')}}"></script>
  
  <!-- ***** Jquery Chart ***** -->  
  
<div class="grid_12" style="margin: 20px 0 0 0;">
	
  <H1><B>Findtheroom Panel</B></H1>
  <hr>
  <p>Welcome to Visual Admin, a slick admin template for almost any project - front or back end. It's based on the 960 grid system which means you can have almost endless layout possibiliites as well as those that come ready to use straight out the box. Please have a click around and feel free to check out the screenshots.</p>
  <div id="chartcontainer" class="grid_12 marginB_20" style="height: 400px; margin: 0 auto"></div>
  <div class="clear"></div>
  <hr>
</div><!-- End #wrap -->



    <div class="grid_12  marginB_10" style=""><H2>อพาร์ทเม้นท์ที่ยังไม่ได้อนุมัติ</H2></div>
    <div class="grid_12  marginB_10" style="">
        <div id="innerPanel" class="detail" style="height: 100%; margin-bottom: 15px;">
            {% render "FTRAdminBundle:Building_site:buildingApprove" %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            notifyBuilding(countlist);
            notifyWarning7Day("{{ day1 }}");
            notifyWarning3Day("{{ day3 }}");
            notifyWarning1Day("{{ day7 }}");
        });
    </script>
{% endblock %}