<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
		<script src="{{asset('js/jquery.min.js')}}"></script>
		<script src="{{asset('js/html5placeholder.jquery.js')}}"></script>
		<script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
		<script src="{{asset('js/jquery.cookie.js')}}"></script>
		<script src="{{asset('js/jquery.cookie.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('js/fancybox/jquery.fancybox-1.3.4.pack.js')}}"></script>

		<script>
			$(document).ready(function() {
				$("#login").click(function(e) {
					$.fancybox({
						'content' : "{{path('FTRWebBundle_loginpublish',{'message':'1'})}}",
						'width' : 700,
						'height' : 400,
						'autoScale' : false,
						'transitionIn' : 'elastic',
						'transitionOut' : 'elastic',
						'type' : 'iframe'
					});
				});

				$("#home").click(function(e) {
					//alert("home");
					parent.location.href = "{{path('FTRWebBundle_homepage')}}";
				});
			});
		</script>
	</head>

	<body style=" background-color:#FFF; color:#423C3B;">

		<img src="{{asset('images/login-h.png')}}" style="padding-top: 20px;" />
		<hr style=" width:98%; margin-left:-5px; margin-top:15px; margin-bottom:10px;" />
		<div style="display:block; position:relative; font-size:22px; margin-top: 10px;">
			คุณได้ทำการยืนยันชื่อผู้ใช้งานเรียบร้อยแล้ว
		</div>
		<div style="display:block; position:relative; margin-top:15px;">
			{% if app.session.get('user') != NULL %}
			<a id="home" href=""><img src="{{asset('images/back_home.png')}}" /></a>
			{% else %}
			<a id="login" href="{{path('FTRWebBundle_loginpublish',{'message':'1'})}}" style="margin-right:20px;"><img src="{{asset('images/login-bt2.png')}}" /></a>
			<a id="home" href=""><img src="{{asset('images/back_home.png')}}" /></a>
			{% endif %}

		</div>
	</body>
</html>
