<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>FindTheRoom</title>
    <style>
        body {
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 18px;
        }
    </style>
</head>

<body>
<div style="display: inline-block; line-height: normal;">
    <div align="center" style="text-align: -webkit-center; display:block">
        <table width="772" border="0" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td bgcolor="#FFFFFF" align="left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr height="50" valign="middle">
                            <td style="font-family:tahoma,verdana,arial;font-size:14px;line-height:18px;color:#000000;font-weight:bold;padding-left:40px">
                                เรียน คุณ {{firstName}} {{lastName}},
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" align="center">
                    <table width="708" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td valign="top" bgcolor="#FFFFFF"><a href="" target="_new"><img width="768" border="0"
                                                                                             alt=""
                                                                                             style="display:block"
                                                                                             src="images/email/email-head.jpg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" bgcolor="#FFFFFF"><a href="http://localhost:11001{{url}}"
                                                                  target="_new"><img width="768" border="0" alt=""
                                                                                     style="display:block"
                                                                                     src="images/email/confirm.jpg"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td width="345"><a href="{{path('FTRWebBundle_terms')}}"
                                               style="text-align:right;color:#666;font-family:arial;font-size:11px;text-decoration:none"
                                               target="_new">เงื่อนไขการใช้งานและนโยบายความเป็นส่วนตัว</a> <span
                                    style="text-align:right;color:#666;font-family:arial;font-size:11px">| </span><a
                                    href="{{path('FTRWebBundle_contact')}}"
                                    style="text-align:right;color:#666;font-family:arial;font-size:11px;text-decoration:none"
                                    target="_blank">ติดต่อเรา</a></td>
                            <td width="350" align="right"><font size="1" face="Arial" color="#666666">Copyright © 2012
                                FindTheRoom.com All rights reserved.</font></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>