{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<script type="text/javascript" src="{{asset('js/fancybox/jquery.fancybox-1.3.4.pack.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('css/jquery.fancybox-1.3.4.css')}}" media="screen" />
<script type="text/javascript" src="{{asset('js/fancybox/jquery.easing-1.4.pack.js')}}"></script>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId : '414830161885886', // App ID
			channelUrl : '//www.findtheroom.com//login.php', // Channel File ระบุไฟล์ที่จะใช้ login
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			xfbml : true // parse XFBML
		});
	};
	// Load the SDK Asynchronously
	( function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document)); 
</script>
<script>
	$(document).ready(function() {
		$("a#login").fancybox({
			'width' : 700,
			'height' : 400,
			'autoScale' : false,
			'transitionIn' : 'elastic',
			'transitionOut' : 'elastic',
			'type' : 'iframe'
		});
	});
</script>
<form action="{{path('FTRWebBundle_confirm')}}" method="post" onsubmit="return clickagree();" >
<div class="detail" style="height: 460px; margin-bottom: 15px;">
	<img src="{{asset('images/user.png')}}" style="display:block; position:relative; float:none;" />
	<hr class="line" style="top: 60px;" />
    <div style="width:1000px; display:block; position:relative; height:240px; margin-top: 40px;">
		<table style="margin-top: 0px;">
        	<tr height="60" valign="top">
				<td align="left" width="200" style="font-size:24px;">ชื่อแรก : *</td>
                <td align="left" width="300"><input name="firstname" id="firstname" type="text" maxlength="30" placeholder="กรุณากรอกชื่อแรก" style=" padding:2px; font-size:20px;" value="{{firstname}}" /><br /><label id="alert_fname" class="alertmsg"></label></td>
                <td align="left" width="200" style="font-size:24px;">นามสกุล : *</td>
                <td align="left" width="120"><input name="lastname" id="lastname" type="text" maxlength="30" placeholder="กรุณากรอกนามสกล" style=" padding:2px; font-size:20px;" value="{{lastname}}" /><br /><label id="alert_lname" class="alertmsg"></label></td>
            </tr>
            <tr height="60" valign="top">
				<td align="left" width="200" style="font-size:24px;">ชื่อผู้ใช้งาน : *</td>
                <td align="left" width="300"><input name="regusername" id="regusername" type="text" maxlength="30" placeholder="กรุณากรอกชื่อผู้ใช้งาน" style=" padding:2px; font-size:20px;" value="{{username}}"  /><br /><label id="alert_uname" class="alertmsg">{{erusername}}</label></td>
                <td align="left" width="200" style="font-size:24px;">อีเมล : *</td>
                <td align="left" width="120"><input name="email" id="email" type="text" maxlength="30" placeholder="กรุณากรอกอีเมล" style=" padding:2px; font-size:20px;" value="{{email}}"  /><br /><label id="alert_email" class="alertmsg">{{eremail}}</label></td>
            </tr>
            <tr height="60" valign="top">
				<td align="left" width="200" style="font-size:24px;">รหัสผ่าน : *</td>
                <td align="left" width="300"><input name="regpassword" id="regpassword" type="password" maxlength="30" placeholder="กรุณากรอกรหัสผ่าน" style=" padding:2px; font-size:20px;" /><br /><label id="alert_password" class="alertmsg"></label></td>
                <td align="left" width="200" style="font-size:24px;">ยืนยันรหัสผ่าน : *</td>
                <td align="left" width="120"><input name="confirmpass" id="confirmpass" type="password" maxlength="30" placeholder="ยืนยันรหัสผ่าน" style=" padding:2px; font-size:20px;" /><br /><label id="alert_conpassword" class="alertmsg"></label></td>
            </tr>
            <tr height="60" valign="top">
				<td align="left" width="200" style="font-size:24px;">เบอร์โทรศัพท์ : </td>
                <td align="left" width="300"><input name="tele" id="tele" type="text" maxlength="30" placeholder="กรุณากรอกเบอร์โทรศัพท์" style=" padding:2px; font-size:20px;" value="{{tel}}" /><br /><label id="alert_tel" class="alertmsg"></label class="alertmsg"></td>
                <td align="left" width="200" style="font-size:24px;" colspan="2"></td>
            </tr>
            <tr height="60" valign="top">
				<td align="left" style="font-size:24px;" colspan="2"><input id="ac" name="option1" type="checkbox" value="acc" /> <label for="ac">ยอมรับ <a href="{{path('FTRWebBundle_terms')}}" target="_new">เงื่อนไขการใช้งานและนโยบายความเป็นส่วนตัว</a></label><div id="alert_chakgree" class="alertmsg"></div></td>
                <td align="left" style="font-size:24px;">&nbsp;</td>
                <td align="left" width="150">
                	<input id="regis" class="regis" type="submit" value="" />
                	<a id="login" href="{{path('FTRWebBundle_loginpublish')}}" ><img src="{{asset('images/userlog.png')}}" style="margin-left:80px; margin-top:-65px;" />
                	</a>
                </td>
            </tr>
        </table>
	</div>
    <hr class="line" style="top: 400px;" />
    <div style="width:1000px; display:block; position:relative;">
		<table style="margin-top: 70px;">
            <tr height="60" valign="middle">
				<td align="right" width="400" style="font-size:24px;">หรือ</td>
                <td align="left" width="600"><div class="fb-login-button">เข้าสู่ระบบด้วย Facebook</div></td>
            </tr>
        </table>
	</div>
</div>
</form>
<script>
	function clickagree() {
		if ($('#firstname').val() == "") {
			$("#alert_fname").html("กรุณากรอก ชื่อ");
			$("#alert_fname").hide();
			$("#alert_fname").show("slow");
			document.getElementById('firstname').focus();
			return false;
		} else {
			$("#alert_fname").hide();
		}
		if ($('#lastname').val() == "") {
			$("#alert_lname").html("กรุณากรอก นามสกุล");
			$("#alert_lname").hide();
			$("#alert_lname").show("slow");
			document.getElementById('lastname').focus();
			return false;
		} else {
			$("#alert_lname").hide();
		}
		if ($('#regusername').val() == "") {
			$("#alert_uname").html("กรุณากรอก ชื่อผู้ใช้งาน");
			$("#alert_uname").hide();
			$("#alert_uname").show("slow");
			document.getElementById('username').focus();
			return false;
		} else {
			$("#alert_uname").hide();
			var reg = /[^A-Za-z0-9]/;
			if (reg.test($('#regusername').val()) == true) {
				$("#alert_uname").html("ชื่อผู้ใช้งาน จะต้องเป็นอักขระอังกฤษ หรือตัวเลข");
				$("#alert_uname").hide();
				$("#alert_uname").show("slow");
				document.getElementById('username').focus();
				return false;
			}
		}
		if ($('#email').val() == "") {
			$("#alert_email").html("กรุณากรอก Email");
			$("#alert_email").hide();
			$("#alert_email").show("slow");
			document.getElementById('email').focus();
			return false;
		} else {
			$("#alert_email").hide();
			var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
			if (reg.test($('#email').val()) == false) {
				$("#alert_email").html("กรุณากรอก Email ให้ถูกต้อง");
				$("#alert_email").hide();
				$("#alert_email").show("slow");
				document.getElementById('email').focus();
				return false;
			}
		}
		if ($('#regpassword').val() == "") {
			$("#alert_password").html("กรุณากรอก รหัสผ่าน");
			$("#alert_password").hide();
			$("#alert_password").show("slow");
			document.getElementById('regpassword').focus();
			return false;
		} else {
			$("#alert_password").hide();
			if (document.getElementById('regpassword').value.length < 8 || document.getElementById('regpassword').value.length > 12) {
				//alert(document.getElementById('regpassword').value);
				$("#alert_password").html("รหัสผ่านต้องมี 8 อักษร และไม่เกิน 12 อักษร");
				$("#alert_password").hide();
				$("#alert_password").show("slow");
				document.getElementById('regpassword').focus();
				return false;
			} else {
				var reg = /[a-z][0-9]/;
				if (reg.test($('#regpassword').val()) == false) {
					$("#alert_password").html("รหัสผ่านต้องมีตัวอักษรและตัวเลข");
					$("#alert_password").hide();
					$("#alert_password").show("slow");
					document.getElementById('regpassword').focus();
					return false;
				}
			}
		}
		if ($('#confirmpass').val() == "") {
			$("#alert_conpassword").html("กรุณากรอก รหัสผ่าน");
			$("#alert_conpassword").hide();
			$("#alert_conpassword").show("slow");
			document.getElementById('confirmpass').focus();
			return false;
		} else {
			$("#alert_conpassword").hide();
			if ($('#confirmpass').val() != $('#regpassword').val()) {
				$("#alert_conpassword").html("รหัสผ่านไม่ตรงกัน");
				$("#alert_conpassword").hide();
				$("#alert_conpassword").show("slow");
				document.getElementById('confirmpass').focus();
				return false;
			}
		}
		if ($('#tele').val() != "") {
			$("#alert_tel").hide();
			var reg = /[0-9]/;
			if (document.getElementById('tele').value.length < 9 && document.getElementById('tele').value.length > 10 && reg.test($('#tele').val())) {
				$("#alert_tel").html("หมายเลขโทรศัพท์ไม่ถูกต้อง");
				$("#alert_tel").hide();
				$("#alert_tel").show("slow");
				document.getElementById('tele').focus();
				return false;
			}
		}
		if (document.getElementById('ac').checked == false) {
			document.getElementById("alert_chakgree").innerHTML = "กรุณาเช็ค ยอมรับเงื่อนไขและข้อตกลง";
			$("#alert_chakgree").hide();
			$("#alert_chakgree").show("slow");
			return false;
		}
		return true;
	}
</script>
{% endblock %}
