<script>
    $(document).ready(function () {
        $(".btnCancel").click(function () {
            //alert('working');
            toggle(".editPanel", 'hide');
            return false;
        });

        function toggle(id, toggle) {
            $(id).animate({
                left:'+=50',
                height:toggle
            }, 500, function () {
            });
        }

        var url = "{{ path('user_admin_update', { 'id': entity.id }) }}";
        $("#formEdit").submit(function () {
            //alert($(this).serialize());
            if (chkValidate() != false) {
                if (!confirm('คุณต้องการแก้ไขข้อมูล ใช่หรือไม่')) {
                    return false;
                }
                $.ajax({
                    type:"POST",
                    url:url,
                    data:$(this).serialize(),
                    success:function (msg) {
                        //alert(msg);
                        if (msg == 'finish') {
                            // $('#listBuildingSite').load(window.location + "show");
                            toggle(".editPanel", 'hide');
                            $('#listAdmin').fadeOut('slow').load(window.location + "show").fadeIn("slow");
                        } else if (msg == 'fail') {
                            alert('ชื่อนี้มีคนใช้งานแล้ว');
                        } else {
                            $('.innerPanel').html(msg);
                            alert('การแก้ไขผิดพลาด');
                        }
                    }
                });
            }
            return false;
        });

    });
</script>
<style type="text/css">
    #btnEdit {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        display: block;
        float: none;
        height: 50px;
        position: absolute;
        margin-left: 70px;
        margin-top: -55px;
    }

    #btnInputEdit {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
</style>
<form id="formEdit" action="{{ path('user_admin_update', { 'id': entity.id }) }}"
      method="post" {{ form_enctype(edit_form) }}>
    <fieldset>
        <legend>
            CREATE ADMIN
        </legend>
        <div class="label" style="">
            {{ form_label(edit_form.username) }}
        </div>
        {{ form_widget(edit_form.username, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(edit_form.username) }}
        <br/>

        <div class="label" style="">
            {{ form_label(edit_form.password) }}
        </div>
        {{ form_widget(edit_form.password, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(edit_form.password) }}
        <br/>

        <div class="label" style="">
            {{ form_label(edit_form.firstname) }}
        </div>
        {{ form_widget(edit_form.firstname, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(edit_form.firstname) }}
        <br/>

        <div class="label" style="">
            {{ form_label(edit_form.lastname) }}
        </div>
        {{ form_widget(edit_form.lastname, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(edit_form.lastname) }}
        <br/>

        <div class="label" style="">
            {{ form_label(edit_form.phone_number) }}
        </div>
        {{ form_widget(edit_form.phone_number, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(edit_form.phone_number) }}
        <br/>

        <div class="label" style="">
            {{ form_label(edit_form.userlevel) }}
        </div>
        {{ form_widget(edit_form.userlevel, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(edit_form.userlevel) }}

        {{ form_rest(edit_form) }}
        <br/>
        <span style="float: right;">
            <img src="{{ asset('images/cancel.png')}}" id="btnCancel" width="50" height="50" style="cursor:pointer;margin-right: 70px"/>
                &nbsp;&nbsp;
            <div id="btnEdit">
                <input type="submit" id="btnInputEdit" value="Edit">
            </div>
		</span>
    </fieldset>
</form>
<script>
    function chkValidate() {
        var regUser = /[^A-Za-z0-9_\.]/;
        var regPass = /[a-z][0-9]/;
        var regTel = /^[\d]+$/;
        if ($("#ftr_adminbundle_user_admintype_username").val().length < 5) {
            alert("ชื่อผู้ใช้งานจะต้องไม่น้อยกว่า 5 ตัว");
            return false;
        } else if (regUser.test($('#ftr_adminbundle_user_admintype_username').val()) == true) {
            alert("ชื่อผู้ใช้งาน จะต้องเป็นอักขระอังกฤษ หรือตัวเลข");
            return false;
        } else if ($("#ftr_adminbundle_user_admintype_password").val().length < 6) {
            alert("รหัสผ่านจะต้องไม่น้อยกว่า 6 ตัว");
            return false;
        } else if (!$("#ftr_adminbundle_user_admintype_password").val().match(regPass)) {
            alert("รหัสผ่านจะต้องเป็นตัวอักษร และตัวเลข");
            return false;
        } else if ($("#ftr_adminbundle_user_admintype_phone_number").val().length < 9 || $("#ftr_adminbundle_user_admintype_phone_number").val().length > 10) {
            alert("หมายเลฃโทรศัพท์ผิด");
            return false;
        } else if (!$("#ftr_adminbundle_user_admintype_phone_number").val().match(regTel)) {
            alert("หมายเลขโทรศัพท์ต้องเป็นตัวเลขอย่างเดียว");
            return false;
        }
        return true;
    }
</script>