<div class="ad1">
    <div class='adsThumbFrame'>
        {%if app.session.get('zoneD1') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD1')|raw}}
        {%endif%}

    </div>
    <div class='adsThumbFrame'>
        {%if app.session.get('zoneD2') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD2')|raw}}
        {%endif%}
    </div>
    <div class='adsThumbFrame'>
        {%if app.session.get('zoneD3') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD3')|raw}}
        {%endif%}
    </div>
    <div class='omega adsThumbFrame'>
        {%if app.session.get('zoneD4') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD4')|raw}}
        {%endif%}
    </div>
    <div class='adsThumbFrame '>
        {%if app.session.get('zoneD5') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD5')|raw}}
        {%endif%}
    </div>
    <div class='adsThumbFrame'>
        {%if app.session.get('zoneD6') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD6')|raw}}
        {%endif%}
    </div>
    <div class='adsThumbFrame'>
        {%if app.session.get('zoneD7') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD7')|raw}}
        {%endif%}
    </div>
    <div class='omega adsThumbFrame'>
        {%if app.session.get('zoneD8') is empty%}
        <img src='{{asset('images/default/banner.jpg')}}' class='adsThumb' alt='Visit Computer Hope'>
        {%else%}
        {{app.session.get('zoneD8')|raw}}
        {%endif%}
    </div>
</div>