<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FindTheRoom</title>
<link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('css/gooeymenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('css/global.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/paging.css')}}">
<script src="{{asset('js/jquery.min.js')}}"></script>
<script src="{{asset('js/html5placeholder.jquery.js')}}"></script>
<script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset('js/slides.min.jquery.js')}}"></script>
<script src="{{asset('js/paging/jquery.paginate.js')}}"></script>
<script type="text/javascript" src="{{asset('js/fancybox/jquery.fancybox-1.3.4.pack.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('css/jquery.fancybox-1.3.4.css')}}" media="screen" />
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: "{{asset('images/slider/loading.gif')}}",
				play: 5000,
				pause: 2500,
				hoverPause: true,
				effect: 'fade',
				fadeSpeed: 350,
				fadeEasing: "easeOutQuad",
				crossfade: true
			});
			$('#slides2').slides({
				preload: true,
				preloadImage: "{{asset('images/slider/loading.gif')}}",
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
			$('#slides3').slides({
				preload: true,
				preloadImage: "{{asset('images/slider/loading.gif')}}",
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
			$('#slides4').slides({
				preload: true,
				preloadImage: "{{asset('images/slider/loading.gif')}}",
				play: 5000,
				pause: 5000,
				hoverPause: true,
				generatePagination: false
			});
		});
</script>
<script>
    $(function(){
      $(':input[placeholder]').placeholder();
    });
</script>
<script language="javascript">
		$(document).ready(function(){
		var mybrowser=navigator.userAgent;
		if(mybrowser.indexOf('Firefox')>0){
		$(".login").css("marginLeft","5px");
		$(".head hr").css("marginTop","5px");
		//$(".or").css("marginLeft","20px");
		//$(".link").css("marginLeft","80px");
		}
		});
</script>
<script type="text/javascript">  
$(function(){  
    $('ul#navi_containTab > li').click(function(event){  
            var menuIndex=$(this).index();  
            $('ul#detail_containTab > li:visible').hide();             
            $('ul#detail_containTab > li').eq(menuIndex).show(); 
    });  
	$('ul#navi_containTab2 > li').click(function(event){  
            var menuIndex=$(this).index();  
            $('ul#detail_containTab2 > li:visible').hide();             
            $('ul#detail_containTab2 > li').eq(menuIndex).show(); 
    });  
    $("ul#navi_containTab3 > li").click(function(event){  
            var menuIndex=$(this).index();  
            $("ul#detail_containTab3 > li:visible").hide();             
            $("ul#detail_containTab3 > li").eq(menuIndex).show(); 
    }); 
	$('li#tabNavi1').click(function(event){  
            $('#recommend').css("marginTop","15px");             
    });  
	$('li#tabNavi2').click(function(event){  
            $('#recommend').css("marginTop","15px");             
    }); 
	$('li#tabNavi3').click(function(event){  
            $('#recommend').css("marginTop","215px");             
    }); 
});  
</script>

<script type="text/javascript"> 
function enact(what){
     var p = what.parentNode;
     var els = p.getElementsByTagName('li');
     for(i=0;i<els.length;i++){
          els[i].className = '';
     }
     what.className = 'active';
}
</script>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="header">
	<span>Follow Us On :</span><div class="social"><a href="http://www.facebook.com/FindTheRoom" target="_new"><img src="{{asset('images/fb-icon.gif')}}" /></a> <a href='#' target="_blank"><img src="{{asset('images/tw-icon.gif')}}" /></a></div>
	<div id="logo"></div>
    <div id="login">
    	{% if app.session.get('user') %}    	
    		<form action="{{path('FTRWebBundle_logout')}}" method="post">
    			welcome {{ app.session.get('user') }}
    			<input class="login" type="submit" value="" />
        	</form>
        {% else %}	
	        <form action="{{path('FTRWebBundle_login')}}" method="post">
	    		<input name="username" type="text" value="" maxlength="25" placeholder="กรุณากรอกชื่อผู้ใช้งาน" />
				<input name="password" type="password" value="" maxlength="25" placeholder="กรุณากรอกรหัสผ่าน" />
				<input class="login" type="submit" value="" />
				<input type="hidden" name="layoutlog" value="layout" />
	        </form>
        {% endif %}
    </div>
    
</div>

<div id="menu">
	<hr />
    <ul id="gooeymenu1" class="gelbuttonmenu">
    	 <li><a id="mainpage" href="{{path('FTRWebBundle_homepage')}}">หน้าแรก</a></li>
         <li><a id="searchpage" href="{{path('FTRWebBundle_search')}}">ค้นหาอย่างละเอียด</a></li>
         <li><a id="mainpage" href='#'>ลงโฆษณา</a></li>
         <li><a id="publishpage" href="{{path('FTRWebBundle_publish')}}">ลงประกาศห้องพักฟรี</a></li>
         <li><a id="mainpage" href="{{asset('forum/upload/index.php')}}">กระดานพูดคุย</a></li>
         <li><a id="contactpage" href="{{path('FTRWebBundle_contact')}}">ติดต่อเรา</a></li>
    </ul>
    <hr />
</div>
<script>	
	var url = window.location.href,check=false;
	var urlparts = url.split("/");
	for(i = 0; i < urlparts.length; i++){
		if (urlparts[i]=='search'){$("#searchpage").addClass("selected");check=true}
		else if (urlparts[i]=='special/beauty'){$("#").addClass("selected");check=true}
		else if (urlparts[i]=='publish'){$("#publishpage").addClass("selected");check=true}
		else if (urlparts[i]=='special/beauty'){$("#").addClass("selected");check=true}
		else if (urlparts[i]=='contact'){$("#contactpage").addClass("selected");check=true}
	}
	if(check==false)	$("#mainpage").addClass("selected");

</script>
{% block body %}
{% endblock %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="footer">
	<ul>
        <li class="head"><img src="{{asset('images/footer1.png')}}" /><hr /><a href='#'>หน้าแรก</a> <a href='#'>ค้นหาอย่างละเอียด</a> <a href='#'>ลงโฆษณา</a> <a href='#'>ลงประกาศห้องพักฟรี</a> <a href='#'>กระดานพูดคุย</a> <a href="#">ติดต่อเรา</a></li>
        <li class="head"><img src="{{asset('images/footer2.png')}}" /><hr /><a href='#'>อพาร์ทเม้นต์</a> <a href='#'>หอพักชาย</a> <a href='#'>หอพักหญิง</a></li>
        <li class="head"><img src="{{asset('images/footer3.png')}}" /><hr /><a href='#'>เขตกรุงเทพฯ</a> <a href='#'>ใกล้มหาวิทยาลัย</a> <a href='#'>ใกล้รถไฟฟ้า BTS</a> <a href='#'>ใกล้รถไฟฟ้า MRT</a> <a href='#'>ตามสถานที่ใกล้เคียง</a></li>
        <li class="head"><img src="{{asset('images/footer4.png')}}" /><hr /><a href='#'>Facebook</a> <a href='#'>Twitter</a> <div class="fb-like-box" data-href="http://www.facebook.com/FindTheRoom" data-width="205" data-height="65" data-show-faces="false" data-stream="false" data-header="true" style='background-color:#FFF; margin-left: 10px; margin-top: 10px;'></div></li>
	</ul>
</div>

<div id="copyr">
<span>&copy; 2012 FindTheRoom.com</span> <span style="float:right;">ติดต่อสอบถามโทร. 02-123-4567</span>
</div>

</body>
</html>
