<!-- jQuery data table -->
<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
{#<script type='text/javascript' src='{{asset("js/paging/jquery.dataTables.js")}}'></script>#}
<link rel="stylesheet" href='{{asset("css/paging/sytletable.css")}}' type="text/css" id="" media="print, projection, screen" />
<script>
    $(document).ready(function() {
        $(".btnEditZone").click(function(){
            $("#zoneSH").hide("slow");
            $('#newZone').fadeOut('slow');
            $('#editZone').fadeOut().load(this.href).fadeIn("slow");
            document.getElementById('containerwrap').scrollIntoView(true);
            return false;
        });

        $(".btnDelete").click(function(){
            if (!confirm("คุณต้องการลบ Zone นี้ใช่หรือไม่")){
                return false;
            }
            var url = this.href;
            $.ajax({
                type : "POST",
                url : url,
                data : {checkPost: 'delete'},
                success : function(msg) {
                    if (msg == "finish_math"){
                        alert('!!! Zone นี้มีการใช้งานอยู่ \nไม่สามารถลบออกได้');
                    }else if (msg == 'finish') {
                        $('#innerPanel').fadeOut(100).load("{{ path('zone') }}").fadeIn("slow");
                        alert('√ ทำการลบ Zone เรียบร้อยแล้ว');
                    } else {
                        alert(msg);
                        alert('เกิดการผิดพลาด\n** กรุณาตรวจสอบ **');
                    }
                }
            });
            return false;
        });

        $("#btnNewZone").click(function(){
            $("#zoneSH").hide("slow");
            $('#editZone').fadeOut('slow');
            $('#newZone').fadeOut().load("{{ path('zone_new') }}").fadeIn("slow");
            return false;
        });

        $(".inPage").click(function(){
            var value = this.value;
            var recordValue = $(".record").val();
            var send = "?numPage=" + value + "&record=" + recordValue;
            alert("{{ path('zone') }}" + send)
            $.post("{{ path('zone') }}" + send, function(data) {
                $('#innerPanel').html(data);
            });
            return false;
        });
    });
</script>

<script type="text/javascript">
//    jQuery.fn.dataTableExt.oSort['string-case-asc'] = function(x, y) {
//        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
//    };
//
//    jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x, y) {
//        return ((x < y) ? 1 : ((x > y) ? -1 : 0));
//    };
//
//    $(document).ready(function() {
//        $("#sortTable1").dataTable({
//            "aaSorting" : [[1, 'asc']]
//        });
//    });
</script>
<fieldset>
    <h1>Zone list</h1>
    <div id="newZone"></div>
    <div id="editZone"></div>

    <span style="float: right;" id="zoneSH">
        <img src="{{ asset('images/add-bt.png')}}" id="btnNewZone" width="50" height="50" style="cursor:pointer;" />
    </span>
    <div class="clear"></div>
    <br/>
    <fieldset>
        <table id="sortTable1"  class="display" border="1" >
            <thead>
                    <th>Id</th>
                    <th>Zonename</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Actions</th>
            </thead>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.zonename }}</td>
                    <td>{{ entity.latitude }}</td>
                    <td>{{ entity.longitude }}</td>
                    <td>
                        <ul>

                            <li>
                                <a class="btnEditZone" href="{{ path('zone_edit', { 'id': entity.id }) }}">Edit</a>
                            </li>
                            <li>
                                <a class="btnDelete" href="{{ path('zone_edit', { 'id': entity.id }) }}">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </fieldset>
    <div class="paginator">
        <ul>
            <strong>showing {{ countListZone }} entities : Page </strong>
            {% for i in 1..paginator.numpages%}
                {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                    ...
                {% endif %}

                {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
                    {% if i==paginator.currentpage %}
                        {% if i == noPage %}
                            <input class="disable" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
                        {% else %}
                            <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
                        {% endif %}
                    {% else %}
                        {% if i == noPage %}
                        <input class="disable" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
                        {% else %}
                        <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
                    ...
                {% endif %}
            {% endfor %}
            <div align="right" style="float:right;">
                <select name="record" style="width:150px;" class="record">
                    <option value="10">กำหนด Record </option>
                    {% if limit == '50' %}
                        <option selected="yes" value="50">50 Record</option>
                        <option value="100">100 Record</option>
                        <option value="500">500 Record</option>
                        <option value="1000">1,000 Record</option>
                    {% elseif limit == '100' %}
                        <option value="50">50 Record</option>
                        <option selected="yes" value="100">100 Record</option>
                        <option value="500">500 Record</option>
                        <option value="1000">1,000 Record</option>
                    {% elseif limit == '500' %}
                        <option value="50">50 Record</option>
                        <option value="100">100 Record</option>
                        <option selected="yes" value="500">500 Record</option>
                        <option value="1000">1,000 Record</option>
                    {% elseif limit == '1000' %}
                        <option value="50">50 Record</option>
                        <option value="100">100 Record</option>
                        <option value="500">500 Record</option>
                        <option selected="yes" value="1000">1,000 Record</option>
                    {% else %}
                        <option value="50">50 Record</option>
                        <option value="100">100 Record</option>
                        <option value="500">500 Record</option>
                        <option value="1000">1,000 Record</option>
                    {% endif %}
                </select>
            </div>
        </ul>
    </div>
</fieldset>

{#<ul>#}
    {#<li>#}
        {#<a href="{{ path('zone_new') }}">#}
            {#Create a new entry#}
        {#</a>#}
    {#</li>#}
{#</ul>#}
