<!-- jQuery data table -->
<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
{#<script type='text/javascript' src='{{asset("js/paging/jquery.dataTables.js")}}'></script>#}
{#<link rel="stylesheet" href='{{asset("css/paging/sytletable.css")}}' type="text/css" id="" media="print, projection, screen" />#}
<script>
    $(document).ready(function() {
        $(".btnEditZone").click(function(){
            $("#zoneSH").hide("slow");
            $('#newZone').fadeOut('slow');
            $('#editZone').fadeOut().load(this.href).fadeIn("slow");
            document.getElementById('containerwrap').scrollIntoView(true);
            return false;
        });

        $(".btnDelete").click(function(){
            if (!confirm("คุณต้องการลบ Zone นี้ใช่หรือไม่")){
                return false;
            }
            var url = this.href;
            $.ajax({
                type : "POST",
                url : url,
                data : {checkPost: 'delete'},
                success : function(msg) {
                    if (msg == "finish_math"){
                        alert('!!! Zone นี้มีการใช้งานอยู่ \nไม่สามารถลบออกได้');
                    }else if (msg == 'finish') {
                        $('#innerPanel').fadeOut(100).load("{{ path('zone') }}").fadeIn("slow");
                        alert('√ ทำการลบ Zone เรียบร้อยแล้ว');
                    } else {
                        alert(msg);
                        alert('เกิดการผิดพลาด\n** กรุณาตรวจสอบ **');
                    }
                }
            });
            return false;
        });

        $("#btnNewZone").click(function(){
            $("#zoneSH").hide("slow");
            $('#editZone').fadeOut('slow');
            $('#newZone').fadeOut().load("{{ path('zone_new') }}").fadeIn("slow");
            return false;
        });

        // Paging
        $(".inPage").click(function(){
            var numPage = this.value;
            getHtml(numPage, getOrderBy());
            return false;
        });

        //กำหนดจำนวนหน้า
        $(".record").change(function(){
            var numPage = $(".disableBtn").val();
            getHtml(numPage, getOrderBy());
            return false;
        });

        //ค้นหาด้วยข้อความ
        $("#tbxSearch").change(function(){
            var numPage = 1;
            getHtml(numPage, getOrderBy());
            return false;
        });

        //Order by
        $(".btnOrderBy").click(function(){
            var type = this.id;
            type = type.replace('sort_', '');
            var numPage = $(".disableBtn").val();
            var orderBy = "&orderBy=" + type;
            if (orderByOld == type){
                if (orderByTypeOld == 'asc'){
                    orderBy += "&orderByType=desc";
                }else{
                    orderBy += "&orderByType=asc";
                }
            }else{
                orderBy += "&orderByType=desc";
            }
            getHtml(numPage, orderBy);
            return false;
        });
    });

    // ค่าปัจจุบันในการ sort
    var orderByOld = "{{ orderBy }}";
    var orderByTypeOld = "{{ orderByType }}";

    //get ค่าการ sort ปัจจุบัน
    function getOrderBy(){
        var strOrderBy = "&orderBy=" + orderByOld + "&orderByType=" + orderByTypeOld;
        return strOrderBy;
    }

    //Paging, Sorting, Search
    function getHtml(numPage, orderBy){
        var recordValue = $(".record").val();
        var textSearch = $("#tbxSearch").val();
        var send = "?numPage=" + numPage + "&record=" + recordValue + "&textSearch=" + textSearch + orderBy;
        $.post("{{ path('zone') }}" + send, function(data) {
            $('#innerPanel').html(data);
        });
    }
</script>
<style type="text/css">
    .inPage {
        cursor: pointer;
    }
    /*#tbZone{*/
        /*margin: 0 auto;*/
        /*clear: both;*/
        /*width: 100%;*/
        /*border-collapse: collapse;*/
        /*border-spacing: 0;*/
    /*}*/
</style>
<style type="text/css">
    #tbZone {
        border: 1px solid #e3e3e3;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    #tbZone td, #tbZone th {
        padding: 5px;
        color: #333;
    }
    #tbZone thead {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        padding: .2em 0 .2em .5em;
        text-align: left;
        color: #4B4B4B;
        background-color: #C8C8C8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
        background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
        border-bottom: solid 1px #999;
    }
    #tbZone th {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        text-shadow: white 1px 1px 1px;
    }
    #tbZone td {
        line-height: 20px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
    #tbZone td:hover {
        background-color: #fff;
    }
    .datagrid ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}
</style>
<fieldset>
    <h1>Zone list</h1>
    <div id="newZone"></div>
    <div id="editZone"></div>

    <span style="float: right;" id="zoneSH">
        <img src="{{ asset('images/add-bt.png')}}" id="btnNewZone" width="50" height="50" style="cursor:pointer;" />
    </span>
    <div class="clear"></div>
    <br/>
    <fieldset>
        <table id="tbZone" border="1" >
            <thead>
                <th><a class="btnOrderBy" href="#" id="sort_id">Id</a></th>
                <th><a class="btnOrderBy" href="#" id="sort_zonename">Zonename</th>
                <th><a class="btnOrderBy" href="#" id="sort_latitude">Latitude</th>
                <th><a class="btnOrderBy" href="#" id="sort_longitude">Longitude</th>
                <th>Actions</th>
            </thead>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.zonename }}</td>
                    <td>{{ entity.latitude }}</td>
                    <td>{{ entity.longitude }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btnEditZone" href="{{ path('zone_edit', { 'id': entity.id }) }}">Edit</a>
                            </li>
                            <li>
                                <a class="btnDelete" href="{{ path('zone_edit', { 'id': entity.id }) }}">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2"></td>
                    <td align="center">No matching records found</td>
                    <td colspan="2"></td>
                </tr>
            {% endfor %}
        </table>
    </fieldset>
    <div class="datagrid">
        <ul>
            <strong>showing {{ countListZone }} entities : Page </strong>
            {% for i in 1..paginator.numpages %}
                {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                    ...
                {% endif %}

                {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
                    {% if i==paginator.currentpage %}
                        {% if i == noPage %}
                            <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
                        {% else %}
                            <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
                        {% endif %}
                    {% else %}
                        {% if i == noPage %}
                        <input class="disableBtn" type="button" value="{{i}}" id="Submit" name="submitPage" disabled="true"/>
                        {% else %}
                        <input class="inPage" type="button" value="{{i}}" id="Submit" name="submitPage"/>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
                    ...
                {% endif %}
            {% endfor %}
            <div align="right" style="float:right;" ><strong>Search:</strong>
                <input id="tbxSearch" style="height: 25px;margin-bottom: 10px;" value="{{ textSearch }}" />&nbsp;&nbsp;
                <select name="record" style="width:150px;" class="record">
                    <option value="10">10 Record </option>
                    {% if limit == '50' %}
                        <option selected="yes" value="50">50 Record</option>
                        <option value="100">100 Record</option>
                        <option value="500">500 Record</option>
                    {% elseif limit == '100' %}
                        <option value="50">50 Record</option>
                        <option selected="yes" value="100">100 Record</option>
                        <option value="500">500 Record</option>
                    {% elseif limit == '500' %}
                        <option value="50">50 Record</option>
                        <option value="100">100 Record</option>
                        <option selected="yes" value="500">500 Record</option>
                    {% else %}
                        <option value="50">50 Record</option>
                        <option value="100">100 Record</option>
                        <option value="500">500 Record</option>
                    {% endif %}
                </select>
            </div>
        </ul>
    </div>
</fieldset>