<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script>
    $(document).ready(function() {
        $("#formCreate").submit(function(){
            var url = "{{ path('zone_create') }}";
            $.ajax({
                type : "POST",
                url : url,
                data : $(this).serialize(),
                success : function(msg) {
                    if (msg == "finish_comp"){
                        alert('!!! ชื่อ Zone "' + $("#ftr_adminbundle_zonetype_zonename").val() + '" นี้มีข้อมูลอยู่แล้ว');
                    }else if (msg == 'finish') {
                        $("#btnShowHide").show("slow");
                        $('#innerPanel').fadeOut(100).load("{{ path('zone') }}").fadeIn("slow");
                        $("#new").slideUp(300).delay(800).fadeOut(400);
                        alert('√ ทำการเพิ่ม Zone เรียบร้อยแล้ว');
                    } else {
                        $('#new').fadeOut().load(msg).fadeIn("slow");
                        alert('เกิดการผิดพลาด\n** กรุณาตรวจสอบ **');
                    }
                }
            });
            return false;
        });

        $("#btnCancelCreate").click(function(){
            $("#btnShowHide").show("slow");
            $("#new").slideUp(300).delay(800).fadeOut(400);
            return false;
        });
    });

    //ตรวจสอบค่าที่เป็น Double
    function validate(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault)
                theEvent.preventDefault();
        }
    }
</script>
<style type="text/css">
    #btnCreate {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        display: block;
        float: none;
        height: 50px;
        position: absolute;
        margin-left: 70px;
        margin-top: -55px;
    }

    #btnInputCreate {
        background: url("{{ asset('images/save.png')}}") no-repeat;
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
</style>
<fieldset id="crateField">
    <form id="formCreate" action="{{ path('zone_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="label" style="">
            {{ form_label(form.zonename) }}
        </div>
        {{ form_widget(form.zonename, { 'attr': {'class': 'widfat'} }) }} &nbsp;
        {{ form_errors(form.zonename) }}
        <br />
        <div class="label" style="">
            {{ form_label(form.latitude) }}
        </div>
        {{ form_widget(form.latitude, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
        {{ form_errors(form.latitude) }}
        <br />
        <div class="label" style="">
            {{ form_label(form.longitude) }}
        </div>
        {{ form_widget(form.longitude, { 'attr': {'class': 'widthin', 'onkeypress' : 'validate(event)'} }) }} &nbsp;
        {{ form_errors(form.longitude) }}
        <br />

        {{ form_widget(form) }}
       <span style="float: right;">
            <img src="{{ asset('images/cancel.png')}}" id="btnCancelCreate" width="50" height="50" style="cursor:pointer;margin-right: 70px" />
                &nbsp;&nbsp;
            <div id="btnCreate">
                <input type="submit" id="btnInputCreate" value="Edit">
            </div>
        </span>
    </form>
</fieldset>