<script>
	$(document).ready(function() {
		$(".editCancle").click(function() {
			//alert('working');
			toggle(".editPanel", 'hide');
			return false;
		});

		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

		var url = "{{ path('owner_update', { 'id': entity.id }) }}";
		$("#formEdit").submit(function() {	
			// alert($(this).serialize());		
			if (!confirm('คุณต้องการแก้ไขข้อมูล ใช่หรือไม่')) {
				return false;
			}
			$.ajax({
				type : "POST",
				url : url,
				data : $(this).serialize(),
				success : function(msg) {
					//alert(msg);
					if (msg == 'finish') {
						// $('#listBuildingSite').load(window.location + "show");
						toggle(".editPanel", 'hide');
						$('#listOwner').fadeOut('slow').load(window.location + "show").fadeIn("slow");
					} else {
						$('.innerPanel').html(msg);
						alert('การแก้ไขผิดพลาด');
					}
				}
			});
			return false;
		});

	}); 
</script>
<form id="formEdit" action="{{path('FTRAdminBundle_Createownerlists')}}" method="post">
	<fieldset>
		<legend>
			EDIT OWNER
		</legend>
		<div class="label" style="">
			Username:
		</div>
		<input type="text" id="OwnerUsername" name="OwnerUsername" class="widfat" value="{{entity.username}}" />
		<br />
		<div class="label" style="">
			Password:
		</div>
		<input type="text" id="OwnerPassword" name="OwnerPassword" class="widfat" value="{{entity.password}}" />
		<br />
		<div class="label" style="">
			First Name:
		</div>
		<input type="text" id="OwnerFristName" name="OwnerFristName" class="widfat" value="{{entity.firstname}}" />
		<br />
		<div class="label" style="">
			Last Name:
		</div>
		<input type="text" id="OwnerLastName" name="OwnerLastName" class="widfat" value="{{entity.lastname}}" />
		<br />
		<div class="label" style="">
			Phone Number:
		</div>
		<input type="text" id="OwnerPhoneNumber" name="OwnerPhoneNumber" class="widfat" value="{{entity.phone_number}}" />
		<br />
		<div class="label" style="">
			Fax Number:
		</div>
		<input type="text" id="OwnerFaxNumber" name="OwnerFaxNumber" class="widfat" value="{{entity.fax_number}}" />
		<br />
		<div class="label" style="">
			Email:
		</div>
		<input type="text" id="OwnerEmail" name="OwnerEmail" class="widfat" value="{{entity.email}}" />
		<br />

		<span style="float: right;">
			<input class="editCancle" type="button"  value="CANCLE EDIT">&nbsp;&nbsp;<input type="submit"  value="EDIT">
		</span>
	</fieldset>
</form>