<script type='text/javascript' src='{{asset("js/paging/jquery-1.4.2.js")}}'></script>
<script type='text/javascript' src='{{asset("js/paging/jquery.dataTables.js")}}'></script>
<link rel="stylesheet" href='{{asset("css/paging/sytletable.css")}}' type="text/css" id="" media="print, projection, screen" />
<script type="text/javascript">
	jQuery.fn.dataTableExt.oSort['string-case-asc'] = function(x, y) {
		return ((x < y) ? -1 : ((x > y) ? 1 : 0));
	};

	jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x, y) {
		return ((x < y) ? 1 : ((x > y) ? -1 : 0));
	};

	$(document).ready(function() {
		$("#sortTable1").dataTable({
			"aaSorting" : [[0, 'asc']]
		});
	}); 
</script>
<script>
	$(document).ready(function() {
		$(".linkEditUseradmin").click(function() {
			//alert(this.href + '/edit');
			$.post(this.href + '/edit', function(data) {
				//alert(data);
				$('.editPanel').slideUp(300).fadeIn(400);
				$('.editPanel').html(data);
				
				toggle(".createPanel", 'hide');
				toggle(".editPanel", 'show');
				$("#createrecordCancel").hide();
				$("#createrecord").show('slow');
				document.getElementById('createrecord').scrollIntoView();
			});
			return false;
		});

		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

		$(".linkDeleteUseradmin").click(function() {
			//alert(this.href + "/delete");
			if (!confirm('คุณต้องการลบข้อมูล ใช่หรือไม่')) {
				return false;
			}
			$.ajax({
				type : "POST",
				url : this.href + "/update",
				data : {
					checkdelete : 'deleted'
				},
				success : function(msg) {
					//alert(msg);
					if (msg == 'finish') {						
						toggle(".createPanel", 'hide');
						toggle(".editPanel", 'hide');
						
						$('#listAdmin').fadeOut('slow').load(window.location + "show").fadeIn("slow");
					} else {
						$('.innerPanel').html(msg);
						alert('การแก้ไขผิดพลาด');
					}
				}
			});
			return false;
		});
	}); 
</script>
<table id="sortTable1" class="display">
	<thead>
		<th style="width: 840px !important;">name</th>
		<th style="width: 50px !important;">config</th>
	</thead>
	{% for entity in entities%}
	<tr>
		<td>{{entity.username}}</td>
		<td><a href="{{entity.id}}" class="linkEditUseradmin">Edit</a>&nbsp;&nbsp;<a href="{{entity.id}}" class="linkDeleteUseradmin" >Delete</a></td>
	</tr>
	{% endfor%}
</table>

<div id="green" style="margin: auto;" class="pager green"></div>
<div class="clear"></div>